Node-RED/json/1_overview.json
[{"id":"d0c19df1.52a37","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":1,"width":"6","height":"6","label":"Current Data Quality","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7b3294","#008837","#008837","#2ca02c","#7b3294","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":483.10033416748047,"y":931.6006622314453,"wires":[[],[]],"inputLabels":["Erros & Success %"]},{"id":"b15bdd03.3b6c9","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":2,"width":"6","height":"6","label":"Quality Trend (30 Days)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008837","#f37288","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530.0001831054688,"y":1069.000732421875,"wires":[[],[]]},{"id":"13dca5bd.e5c82a","type":"comment","z":"8989e6b8.a1b1c8","name":"Overview Panel","info":"","x":95.10000610351562,"y":891.2003264427185,"wires":[]},{"id":"12954b43.4cbdc5","type":"comment","z":"8989e6b8.a1b1c8","name":"Top Errors Panel","info":"","x":892.0001220703125,"y":890.000509262085,"wires":[]},{"id":"587057d7.a72948","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":632.0001106262207,"y":1141.000379562378,"wires":[]},{"id":"6126d250.dfb40c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Error List","order":1,"width":"15","height":"5","format":"<!DOCTYPE html>\n\n<style>\n    table {\n        border-collapse: collapse;\n    }\n    th, td {\n        border-bottom: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n    }\n    th {\n        background-color: lightblue;\n        color: white;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        background-color: #f5f5f5;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>\n            <th>Harware</th>\n            <th>Logger Code / Channel</th>\n            <th>Utility Type</th>\n            <th>Errors</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.hardware}}</td>\n            <td class=\"row\">{{row.loggerCode}} - {{row.loggerChannel}}</td>\n            <td class=\"row\">{{row.util}}</td>\n            <td class=\"row\">{{row.nErrors}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1133.1006622314453,"y":932.6009130477905,"wires":[["3393a545.bcd39a","85f03be5.ae5ee8"]]},{"id":"3807c9a3.a94846","type":"comment","z":"8989e6b8.a1b1c8","name":"Quality Overview Tab","info":"","x":111.10000610351562,"y":27.000001907348633,"wires":[]},{"id":"cd22f057.a287","type":"function","z":"8989e6b8.a1b1c8","name":"Initialise Variables","func":"global.set(\"count\", 0);\nglobal.set(\"limit\", 500);\n\n// API Variables\nglobal.set(\"apikey\", \"672f2e70-46b4-4ce1-a7ab-ce029bcc0b82\"); // Personal API key from CKAN\nglobal.set(\"apiuser\", \"ckanapi\"); // Basic auth username\nglobal.set(\"apipass\", \"\"); // Basic auth password\n\n// Filtering fields\nglobal.set(\"from\", new Date());\nglobal.set(\"to\", new Date());\nglobal.set(\"building\", \"AP000\"); // Default: Alexandra Park\nglobal.set(\"errortype\", 0);\nglobal.set(\"system\", \"All\");\nglobal.set(\"hardware\", \"All\");\n\n// All sensors additional filters\nglobal.set(\"assetCode\", \"\");\nglobal.set(\"loggerCode\", \"\");\nglobal.set(\"loggerChannel\", \"\");\n\nglobal.set(\"filenames\", []);\nglobal.set(\"array\", []);\n\nreturn msg;","outputs":"1","noerr":0,"x":400.00031661987305,"y":373.0001287460327,"wires":[["7f25d20c.e4c02c"]]},{"id":"eb30ee85.49c5","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.99991989135742,"y":373.00010108947754,"wires":[["cd22f057.a287"]]},{"id":"9c09d0be.16b83","type":"comment","z":"8989e6b8.a1b1c8","name":"System Setup","info":"","x":80,"y":84.00003051757812,"wires":[]},{"id":"797bebd1.da8dc4","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"/*Check for the number of assets an error was detected in compared to the number of meters in metadata*/\n\ncontext.meters = context.meters || {};\ncontext.assets = context.assets || [];\n\n// wait until meter metadata and mysql database has been accessed\nif (msg.topic == \"meters meta\") {\n  context.meters = msg.payload.result.records;\n} else if (msg.topic === 'SELECT * FROM erroneousassets') {\n  context.assets = msg.payload;\n}\n\n// if metadatat and mysql contain records\nif (context.meters.length > 0 && context.assets.length >= 0) {\n  \n    var msg1 = {}; // intialise return messages\n    var msg2 = {};\n\n    // calculate success %\n    var okN = context.meters.length - context.assets.length;\n    var succPerc = (okN / context.meters.length)*100;\n    msg1.payload = Math.round(succPerc);\n    msg1.topic = \"Success\";\n\n    // error % is 100 - success %\n    msg2.payload = 100 - msg1.payload;\n    msg2.topic = \"Error\";\n    \n    return [msg1, msg2]; // returns messages on different outputs\n}\nelse {\n  return null;\n}","outputs":"2","noerr":0,"x":186.1000747680664,"y":932.0003180503845,"wires":[["d0c19df1.52a37"],["d0c19df1.52a37"]]},{"id":"ca0a990d.376b38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Today","links":["256767d0.0f9d38","401ed0d7.b656a"],"x":31.09999656677246,"y":931.8003420829773,"wires":[["797bebd1.da8dc4"]]},{"id":"ff5efad9.a15c38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Month","links":["a9c51a99.1baf38"],"x":30.000045776367188,"y":1068.0003204345703,"wires":[[]]},{"id":"78d07c07.993c84","type":"function","z":"8989e6b8.a1b1c8","name":"Get Data Quality Past 30 Days","func":"var log = global.get(\"qualitylog\"); // list all sensors\nvar array = []; // to return\n\n/*Sort log to most recent time first, this should be the case anyway but this is a precaution*/\nlog.sort(function(a, b){\n    if(a.timeVal < b.timeVal) return 1;\n    if(a.timeVal > b.timeVal) return -1;\n    return 0;\n});\n\nvar daysAgo = log[0].timeVal;\ndaysAgo.setDate(d.getDate()-30);\n\nmsg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints = [];   // Array of data points \n\n/*Create a data point for every record in the quality log which is < 30 days ago*/\nfor(var i = 0; log[i].timeVal < daysAgo,getTime(); i++){ // for every record which is before 30 days ago\n\n    var point = {};\n    point.x = msg.payload.result.records[i].timestamp; // x-point is time\n    \n    var okN = log[i].total_assets - log[i].erroneous_assets; // y-point is percentage of erroneous assets\n    var succPerc = (okN / log[i].total_assets)*100;\n    point.y = Math.round(succPerc);\n      \n    dataPoints.push(point); // build the data array  \n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\nmsg.payload = [{topic: \"Reading\", data: dataPoints}]; // The payload is an array of {topic, data} objects\nreturn msg;\n","outputs":"1","noerr":0,"x":218.00004959106445,"y":1068.0004606246948,"wires":[["b15bdd03.3b6c9","7b5671d8.3b347","b5e08f22.e9e05"]]},{"id":"3d3f4cfe.734a34","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Dates (TODO)","func":"/*TODO Finds dates available to filter data using ckan API*/\n\n// Access API; earliest EMS / BMS file\n// Get first record date = firstDate\n\n// Access API; latest EMS / BMS file\n// Get last recorded date = lastDate\n\n// Build array from firstDate - lastDate into msg.options\n//msg.maxDate = new Date(); // no way to limit dates?\n\nreturn msg;","outputs":"2","noerr":0,"x":451.00008392333984,"y":562.0000429153442,"wires":[["107ade59.bfac92"],["f191a467.972098"]]},{"id":"f132ad29.c374b","type":"function","z":"8989e6b8.a1b1c8","name":"Error Types","func":"/*Finds errors available to filter data */\n\nvar ret = [{\"All\":0}];\nvar lookupList = global.get(\"errortypelookup\");\n\n// create an array of all error types\nfor (var i = 0; i < lookupList.length; i++){\n    \n    var key = lookupList[i].description;\n    var value = lookupList[i].id;  // key, value pair to add as option\n    var toPush = {};\n    toPush[key] = value; // create object to push and add key, value pair\n    ret.push(toPush);\n} \n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n});\n\nmsg.options = ret;\nmsg.topic = \"error list\";\nreturn msg;","outputs":"1","noerr":0,"x":405.0000991821289,"y":643.0000467300415,"wires":[["df37ce1a.fa343","24248a52.5b35f6","f33d8212.c38bd"]]},{"id":"d64f04d2.53e598","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Systems","func":"/*Finds systems (BMS / EMS) available to filter data using ckan API*/\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Utility Type\"]; // system; heating, water, oil etc.\n    \n    // only add system if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){ \n        ret.push(current);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nmsg.topic = \"utility list\";\nreturn msg;","outputs":"1","noerr":0,"x":437.0000743865967,"y":682.0000581741333,"wires":[["82e98b68.3459f8","25d82a3f.897346"]]},{"id":"4bbb507b.421e9","type":"link out","z":"8989e6b8.a1b1c8","name":"From","links":["63ce0ebe.46f01"],"x":966.000165939331,"y":525.0001201629639,"wires":[]},{"id":"dd0987fd.8ce488","type":"link out","z":"8989e6b8.a1b1c8","name":"To","links":["63ce0ebe.46f01"],"x":966.0001735687256,"y":565.0001192092896,"wires":[]},{"id":"e74bc4a4.416138","type":"link out","z":"8989e6b8.a1b1c8","name":"Building","links":["63ce0ebe.46f01"],"x":966.000165939331,"y":605.0001201629639,"wires":[]},{"id":"74b618d5.d95d98","type":"link out","z":"8989e6b8.a1b1c8","name":"Error","links":["63ce0ebe.46f01"],"x":966.0001735687256,"y":644.0001220703125,"wires":[]},{"id":"69c069bb.dc4af8","type":"link out","z":"8989e6b8.a1b1c8","name":"System","links":["63ce0ebe.46f01"],"x":967.0001735687256,"y":683.0001220703125,"wires":[]},{"id":"7419d645.6879d8","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":1539.100341796875,"y":393.00006103515625,"wires":[]},{"id":"983614fd.8d85e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Buildings","func":"/* Finds all available buildings to filter data */\n\nvar ret = [\"All\"]; // options always include an 'all'\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    var current = msg.payload.result.records[i][\"Building Name\"].trim();\n\n    // only add building if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){\n        \n        var key = msg.payload.result.records[i][\"Building Name\"];\n        var value = msg.payload.result.records[i][\"Building Code\"]; // key, value pair to add as option\n        var toPush = {};\n        toPush[key] = value; // create object to push and add key, value pair\n        ret.push(toPush);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n});\n\nmsg.options = ret;\nmsg.topic = \"building list\";\nreturn msg;","outputs":"1","noerr":0,"x":444.0000991821289,"y":604.0000495910645,"wires":[["a0294884.edd348","84507f92.c04c1","ca43af4.f47995"]]},{"id":"107ade59.bfac92","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"From","group":"2ed7948e.77b2cc","order":1,"width":"6","height":"1","passthru":false,"topic":"","x":712.2000465393066,"y":525.0000619888306,"wires":[["818748a6.118558"]]},{"id":"f191a467.972098","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"To","group":"2ed7948e.77b2cc","order":2,"width":"6","height":"1","passthru":false,"topic":"","x":712.2000122070312,"y":565.0000610351562,"wires":[["a10709f6.598ca8"]]},{"id":"a0294884.edd348","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Building","label":"Building","place":"Alexandra Park","group":"2ed7948e.77b2cc","order":3,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":720.2000122070312,"y":605.0000610351562,"wires":[["95b88749.2efde8"]]},{"id":"df37ce1a.fa343","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Error","label":"Error Type","place":"All","group":"2ed7948e.77b2cc","order":4,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":710.2000122070312,"y":644.0000610351562,"wires":[["a61eedaa.a331b"]]},{"id":"82e98b68.3459f8","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"System","label":"Utility","place":"All","group":"2ed7948e.77b2cc","order":5,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":719.2000122070312,"y":683.0000610351562,"wires":[["f434025f.54218"]]},{"id":"7b5671d8.3b347","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"2ed7948e.77b2cc","order":6,"width":"30","height":"6","label":"Data Quality","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008837","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":464.6000518798828,"y":1145.8003120422363,"wires":[[],[]]},{"id":"7f25d20c.e4c02c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends HTTP request headers to following HTTP request */\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\n//msg.url = \"https://\"+apiuser+\":\"+apipass+\"@ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.topic = \"planon metadata\"\n\nreturn msg;","outputs":1,"noerr":0,"x":592.0000839233398,"y":373.0000514984131,"wires":[["a6eb2fdc.b39a8"]]},{"id":"3d6515b8.3a96ca","type":"function","z":"8989e6b8.a1b1c8","name":"meters / sensors URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Meters Sensors\";\nmsg.url = \"\";\nmsg.topic = \"meters meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n        \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":989.000072479248,"y":373.0000534057617,"wires":[["1ee9ffd6.721e3"]]},{"id":"7d2955fa.f1c73c","type":"http request","z":"8989e6b8.a1b1c8","name":"all meter meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.0001411437988,"y":373.00003242492676,"wires":[["7419d645.6879d8","8587f908.208bd8"]]},{"id":"98db57bb.8d5e48","type":"function","z":"8989e6b8.a1b1c8","name":"loggers / controllers URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Loggers Controllers\";\nmsg.url = \"\";\nmsg.topic = \"loggers meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n    \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\n\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1000.0000419616699,"y":415.0000524520874,"wires":[["6b2b7823.6129a8"]]},{"id":"6b7c85d8.1d9a9c","type":"http request","z":"8989e6b8.a1b1c8","name":"all logger meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.6000061035156,"y":415.0000276565552,"wires":[["7419d645.6879d8","a3297796.11a758"]]},{"id":"a6eb2fdc.b39a8","type":"http request","z":"8989e6b8.a1b1c8","name":"All Metadata","method":"GET","ret":"obj","url":"","tls":"","x":764.8000717163086,"y":373.0000400543213,"wires":[["bd447cb7.ff48c","98db57bb.8d5e48","3d6515b8.3a96ca"]]},{"id":"1ee9ffd6.721e3","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1201.3999290466309,"y":373.0000219345093,"wires":[["7d2955fa.f1c73c"]]},{"id":"6b2b7823.6129a8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1202.3999271392822,"y":415.0000219345093,"wires":[["6b7c85d8.1d9a9c"]]},{"id":"bd447cb7.ff48c","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":939.0000495910645,"y":330.000018119812,"wires":[]},{"id":"256767d0.0f9d38","type":"link out","z":"8989e6b8.a1b1c8","name":"meter meta","links":["c3dc36f3.538c08","44f66b0a.577e24","ca0a990d.376b38"],"x":1630.10009765625,"y":349.4000244140625,"wires":[]},{"id":"541083fb.ae157c","type":"link out","z":"8989e6b8.a1b1c8","name":"logger meta","links":["a44b4fd4.2ed73"],"x":1629,"y":435.0000305175781,"wires":[]},{"id":"3beea470.59512c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read EMS / BMS Metadata from CKAN","info":"","x":159,"y":334,"wires":[]},{"id":"a44b4fd4.2ed73","type":"link in","z":"8989e6b8.a1b1c8","name":"building select","links":["541083fb.ae157c"],"x":261.10015392303467,"y":603.8000822067261,"wires":[["983614fd.8d85e8"]]},{"id":"4fb5aa0b.fd84e4","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Filter Menu","info":"","x":104,"y":486.00013160705566,"wires":[]},{"id":"f434025f.54218","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":871.0000762939453,"y":683.0001220703125,"wires":[["69c069bb.dc4af8"]]},{"id":"a61eedaa.a331b","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":871.000072479248,"y":644.0001220703125,"wires":[["74b618d5.d95d98"]]},{"id":"95b88749.2efde8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":869.0000381469727,"y":605.0001106262207,"wires":[["e74bc4a4.416138"]]},{"id":"a10709f6.598ca8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\n// var date = msg.payload;\n// if (!(date instanceof Date)){\n//     global.set(\"to\", new Date(date))\n// }\n// else {\n//     global.set(\"to\", msg.payload);\n// }\n\nglobal.set(\"to\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":870.000072479248,"y":565.0001182556152,"wires":[["dd0987fd.8ce488"]]},{"id":"818748a6.118558","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\n// var date = msg.payload;\n// if (!(date instanceof Date)){\n//     global.set(\"from\", new Date(date));\n// }\n// else {\n//     global.set(\"from\", msg.payload);\n// }\n\nglobal.set(\"from\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":868.000072479248,"y":525.0001182556152,"wires":[["4bbb507b.421e9"]]},{"id":"d77b532f.63064","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":844.1669311523438,"y":260.1333465576172,"wires":[["bcfa00c1.e532a"]]},{"id":"39d4912f.4c5dae","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM erroneousassets","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM erroneousassets\";\nreturn newMsg;","outputs":1,"noerr":0,"x":612.388879776001,"y":214.11111879348755,"wires":[["a39a2df0.f1362"]]},{"id":"e0b22c46.3ba12","type":"delay","z":"8989e6b8.a1b1c8","name":"1s","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364.1668109893799,"y":195.3334002494812,"wires":[["39d4912f.4c5dae","b7fe28.776ae1d8","a4037a0c.6e72e8","4dd9dc1b.9e83e4"]]},{"id":"4edb82c2.68317c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read eisquality Database","info":"A 1 second delay is needed to delay msg to the \nmysql database node, otherwise the msg arrives too\nsoon and the databse has not connected. Perhaps this\nprecaution will not be needed in future releases of\nnode-red-node-mysql","x":120,"y":157.0000238418579,"wires":[]},{"id":"db6eac29.ddcb","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.9333896636963,"y":195.9333577156067,"wires":[["e0b22c46.3ba12"]]},{"id":"b7fe28.776ae1d8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errortypelookup","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errortypelookup\";\nreturn newMsg;","outputs":1,"noerr":0,"x":613.9332885742188,"y":168.9333267211914,"wires":[["4a627813.fa8af8"]]},{"id":"4a627813.fa8af8","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":845.9333038330078,"y":168.93332481384277,"wires":[["f8366d4b.41896"]]},{"id":"ff3d0625.f09af8","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errortypelookup","links":["941b2590.6fd828"],"x":1090.1667919158936,"y":168.93335247039795,"wires":[]},{"id":"941b2590.6fd828","type":"link in","z":"8989e6b8.a1b1c8","name":"error select","links":["ff3d0625.f09af8","a9c51a99.1baf38"],"x":262.16678524017334,"y":642.666805267334,"wires":[["f132ad29.c374b"]]},{"id":"c3dc36f3.538c08","type":"link in","z":"8989e6b8.a1b1c8","name":"system select","links":["256767d0.0f9d38"],"x":262.9333333969116,"y":681.9333429336548,"wires":[["d64f04d2.53e598"]]},{"id":"a4037a0c.6e72e8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errors","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errors\";\nreturn newMsg;","outputs":1,"noerr":0,"x":581,"y":260,"wires":[["d77b532f.63064"]]},{"id":"a39a2df0.f1362","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846,"y":214,"wires":[["3d56936f.4931bc"]]},{"id":"401ed0d7.b656a","type":"link out","z":"8989e6b8.a1b1c8","name":"DB erroneousassets","links":["bfd66f5.a3c499","ca0a990d.376b38","e1ef3091.de152"],"x":1087.0000610351562,"y":214.0000410079956,"wires":[]},{"id":"a62d0dd2.6cf79","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errors","links":["ae49abc6.c34108","e12b0d8f.6235e"],"x":1086.000244140625,"y":260.0000295639038,"wires":[]},{"id":"680ef8b2.f14d08","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":157.81250762939453,"y":563.8189249038696,"wires":[["3d3f4cfe.734a34"]]},{"id":"84507f92.c04c1","type":"link out","z":"8989e6b8.a1b1c8","name":"Building List","links":["6e3ed2c7.204a0c"],"x":673,"y":724,"wires":[]},{"id":"25d82a3f.897346","type":"link out","z":"8989e6b8.a1b1c8","name":"System List","links":["84929bfc.d7b8f8","f688e36f.54454"],"x":672.0000991821289,"y":798.0000247955322,"wires":[]},{"id":"8587f908.208bd8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"meters\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":349,"wires":[["256767d0.0f9d38"]]},{"id":"a3297796.11a758","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"loggers\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1539,"y":435,"wires":[["541083fb.ae157c"]]},{"id":"e0fddea1.189bb","type":"comment","z":"8989e6b8.a1b1c8","name":"Same data used to populate dropdowns on other tabs","info":"","x":899,"y":743,"wires":[]},{"id":"e97e3e27.cee2a","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Charts","info":"","x":95,"y":830.0188074111938,"wires":[]},{"id":"4dd9dc1b.9e83e4","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM qualitylog","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM qualitylog\";\nreturn newMsg;","outputs":1,"noerr":0,"x":594.9332885742188,"y":123.9333267211914,"wires":[["bd4b753c.8bd818"]]},{"id":"bd4b753c.8bd818","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846.9333038330078,"y":123.93333053588867,"wires":[["1fea7f6c.d36d91"]]},{"id":"a9c51a99.1baf38","type":"link out","z":"8989e6b8.a1b1c8","name":"DB qualitylog","links":["941b2590.6fd828","ff5efad9.a15c38"],"x":1091.9332094192505,"y":123.9333381652832,"wires":[]},{"id":"b5e08f22.e9e05","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":482.9334526062012,"y":1106.5334815979004,"wires":[]},{"id":"70496421.27012c","type":"function","z":"8989e6b8.a1b1c8","name":"Populate List","func":"var LIST_SIZE = 5; // detemines size of returned list\n\nvar assets = global.get(\"erroneousassets\"); // all erroneous assets\nvar errors = global.get(\"errors\"); // all errors\nvar array = []; // to return\n\n/*Complete list of erroneous assets and their number of errors*/\nfor(var i = 0; i < assets.length; i++){ // for every erroneous asset\n\n    if (assets[i].logger_channel!==\"\" && assets[i].logger_code!==\"\"){\n        \n        var errorCount = 0; // number of error for the asset\n    \n        if(assets[i].hardware==\"meter\"){ // if the asset is a meter\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && assets[i].logger_channel===errors[j].logger_channel){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n        else if (assets[i].hardware==\"logger\"){ // if the asset is a logger\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && errors[j].logger_channel===\"\"){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n    \n        array.push({ // Add data to msg payload\n            hardware: assets[i].hardware,\n            loggerCode: assets[i].logger_code,\n            loggerChannel: assets[i].logger_channel,\n            util: assets[i].utility_type,\n            nErrors: errorCount,\n            time: assets[i].most_recent_error,\n        });\n    }\n}\n\n/*Reduce the list to the assets with the most errors*/\narray.sort(function(a, b){\n    if(a.nErrors < b.nErrors) return 1;\n    if(a.nErrors > b.nErrors) return -1;\n    return 0;\n});\narray = array.slice(0, LIST_SIZE);\n\nmsg.payload = array; // return complete list of condensed sensor data\nmsg.topic = \"populate erroneous assets\";\nreturn msg;\n","outputs":1,"noerr":0,"x":948.9333114624023,"y":932.6667556762695,"wires":[["f08f479b.487158","6126d250.dfb40c"]]},{"id":"f08f479b.487158","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"payload","x":1141.9335174560547,"y":890.6668853759766,"wires":[]},{"id":"bfd66f5.a3c499","type":"link in","z":"8989e6b8.a1b1c8","name":"Error Panel","links":["401ed0d7.b656a"],"x":830.1667776107788,"y":932.7335262298584,"wires":[["70496421.27012c"]]},{"id":"bcfa00c1.e532a","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errors\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":985.0000381469727,"y":259.9333481788635,"wires":[["a62d0dd2.6cf79"]]},{"id":"e4e1a69b.d53a18","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":204.16674041748047,"y":234.33353996276855,"wires":[["e0b22c46.3ba12"]]},{"id":"2e44590f.7ea3e6","type":"comment","z":"8989e6b8.a1b1c8","name":"Unfinished*","info":"","x":722.9333038330078,"y":1083.6666450500488,"wires":[]},{"id":"5caa153a.ccd3fc","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"Error Details","x":1429.0002517700195,"y":933.0000648498535,"wires":[[]]},{"id":"3393a545.bcd39a","type":"function","z":"8989e6b8.a1b1c8","name":"","func":"msg.payload= \"Error Details\";\nreturn msg;","outputs":1,"noerr":0,"x":1282.7667694091797,"y":932.466694355011,"wires":[["5caa153a.ccd3fc"]]},{"id":"85f03be5.ae5ee8","type":"link out","z":"8989e6b8.a1b1c8","name":"Erroneous Assets Click (Overview)","links":["99c677c9.1a6e18","ef6994b7.5279c8","69c378b6.fce488","fa76bfb6.fda52","d4ce55c5.e41b88"],"x":1250.0005822181702,"y":973.9333572387695,"wires":[]},{"id":"3d56936f.4931bc","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"erroneousassets\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":985.9333267211914,"y":213.93332481384277,"wires":[["401ed0d7.b656a"]]},{"id":"f8366d4b.41896","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"global.set(\"errortypelookup\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":990.9332885742188,"y":168.93331909179688,"wires":[["ff3d0625.f09af8"]]},{"id":"1fea7f6c.d36d91","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"qualitylog\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":988.9332885742188,"y":123.9333267211914,"wires":[["a9c51a99.1baf38"]]},{"id":"24248a52.5b35f6","type":"link out","z":"8989e6b8.a1b1c8","name":"Error List","links":["553afc29.456c14"],"x":672.6333618164062,"y":761.2000198364258,"wires":[]},{"id":"e55a801c.fea3","type":"ui_button","z":"8989e6b8.a1b1c8","name":"View All","group":"c58cdd95.eecf9","order":2,"width":"15","height":"1","passthru":false,"label":"View All","color":"","bgcolor":"","icon":"","payload":"All Errors","payloadType":"str","topic":"","x":1293.2670249938965,"y":1015.5334062576294,"wires":[["76ae1fc.374cce"]]},{"id":"76ae1fc.374cce","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"All Errors","x":1438.2669792175293,"y":1015.5333681106567,"wires":[[]]},{"id":"a894b3c7.e397a","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":204.93331909179688,"y":411.9333190917969,"wires":[["cd22f057.a287"]]},{"id":"b0e27221.ed086","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":205.93331909179688,"y":524.9333190917969,"wires":[["3d3f4cfe.734a34"]]},{"id":"ca43af4.f47995","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":474.93339920043945,"y":761.6000757217407,"wires":[]},{"id":"f33d8212.c38bd","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":405.9333724975586,"y":798.533278465271,"wires":[]},{"id":"aee31ab1.3aa358","type":"inject","z":"8989e6b8.a1b1c8","name":"","topic":"","payload":"01/01/2016","payloadType":"str","repeat":"","crontab":"","once":true,"x":498.9333724975586,"y":519.8001403808594,"wires":[["107ade59.bfac92"]]},{"id":"6f5c05f4.44c8fc","type":"comment","z":"8989e6b8.a1b1c8","name":"Attach Here one qualitylog in DB has data","info":"","x":176.9333267211914,"y":1108.6666259765625,"wires":[]},{"id":"3709d3aa.907cbc","type":"ui_group","z":"","name":"Overview","tab":"74572b8e.f09ac4","order":2,"disp":true,"width":"15"},{"id":"c58cdd95.eecf9","type":"ui_group","z":"","name":"Top Errors","tab":"74572b8e.f09ac4","order":3,"disp":true,"width":"15"},{"id":"2ed7948e.77b2cc","type":"ui_group","z":"","name":"Trends","tab":"74572b8e.f09ac4","order":4,"disp":true,"width":"30"},{"id":"3e6a2382.3b8b5c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"eisquality","tz":""},{"id":"74572b8e.f09ac4","type":"ui_tab","z":"","name":"Quality Overview","icon":"dashboard","order":1}]
