Node-RED/json/2_sensors.json
[{"id":"ad3b51d7.f6e33","type":"comment","z":"a4101a55.12feb8","name":"List of Sensors","info":"","x":89,"y":25,"wires":[]},{"id":"44f66b0a.577e24","type":"link in","z":"a4101a55.12feb8","name":"Meter Meta In","links":["256767d0.0f9d38"],"x":494,"y":95,"wires":[["632a9941.b67858"]]},{"id":"632a9941.b67858","type":"function","z":"a4101a55.12feb8","name":"Populate Table","func":"var sensors = global.get(\"meters\"); // list all sensors\nvar array = []; // to return\n\nfor(var i = 0; i < sensors.length; i++){ // for every sensor\n\n    if (sensors[i][\"Utility Type\"]==global.get(\"system\") || global.get(\"system\")==\"All\"){\n        \n        if(sensors[i][\"Building Code\"]==global.get(\"building\") || global.get(\"building\")==\"All\"){\n        \n            array.push({ // Add important sesnor data to msg payload\n                assetCode: sensors[i][\"Asset Code\"],\n                building: sensors[i][\"Building Name\"],\n                description: sensors[i][\"Description\"],\n                utility: sensors[i][\"Utility Type\"],\n                space: sensors[i][\"Space\"],\n                loggerCode: sensors[i][\"Logger Asset Code\"],\n                loggerChannel: sensors[i][\"Logger Channel\"],\n            });\n        }\n    }\n}\nmsg.payload = array; // return complete list of condensed sensor data\nreturn msg;\n","outputs":1,"noerr":0,"x":652,"y":138,"wires":[["f16d5610.175538","c420047.9caf3f8"]]},{"id":"f16d5610.175538","type":"debug","z":"a4101a55.12feb8","name":"","active":false,"console":"false","complete":"payload","x":855,"y":98,"wires":[]},{"id":"8f35e4e4.289478","type":"ui_dropdown","z":"a4101a55.12feb8","name":"Building","label":"Building","place":"Alexandra Park","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":313,"y":138,"wires":[["1253ae4b.5cd7f2"]]},{"id":"dad2cd94.9794b","type":"ui_dropdown","z":"a4101a55.12feb8","name":"System","label":"System","place":"","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":314,"y":181,"wires":[["f01ccbd1.0f7408"]]},{"id":"6e3ed2c7.204a0c","type":"link in","z":"a4101a55.12feb8","name":"Building List In","links":["84507f92.c04c1"],"x":202,"y":138,"wires":[["8f35e4e4.289478","9053f6e8.6ecf38"]]},{"id":"f688e36f.54454","type":"link in","z":"a4101a55.12feb8","name":"SystemList In","links":["25d82a3f.897346"],"x":201,"y":181,"wires":[["dad2cd94.9794b","9053f6e8.6ecf38"]]},{"id":"c420047.9caf3f8","type":"ui_template","z":"a4101a55.12feb8","group":"67d85e7f.cd72d","name":"Sensor List","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n\n<div layout=”row” layout-align=”start center”>\n<span flex>Asset Code</span>\n<span flex>Building</span>\n<span flex>Description</span>\n<span flex>Utility</span>\n<span flex>Space</span>\n<span flex>Logger Code</span>\n<span flex>Logger Channel</span>\n</div>\n\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"sensor in msg.payload\">\n<span flex class=\"row\" style=\"color: black\">{{sensor.assetCode}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.building}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.description}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.utility}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.space}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.loggerCode}}</span>\n<span flex class=\"row\" style=\"color: black\">{{sensor.loggerChannel}}</span>\n</div>\n\n<script>\n    $(function() {\n\n    $(\"div.row\").on(\"click\", function(e){\n        //your code here..\n        alert(\"div with class 'row' clicked!\");\n\n        e.preventDefault(); //to prevent any other unwanted behavior clicking the div might cause\n    });\n\n});\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":854,"y":138,"wires":[[]]},{"id":"1253ae4b.5cd7f2","type":"function","z":"a4101a55.12feb8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":138,"wires":[["632a9941.b67858"]]},{"id":"f01ccbd1.0f7408","type":"function","z":"a4101a55.12feb8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":463.0000305175781,"y":181,"wires":[["632a9941.b67858"]]},{"id":"e761e631.0cf058","type":"comment","z":"a4101a55.12feb8","name":"Populate dropdowns","info":"","x":185,"y":93,"wires":[]},{"id":"d08b50af.1273a","type":"comment","z":"a4101a55.12feb8","name":"Populate table when metadata is read or dropdowns change","info":"","x":698,"y":54,"wires":[]},{"id":"9053f6e8.6ecf38","type":"debug","z":"a4101a55.12feb8","name":"","active":false,"console":"false","complete":"options","x":444,"y":222,"wires":[]},{"id":"67d85e7f.cd72d","type":"ui_group","z":"","name":"All Sensors","tab":"59c00cf8.3d0da4","disp":true,"width":"24"},{"id":"59c00cf8.3d0da4","type":"ui_tab","z":"","name":"All Sensors","icon":"wifi_tethering","order":2}]
