Node-RED/txt/Flow 2 - All Errors tab
[{"id":"f7d20827.a5a458","type":"comment","z":"3984251c.451d0a","name":"All ErrorsTab","info":"","x":82.9333267211914,"y":26.933332443237305,"wires":[]},{"id":"ae49abc6.c34108","type":"link in","z":"3984251c.451d0a","name":"Meter Meta In","links":["a62d0dd2.6cf79"],"x":497.9333267211914,"y":96.9333324432373,"wires":[["f246717b.93daa"]]},{"id":"f246717b.93daa","type":"function","z":"3984251c.451d0a","name":"Populate ErrorList","func":"var errors = global.get(\"errors\"); // list all errors\nvar array = []; // to return\n\nfor(var i = 0; i < errors.length; i++){ // for every error\n\n    // if the error type is the one specified or 'all'\n    if (errors[i].error_type==global.get(\"errortype\") || global.get(\"errortype\")===0){\n        \n        // if the logger code is the one written in text field or every logger when field is blank \n        if(errors[i].loggerCode==global.get(\"loggerCode\") || global.get(\"loggerCode\")===\"\"){\n            \n            // if the logger channel is the one written in text field or every logger when field is blank\n            if(errors[i].loggerChannel==global.get(\"loggerChannel\") || global.get(\"loggerChannel\")===\"\"){\n                    \n                array.push({ // Add important sesnor data to msg payload\n                    errorType: errors[i].error_type,\n                    loggerCode: errors[i].logger_code,\n                    loggerChannel: errors[i].logger_channel,\n                    time: errors[i].timeVal,\n                });\n            }\n        }\n    }\n}\n\nmsg.payload = array; // return complete list of condensed sensor data\nmsg.topic = \"populate errors\";\nreturn msg;\n","outputs":1,"noerr":0,"x":714.9333572387695,"y":182.9333372116089,"wires":[["94e38a9f.ca8148","b7340211.8ae3f"]]},{"id":"94e38a9f.ca8148","type":"debug","z":"3984251c.451d0a","name":"","active":false,"console":"false","complete":"payload","x":973.9333648681641,"y":141.93333625793457,"wires":[]},{"id":"5d37dc8c.a514c4","type":"ui_dropdown","z":"3984251c.451d0a","name":"Building","label":"Building","place":"Alexandra Park","group":"11450e12.2a2672","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":316.9333267211914,"y":139.9333324432373,"wires":[["eb3a5334.350cc"]]},{"id":"e4cc803e.4381b","type":"ui_dropdown","z":"3984251c.451d0a","name":"Error","label":"Error Type","place":"All","group":"11450e12.2a2672","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":307.9333267211914,"y":182.9333324432373,"wires":[["4c10a51c.e095ec"]]},{"id":"84929bfc.d7b8f8","type":"link in","z":"3984251c.451d0a","name":"Building List In","links":["84507f92.c04c1"],"x":205.9333267211914,"y":139.9333324432373,"wires":[["5d37dc8c.a514c4","5b78978a.2fc4f8"]]},{"id":"e8bf248f.0ed3b8","type":"link in","z":"3984251c.451d0a","name":"SystemList In","links":["24248a52.5b35f6"],"x":204.9333267211914,"y":182.9333324432373,"wires":[["e4cc803e.4381b","5b78978a.2fc4f8"]]},{"id":"eb3a5334.350cc","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":465.9333267211914,"y":139.9333324432373,"wires":[["f246717b.93daa"]]},{"id":"4c10a51c.e095ec","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":466.93335723876953,"y":182.9333324432373,"wires":[["f246717b.93daa"]]},{"id":"e665162.adc4be8","type":"comment","z":"3984251c.451d0a","name":"Populate dropdowns","info":"","x":188.9333267211914,"y":94.9333324432373,"wires":[]},{"id":"ad7341e9.91faa","type":"comment","z":"3984251c.451d0a","name":"Populate table when database is read or dropdowns change","info":"","x":821.9333572387695,"y":101.9333324432373,"wires":[]},{"id":"5b78978a.2fc4f8","type":"debug","z":"3984251c.451d0a","name":"","active":false,"console":"false","complete":"true","x":465.9333267211914,"y":222.9333324432373,"wires":[]},{"id":"2b113f17.95e89","type":"comment","z":"3984251c.451d0a","name":"Adabted from Code*","info":"Adapted code by Steve Rickus:\nhttps://groups.google.com/forum/#!topic/node-red/GZV1PUzzWFM","x":935.1003112792969,"y":222.80007553100586,"wires":[]},{"id":"25b610b3.d6401","type":"ui_ui_control","z":"3984251c.451d0a","name":"Error Details","x":1284.1000671386719,"y":159.40005779266357,"wires":[[]]},{"id":"faa221ff.5f53b","type":"function","z":"3984251c.451d0a","name":"","func":"msg.payload= \"Error Details\";\nreturn msg;","outputs":1,"noerr":0,"x":1139.866584777832,"y":159.86668729782104,"wires":[["25b610b3.d6401"]]},{"id":"54db8307.48badc","type":"link out","z":"3984251c.451d0a","name":"Sensor List Click","links":["69c378b6.fce488"],"x":1102.1001377105713,"y":200.3333568572998,"wires":[]},{"id":"1dd01382.22d73c","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"loggerCode\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":465.9333267211914,"y":261.93332290649414,"wires":[["f246717b.93daa"]]},{"id":"3e1c6b04.d2b4a4","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"loggerChannel\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":466.9332962036133,"y":300.9333324432373,"wires":[["f246717b.93daa"]]},{"id":"eae64f59.cb7b2","type":"ui_text_input","z":"3984251c.451d0a","name":"Logger Code","label":"Logger Code","group":"11450e12.2a2672","order":0,"width":"6","height":"1","passthru":false,"mode":"text","delay":"0","topic":"loggerCode","x":301.9333267211914,"y":261.9333324432373,"wires":[["1dd01382.22d73c"]]},{"id":"9116bcbd.d47b5","type":"ui_text_input","z":"3984251c.451d0a","name":"Logger Channel","label":"Logger Channel","group":"11450e12.2a2672","order":0,"width":"6","height":"1","passthru":false,"mode":"text","delay":"0","topic":"loggerChannel","x":293.9333267211914,"y":300.9333324432373,"wires":[["3e1c6b04.d2b4a4","8f4e9242.a2de5"]]},{"id":"b7340211.8ae3f","type":"ui_template","z":"3984251c.451d0a","group":"11450e12.2a2672","name":"Error List","order":0,"width":"0","height":"0","format":"<!DOCTYPE html>\n\n<style>\n    table {\n        border-collapse: collapse;\n    }\n    th, td {\n        border-bottom: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n    }\n    th {\n        background-color: lightblue;\n        color: white;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        background-color: #f5f5f5;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>\n            <th>Error Type</th>\n            <th>Logger Code</th>\n            <th>Logger Channel</th>\n            <th>Time</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.errorType}}</td>\n            <td class=\"row\">{{row.loggerCode}}</td>\n            <td class=\"row\">{{row.loggerChannel}}</td>\n            <td class=\"row\">{{row.time}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":964.9333229064941,"y":181.933331489563,"wires":[["faa221ff.5f53b","54db8307.48badc"]]},{"id":"8f4e9242.a2de5","type":"debug","z":"3984251c.451d0a","name":"","active":false,"console":"false","complete":"payload","x":443.93336486816406,"y":358.93335914611816,"wires":[]},{"id":"11450e12.2a2672","type":"ui_group","z":"","name":"All Errors","tab":"f24e83bf.fff24","order":1,"disp":true,"width":"30"},{"id":"f24e83bf.fff24","type":"ui_tab","z":"","name":"All Errors","icon":"list","order":2}]
