Node-RED/txt/Flow 2 - Sensors Tab.txt
[{"id":"ad3b51d7.f6e33","type":"comment","z":"a4101a55.12feb8","name":"Sensors Tab","info":"","x":79,"y":25,"wires":[]},{"id":"44f66b0a.577e24","type":"link in","z":"a4101a55.12feb8","name":"Meter Meta In","links":["256767d0.0f9d38"],"x":494,"y":95,"wires":[["632a9941.b67858"]]},{"id":"632a9941.b67858","type":"function","z":"a4101a55.12feb8","name":"Populate Sensor List","func":"var sensors = global.get(\"meters\"); // list all sensors\nvar array = []; // to return\n\nfor(var i = 0; i < sensors.length; i++){ // for every sensor\n\n    if (sensors[i][\"Utility Type\"]==global.get(\"system\") || global.get(\"system\")==\"All\"){\n        \n        if(sensors[i][\"Building Code\"]==global.get(\"building\") || global.get(\"building\")==\"All\"){\n        \n            array.push({ // Add important sesnor data to msg payload\n                assetCode: sensors[i][\"Asset Code\"],\n                building: sensors[i][\"Building Name\"],\n                description: sensors[i].Description,\n                utility: sensors[i][\"Utility Type\"],\n                space: sensors[i].Space,\n                loggerCode: sensors[i][\"Logger Asset Code\"],\n                loggerChannel: sensors[i][\"Logger Channel\"],\n            });\n        }\n    }\n}\nmsg.payload = array; // return complete list of condensed sensor data\nreturn msg;\n","outputs":1,"noerr":0,"x":721.0000305175781,"y":181.00000476837158,"wires":[["f16d5610.175538","66660239.1fabdc"]]},{"id":"f16d5610.175538","type":"debug","z":"a4101a55.12feb8","name":"","active":false,"console":"false","complete":"payload","x":970.0000381469727,"y":140.00000381469727,"wires":[]},{"id":"8f35e4e4.289478","type":"ui_dropdown","z":"a4101a55.12feb8","name":"Building","label":"Building","place":"Alexandra Park","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":313,"y":138,"wires":[["1253ae4b.5cd7f2"]]},{"id":"dad2cd94.9794b","type":"ui_dropdown","z":"a4101a55.12feb8","name":"System","label":"System","place":"","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":314,"y":181,"wires":[["f01ccbd1.0f7408"]]},{"id":"6e3ed2c7.204a0c","type":"link in","z":"a4101a55.12feb8","name":"Building List In","links":["84507f92.c04c1"],"x":202,"y":138,"wires":[["8f35e4e4.289478","9053f6e8.6ecf38"]]},{"id":"f688e36f.54454","type":"link in","z":"a4101a55.12feb8","name":"SystemList In","links":["25d82a3f.897346"],"x":201,"y":181,"wires":[["dad2cd94.9794b","9053f6e8.6ecf38"]]},{"id":"1253ae4b.5cd7f2","type":"function","z":"a4101a55.12feb8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":462,"y":138,"wires":[["632a9941.b67858"]]},{"id":"f01ccbd1.0f7408","type":"function","z":"a4101a55.12feb8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":463.0000305175781,"y":181,"wires":[["632a9941.b67858"]]},{"id":"e761e631.0cf058","type":"comment","z":"a4101a55.12feb8","name":"Populate dropdowns","info":"","x":185,"y":93,"wires":[]},{"id":"d08b50af.1273a","type":"comment","z":"a4101a55.12feb8","name":"Populate table when metadata is read or dropdowns change","info":"","x":818.0000305175781,"y":100,"wires":[]},{"id":"9053f6e8.6ecf38","type":"debug","z":"a4101a55.12feb8","name":"","active":false,"console":"false","complete":"options","x":444,"y":222,"wires":[]},{"id":"39f6ba7.428b546","type":"ui_text_input","z":"a4101a55.12feb8","name":"Logger Channel","label":"Logger Channel","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"mode":"text","delay":"0","topic":"loggerChannel","x":267.1667251586914,"y":283.0000629425049,"wires":[["b6637e51.ff2fa"]]},{"id":"98c8809e.fc8ea","type":"ui_text_input","z":"a4101a55.12feb8","name":"Logger Code","label":"Logger Code","group":"67d85e7f.cd72d","order":0,"width":"6","height":"1","passthru":false,"mode":"text","delay":"0","topic":"loggerCode","x":256.93333435058594,"y":325.93335914611816,"wires":[["b6637e51.ff2fa"]]},{"id":"b6637e51.ff2fa","type":"debug","z":"a4101a55.12feb8","name":"","active":false,"console":"false","complete":"payload","x":447.9334182739258,"y":302.9333953857422,"wires":[]},{"id":"66660239.1fabdc","type":"ui_template","z":"a4101a55.12feb8","group":"67d85e7f.cd72d","name":"Sensor List","order":0,"width":0,"height":0,"format":"<!DOCTYPE html>\n\n<style>\n    th {\n        text-decoration: underline;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>>\n            <th>Asset Code</th>\n            <th>Building</th>\n            <th>Description</th>\n            <th>Utility</th>\n            <th>Logger Code</th>\n            <th>Logger Channel</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.assetCode}}</td>\n            <td class=\"row\">{{row.building}}</td>\n            <td class=\"row\">{{row.description}}</td>\n            <td class=\"row\">{{row.utility}}</td>\n            <td class=\"row\">{{row.loggerCode}}</td>\n            <td class=\"row\">{{row.loggerChannel}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":970.9333267211914,"y":180.93332290649414,"wires":[["c98a28fb.a7ab88","3e1c9fd1.7747c"]]},{"id":"5ad3d4d6.9d23bc","type":"comment","z":"a4101a55.12feb8","name":"Adabted from Code*","info":"Adapted code by Steve Rickus:\nhttps://groups.google.com/forum/#!topic/node-red/GZV1PUzzWFM","x":950.1669311523438,"y":219.86672973632812,"wires":[]},{"id":"616dfd0c.fab324","type":"ui_ui_control","z":"a4101a55.12feb8","name":"Sensor Details","x":1290.1667404174805,"y":157.46672534942627,"wires":[[]]},{"id":"c98a28fb.a7ab88","type":"function","z":"a4101a55.12feb8","name":"","func":"msg.payload= \"Sensor Details\";\nreturn msg;","outputs":1,"noerr":0,"x":1135.9332580566406,"y":157.93335485458374,"wires":[["616dfd0c.fab324"]]},{"id":"3e1c9fd1.7747c","type":"link out","z":"a4101a55.12feb8","name":"Sensor List Click","links":["8a505b39.e819f8"],"x":1098.1668109893799,"y":198.4000244140625,"wires":[]},{"id":"67d85e7f.cd72d","type":"ui_group","z":"","name":"All Sensors","tab":"59c00cf8.3d0da4","disp":true,"width":"24"},{"id":"59c00cf8.3d0da4","type":"ui_tab","z":"","name":"All Sensors","icon":"wifi_tethering","order":2}]
