Node-RED/txt/Flow 2 - All Errors tab
[{"id":"f7d20827.a5a458","type":"comment","z":"3984251c.451d0a","name":"All Errors Tab","info":"","x":82.9333267211914,"y":26.933332443237305,"wires":[]},{"id":"ae49abc6.c34108","type":"link in","z":"3984251c.451d0a","name":"Meter Meta In","links":["a62d0dd2.6cf79"],"x":487.93334579467773,"y":101.93333864212036,"wires":[["f246717b.93daa"]]},{"id":"f246717b.93daa","type":"function","z":"3984251c.451d0a","name":"Populate Error List","func":"var assets = global.get(\"erroneousassets\"); // all erroneous assets\nvar errors = global.get(\"errors\"); // all errors\nvar array = []; // to return\n\n/*Complete list of assets and their number of associated errors*/\nfor(var i = 0; i < assets.length; i++){ // for every erroneous asset\n\n    if (assets[i].logger_channel!==\"\" && assets[i].logger_code!==\"\"){\n        \n        var errorCount = 0; // number of error for the asset\n    \n        if(assets[i].hardware==\"meter\"){ // if the asset is a meter\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && assets[i].logger_channel===errors[j].logger_channel){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n        else if (assets[i].hardware==\"logger\"){ // if the asset is a logger\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && errors[j].logger_channel===\"\"){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n    \n        // if the hardware is the one selected or 'All' \n        if(assets[i].hardware==global.get(\"hardware\") || global.get(\"hardware\")===\"All\"){\n            \n            // if the utility type is the one specified or 'All'\n            if(assets[i].utility_type==global.get(\"system\") || global.get(\"system\")===\"All\"){\n                \n                // if the logger code is the one written in text field or every logger when field is blank \n                if(assets[i].logger_code==global.get(\"loggerCode\") || global.get(\"loggerCode\")===\"\"){\n                    \n                    // if the logger channel is the one written in text field or every logger when field is blank\n                    if(assets[i].logger_channel==global.get(\"loggerChannel\") || global.get(\"loggerChannel\")===\"\"){\n                        \n                        array.push({ // Add data to msg payload\n                            hardware: assets[i].hardware,\n                            loggerCode: assets[i].logger_code,\n                            loggerChannel: assets[i].logger_channel,\n                            util: assets[i].utility_type,\n                            nErrors: errorCount,\n                            time: assets[i].most_recent_error,\n                        });\n                    }\n                }\n            }\n        }\n    }\n}\n\n/*Sort list by number of errors descending*/\narray.sort(function(a, b){\n    if(a.nErrors < b.nErrors) return 1;\n    if(a.nErrors > b.nErrors) return -1;\n    return 0;\n});\n\nmsg.payload = array; // return complete list of condensed sensor data\nmsg.topic = \"populate erroneous assets\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":700.9333763122559,"y":184.93334341049194,"wires":[["94e38a9f.ca8148","b7340211.8ae3f"]]},{"id":"94e38a9f.ca8148","type":"debug","z":"3984251c.451d0a","name":"","active":false,"console":"false","complete":"payload","x":936.9333648681641,"y":224.93335103988647,"wires":[]},{"id":"5d37dc8c.a514c4","type":"ui_dropdown","z":"3984251c.451d0a","name":"System","label":"Utility","place":"All","group":"11450e12.2a2672","order":4,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":315.9333724975586,"y":265.9333634376526,"wires":[["eb3a5334.350cc"]]},{"id":"e4cc803e.4381b","type":"ui_dropdown","z":"3984251c.451d0a","name":"Hardware","label":"Hardware","place":"All","group":"11450e12.2a2672","order":1,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":317.9333686828613,"y":143.93334245681763,"wires":[["4c10a51c.e095ec"]]},{"id":"84929bfc.d7b8f8","type":"link in","z":"3984251c.451d0a","name":"Building List In","links":["25d82a3f.897346"],"x":205.9333724975586,"y":265.9333634376526,"wires":[["5d37dc8c.a514c4"]]},{"id":"eb3a5334.350cc","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":454.9333724975586,"y":265.9333634376526,"wires":[["f246717b.93daa"]]},{"id":"4c10a51c.e095ec","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"hardware\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":456.93339920043945,"y":143.93334245681763,"wires":[["f246717b.93daa"]]},{"id":"e665162.adc4be8","type":"comment","z":"3984251c.451d0a","name":"Populate filters","info":"","x":92.93335723876953,"y":103.93334531784058,"wires":[]},{"id":"ad7341e9.91faa","type":"comment","z":"3984251c.451d0a","name":"Populate table when database is read or dropdowns change","info":"","x":627.9334030151367,"y":308.9333519935608,"wires":[]},{"id":"2b113f17.95e89","type":"comment","z":"3984251c.451d0a","name":"Make a list of erroneous assets according to filters","info":"Dashbard table adapted from code by Steve Rickus:\nhttps://groups.google.com/forum/#!topic/node-red/GZV1PUzzWFM","x":800.1004104614258,"y":142.80013227462769,"wires":[]},{"id":"25b610b3.d6401","type":"ui_ui_control","z":"3984251c.451d0a","name":"Error Details","x":1234.100185394287,"y":184.40006971359253,"wires":[[]]},{"id":"faa221ff.5f53b","type":"function","z":"3984251c.451d0a","name":"","func":"msg.payload= \"Error Details\";\nreturn msg;","outputs":1,"noerr":0,"x":1092.8667030334473,"y":184.86669921875,"wires":[["25b610b3.d6401"]]},{"id":"54db8307.48badc","type":"link out","z":"3984251c.451d0a","name":"Erroneous Asset List Click","links":["69c378b6.fce488","ef6994b7.5279c8","fa76bfb6.fda52","d4ce55c5.e41b88"],"x":1061.1001663208008,"y":146.3333773612976,"wires":[]},{"id":"1dd01382.22d73c","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"loggerCode\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":457.9333381652832,"y":184.93334436416626,"wires":[["f246717b.93daa"]]},{"id":"3e1c6b04.d2b4a4","type":"function","z":"3984251c.451d0a","name":"Store","func":"/* */\n\nglobal.set(\"loggerChannel\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":458.9333076477051,"y":223.93335390090942,"wires":[["f246717b.93daa"]]},{"id":"eae64f59.cb7b2","type":"ui_text_input","z":"3984251c.451d0a","name":"Logger Code","label":"Logger Code","group":"11450e12.2a2672","order":2,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"loggerCode","x":303.9333381652832,"y":184.93335390090942,"wires":[["1dd01382.22d73c"]]},{"id":"9116bcbd.d47b5","type":"ui_text_input","z":"3984251c.451d0a","name":"Logger Channel","label":"Logger Channel","group":"11450e12.2a2672","order":3,"width":"6","height":"1","passthru":true,"mode":"text","delay":"0","topic":"loggerChannel","x":295.9333381652832,"y":223.93335390090942,"wires":[["3e1c6b04.d2b4a4"]]},{"id":"b7340211.8ae3f","type":"ui_template","z":"3984251c.451d0a","group":"11450e12.2a2672","name":"Error List","order":5,"width":"30","height":"16","format":"<!DOCTYPE html>\n\n<style>\n    table {\n        border-collapse: collapse;\n    }\n    th, td {\n        border-bottom: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n    }\n    th {\n        background-color: lightblue;\n        color: white;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        background-color: #f5f5f5;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>\n            <th>Harware</th>\n            <th>Logger Code</th>\n            <th>Logger Channel</th>\n            <th>Utility Type</th>\n            <th>Errors</th>\n            <th>Most Recent Error</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.hardware}}</td>\n            <td class=\"row\">{{row.loggerCode}}</td>\n            <td class=\"row\">{{row.loggerChannel}}</td>\n            <td class=\"row\">{{row.util}}</td>\n            <td class=\"row\">{{row.nErrors}}</td>\n            <td class=\"row\">{{row.time}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":923.9333534240723,"y":184.93334913253784,"wires":[["faa221ff.5f53b","54db8307.48badc"]]},{"id":"538d873.d72c878","type":"function","z":"3984251c.451d0a","name":"Hardware Types","func":"/*Finds hardware available to filter data */\n\nvar ret = [\"All\"];\nvar lookupList = global.get(\"erroneousassets\");\nvar current;\n\n// create an array of all error types\nfor (var i = 0; i < lookupList.length; i++){\n    \n    current = lookupList[i].hardware;\n\n    // only add hardware if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){\n        ret.push(current);\n    }\n} \n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n});\n\nmsg.options = ret;\nmsg.topic = \"hardware list\";\nreturn msg;","outputs":1,"noerr":0,"x":147.16673278808594,"y":144.4000358581543,"wires":[["e4cc803e.4381b","ca14a9c4.e475e8"]]},{"id":"e1ef3091.de152","type":"link in","z":"3984251c.451d0a","name":"Hardware Dropdown In","links":["401ed0d7.b656a"],"x":28.16667652130127,"y":145.13333749771118,"wires":[["538d873.d72c878"]]},{"id":"4cad20fc.62c6c","type":"comment","z":"3984251c.451d0a","name":"Send data from row to details tab","info":"","x":1219.9332275390625,"y":144.93331909179688,"wires":[]},{"id":"3b3ff0e6.14514","type":"comment","z":"3984251c.451d0a","name":"Move to the details tab","info":"","x":1263.9332275390625,"y":223.93331909179688,"wires":[]},{"id":"ca14a9c4.e475e8","type":"debug","z":"3984251c.451d0a","name":"","active":true,"console":"false","complete":"true","x":267.9333190917969,"y":99.9333267211914,"wires":[]},{"id":"11450e12.2a2672","type":"ui_group","z":"","name":"All Errors","tab":"f24e83bf.fff24","order":1,"disp":true,"width":"30"},{"id":"f24e83bf.fff24","type":"ui_tab","z":"","name":"All Errors","icon":"list","order":2}]
