Node-RED/txt/Flow 5 - Sensor Details Tab.txt
[{"id":"b7e2e885.685a18","type":"comment","z":"182274ed.11990b","name":"Sensor Details Tab","info":"","x":101.9333267211914,"y":25.933332443237305,"wires":[]},{"id":"d0013038.4ebe","type":"ui_button","z":"182274ed.11990b","name":"Export","group":"47b3fdaf.87b774","order":2,"width":0,"height":0,"passthru":false,"label":"Export to .CSV","color":"","bgcolor":"","icon":"","payload":"All Sensors","payloadType":"str","topic":"","x":164.00014877319336,"y":784.999960899353,"wires":[["be83635e.ecc38"]]},{"id":"be83635e.ecc38","type":"ui_ui_control","z":"182274ed.11990b","name":"All Sensors","x":317.00014877319336,"y":784.999960899353,"wires":[[]]},{"id":"1351d4f6.65de7b","type":"function","z":"182274ed.11990b","name":"Pre-load test data","func":"\n/* This function creates a two data sets, with different topics,\n   the same x values and different y values*/\n\n// Change the scale factor each time.\nvar scale = context.get('scale') || 0;\nif (msg.topic == \"Reset\") {\n    scale = 0;\n}\nscale++;\ncontext.set('scale', scale);\n\nmsg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints1 = [];   // These will be the first array of data points \nvar dataPoints2 = [];   // These will be the second array of data points \nvar numPoints = 20;     // We will create one more than this.\n\n// For the first data set create a sine wave\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    point.y = Math.sin(2 * 3.14 * (i/numPoints)) * scale/10;\n    // build the data array    \n    dataPoints1.push(point);\n}\n\n// For the second data set create a triangle\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    if (i<(numPoints/2)) {\n        // ramp up\n        point.y = i * scale/10;\n    }\n    else {\n        // ramp down\n        point.y = (numPoints - i) * scale/10;\n    }\n    dataPoints2.push(point);    // add to the array\n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\n\n// The payload is an array of two {topic, data} objects\nmsg.payload = [{topic: \"Sin\", data: dataPoints1},\n                {topic: \"Triangle\", data: dataPoints2}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1054.0001907348633,"y":295.3499946594238,"wires":[["407435f.aed07cc"]]},{"id":"a61a518f.aa182","type":"ui_template","z":"182274ed.11990b","group":"47b3fdaf.87b774","name":"Sensor Graph","order":1,"width":"15","height":"14","format":"<!-- See the read me comment node. Colin Law's original notes follow -->\n\n<!--\nA node-red Dashboard UI template to draw charts using chart.js\nBefore use download the file Chart.bundle.min.js from chartjs.org and \nsave in an appropriate folder (e.g. .node-red/static). \nIn settings.js set httpStatic to the full path of that folder and restart node-red.\nMake sure that the options for 'Pass through messages' and 'Add output messages' \nin this node are cleared.\nFor basic use set the id and size you want in the canvas tag and set chartID to the id\nSetup chartDef as required for your chart (see the chart.js docs)\nIn addition, for each dataset specify in chartDef the message topic that you will use for that channel.\nTo (optionally) provide the chart with a one-off set of data send the node a message with:\nmsg.action = \"load\"\nmsg.payload = [\n{topic: \"mytopic1\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n{topic: \"mytopic2\", data: [{x: x1,y:y2},{x:x2,y:y2},...]},\n...]\nWhere mytopic1 and mytopic2 are the the topics specified in the chartDef\n\nTo provide the chart with data incrementally (for a time series for example)\nsend it messages of the form\n{topic: \"mytopic1\", payload: {x:xvalue,y:yvalue}}\nThe chart will be updated as each sample is provided.\nTo limit the growth of the chart set chartMaxPoints and/or chartTimeSpan in the Chart Helper node\nas described at the head of that node.\nIf you find that chart seems to flicker and scroll bars come and go then try \nsetting a size other than auto in the Size specification for this node.\n\nFor Bar charts the x value is the label for the bar and the y value is the bar value\n\nNote that since the chart samples are stored in the browser then the chart will be cleared each\ntime the browser is refreshed (and will be clear on initially opening the view). In order to \nprovided persistency over browser opening and refresh this node may be used in conjunction with\nthe Chart Helper function node.  Details for its use are in the source of that node.\n\nIf your flow includes more that one instance of this script then the line fetching \nChart.bundle.min.js need only be included in one of them\n-->\n\n<script src=\"/Chart.bundle.min.js\"></script>\n<canvas id=\"myChartSimple1\" width=\"300\" height=\"300\"></canvas>\n<script>\n(function() {\n    var chartID = \"myChartSimple1\";           // set this to the id you have specified in the canvas tag above\n    // setup the chart definition as defined in the chart.js documentation, in addition setting up the topic\n    // for each channel\n    var chartDef = {\n        type: 'line',\n        data: {\n            datasets: [{\n                topic: \"Sin\",    // used here not by chart.js\n                label: \"Sin\",\n                yAxisID: \"1\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#0000ff\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#0000ff\",\n                pointBackgroundColor: \"#0000ff\",\n                backgroundColor:  \"#0000ff\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }, {\n                topic: \"Triangle\",    // used here not by chart.js\n                label: \"Triangle\",\n                yAxisID: \"2\",\n                fill: false,\n                lineTension: 0,\n                borderColor: \"#ff0000\",\n                pointRadius: 5,\n                pointHoverRadius: 5,\n                pointBorderColor: \"#ff0000\",\n                pointBackgroundColor: \"#ff0000\",\n                backgroundColor:  \"#ff0000\",\n                borderWidth: 1,\n                data: []  // data is written here later\n            }]\n        },\n        options: {\n            scales: {\n                xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                yAxes: [{\n                    id: \"1\",\n                    ticks: {\n                        min: -1,\n                        max: 1,\n                        stepSize: 0.2\n                    }\n                }, {\n                    id: \"2\",\n                    ticks: {\n                        min: -10,\n                        max: 10,\n                        stepSize: 2\n                    }\n                }]\n            },\n            animation: {\n                duration: 0\n            }\n        }\n    }\n        \n/***** You shouldn't normally need to change anything below here *****/    \n    var myChart = null;\n    var loaded = false;     // indicates whether we have already had a load action\n    var chartTimeSpan;\n    var chartMaxPoints;\n\n    function doChart(msg, scope) {\n        if (!myChart) {\n            // chart does not exist so load the data and create it\n            var ctx = document.getElementById(chartID);\n            myChart = new Chart(ctx, chartDef);     \n        }\n        // chart already exists, update it\n        var datasets = myChart.data.datasets;\n        // is this a load or preload action?\n        if (msg.action === \"load\" || msg.action === \"preload\") {\n            // yes, do not allow preload if we have already had a load\n            // so do it if this is a load or we have not previously had a load\n            if (msg.action === \"load\" || !loaded) {\n                // pick up chartTimeSpan and chartMaxPoints if they have been provided\n                if (typeof msg.chartTimeSpan != 'undefined') {\n                    chartTimeSpan = msg.chartTimeSpan;\n                }\n                if (typeof msg.chartMaxPoints != 'undefined') {\n                    chartMaxPoints = msg.chartMaxPoints;\n                }\n                    \n                // replace existing data for matching topics\n                for (var j = 0; j < msg.payload.length; j++) {\n                    var topic = msg.payload[j].topic;\n                    // find it in the chart\n                    for (var i = 0; i < datasets.length; i++) {\n                        if (datasets[i].topic == topic) {\n                            // if stripping old samples by time is required then ensure the x value is Date\n                            if (chartTimeSpan > 0 ) {\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    if (typeof data[k].x === \"string\") {\n                                        data[k].x = new Date(data[k].x);\n                                    }\n                                }\n                            }\n                            if (chartDef.type !== \"bar\") {\n                                datasets[i].data = msg.payload[j].data;\n                            } else {\n                                // bar chart so x values must go to labels and y values to dataset\n                                datasets[i].data = [];\n                                myChart.data.labels = [];\n                                var data = msg.payload[j].data;\n                                for (var k = 0; k < data.length; k++) {\n                                    datasets[i].data.push(data[k].y);\n                                    myChart.data.labels.push(data[k].x);\n                                }\n                            }\n                            break;\n                        }\n                    }\n                }\n            }\n            if (msg.action === \"load\") loaded = true;\n            myChart.update();\n        } else {\n            // does the topic match one of the datasets?\n            for (var i = 0; i < datasets.length; i++) {\n                if (datasets[i].topic == msg.topic) {\n                    // if stripping old samples by time is required then ensure the x value is Date\n                    if (chartTimeSpan > 0 && typeof msg.payload.x === \"string\") {\n                        msg.payload.x = new Date(msg.payload.x);\n                    }\n                    if (chartDef.type !== \"bar\") {\n                        datasets[i].data.push(msg.payload);\n                    } else {\n                         // bar chart so x value must go to labels and y value to dataset\n                        datasets[i].data.push(msg.payload.y);\n                        myChart.data.labels.push(msg.payload.x);\n                    }\n                    myChart.update();\n                    break;\n                }\n            }\n        }\n        // strip off samples older than now\n        // charTimeSpan == 0 implies don't do it\n        var shifted = false;\n        if (chartTimeSpan > 0) {\n            var now = new Date();\n            var oldestTimeAllowed = now - chartTimeSpan;\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data[0] && getTime(dataset.data[0].x) < oldestTimeAllowed) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        // strip samples off the front if there are now too many\n        // charTimeSpan == 0 implies don't do it\n        if (chartMaxPoints > 0) {\n            for (var i = 0; i < datasets.length; i++) {\n                dataset = datasets[i];\n                while(dataset.data.length > chartMaxPoints) {\n                    dataset.data.shift();\n                    shifted = true;\n                }\n            }\n        }\n        if (shifted) {\n            myChart.update();\n        }\n    };\n\n    // gets the time of an x value, works for strings or Date types\n    function getTime(x) {\n        if (typeof x === \"string\") x = new Date(x);\n        return x.getTime();\n    }\n    \n    // builds the preload message for sending back to the chart helper\n    function preloadMsg() {\n        var preMsg = {action: \"preload\", payload: \"preload\"};\n        // build array of topics in chart\n        var topics = [];\n        for (var i=0; i<chartDef.data.datasets.length; i++) {\n            topics.push(chartDef.data.datasets[i].topic);\n        }\n        preMsg.topics = topics;\n        // has the chart already been created\n        if (myChart) {\n            preMsg.lastXValue = 1;\n        } else {\n            preMsg.lastXValue = 0;\n        }\n        return preMsg;\n    }\n\n    (function(scope) {\n        // this code gets run when the a view is opened on the node in the browser\n        // send a preload message back to node red to ask it send\n        // us a complete set of data. Pass down max points and time span to the helper node for it to use\n        // plus an array of the topics of interest\n        scope.send( preloadMsg() );\n        \n        scope.$watch('msg', function(msg) {\n            if (msg) {\n                doChart(msg, scope);\n            }\n        });\n    })(scope);\n})();\n</script>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1311.550033569336,"y":743.6999959945679,"wires":[[]]},{"id":"407435f.aed07cc","type":"debug","z":"182274ed.11990b","name":"View data object","active":false,"console":"false","complete":"true","x":1244.0001525878906,"y":294.9500160217285,"wires":[]},{"id":"b7f179e7.af9ef8","type":"comment","z":"182274ed.11990b","name":"Read me","info":"This charting example extends node-red-dashboard and the work by Colin Law here:\nhttp://flows.nodered.org/flow/c3dc75c47323a2754f5285225bce64b5\n\nThis Code:\nhttps://flows.nodered.org/flow/720044a3c587a310813a9326ed3cb08a\n\nView the chart at http://localhost:1880/ui\n\nBoth the dashboard chart and Colin's example uses time as the X-axis. The example\nhere uses an integer as the x-axis. Colin's example uses Chart.js inside a\nnode-red-dashboard template node. The example here leaves Colin's code almost \nunchanged except that the chart.js XAxis is changed from:\n\n                xAxes: [{\n                    type: 'time',\n                    time: {\n                        unit: 'minute',\n                        unitStepSize: 1,\n                        displayFormats: {\n                            minute: 'HH:mm'\n                        }\n                    }\n                }],\n\nto this:\n              xAxes: [{\n                    type: 'linear',\n                    position: 'bottom'\n                    }\n                ],\n                \nI also adjusted the way the nodes are rendered.\n\nThis example pre-prepares the data object and uses the msg.action = \"load\" \nmethod to ask the template code to render the data. \n\nA dashboard button on the UI page generates fresh data with a different \nscale each time.\n\n\n","x":1086.000114440918,"y":257.8166675567627,"wires":[]},{"id":"bfc043e1.d864a","type":"link in","z":"182274ed.11990b","name":"Sensor Details Tab","links":["3e1c9fd1.7747c"],"x":205.93331909179688,"y":267.9333190917969,"wires":[["18a0fe27.a3b692","4c276fe3.5f023","17badf4d.5432b1","acc77f6d.bd431","f3803808.147da8","bed6f539.917de8","85fa261e.c3de78","2bc73010.0f40f"]]},{"id":"18a0fe27.a3b692","type":"debug","z":"182274ed.11990b","name":"","active":false,"console":"false","complete":"payload","x":401.63331604003906,"y":122.66659545898438,"wires":[]},{"id":"4c276fe3.5f023","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":1,"width":"0","height":"0","name":"Asset Code:","label":"Asset Code:","format":"{{msg.payload.assetCode}}","layout":"row-spread","x":400.8667526245117,"y":163.1999053955078,"wires":[]},{"id":"17badf4d.5432b1","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":2,"width":"0","height":"0","name":"Building:","label":"Building:","format":"{{msg.payload.building}}","layout":"row-spread","x":388.6332702636719,"y":201.66655158996582,"wires":[]},{"id":"acc77f6d.bd431","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":3,"width":"0","height":"0","name":"Description:","label":"Description:","format":"{{msg.payload.description}}","layout":"row-spread","x":398.6332702636719,"y":240.66655158996582,"wires":[]},{"id":"f3803808.147da8","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":4,"width":"0","height":"0","name":"","label":"Utility:","format":"{{msg.payload.utility}}","layout":"row-spread","x":379.6332702636719,"y":278.6665515899658,"wires":[]},{"id":"bed6f539.917de8","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":5,"width":"0","height":"0","name":"Logger Code:","label":"Logger Code:","format":"{{msg.payload.loggerCode}}","layout":"row-spread","x":409.63321685791016,"y":316.6665382385254,"wires":[]},{"id":"e25bdcd9.5f5d","type":"comment","z":"182274ed.11990b","name":"Data from clicked row","info":"","x":123.63319969177246,"y":230.6665382385254,"wires":[]},{"id":"5e18c189.07eb8","type":"comment","z":"182274ed.11990b","name":"Overview of all asset details","info":"","x":449.63319969177246,"y":82.66653633117676,"wires":[]},{"id":"85fa261e.c3de78","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":6,"width":"0","height":"0","name":"Logger Channel:","label":"Logger Channel:","format":"{{msg.payload.loggerChannel}}","layout":"row-spread","x":411.9333190917969,"y":355.9333190917969,"wires":[]},{"id":"2bc73010.0f40f","type":"function","z":"182274ed.11990b","name":"Error Count & Array","func":"var assets = global.get(\"erroneousassets\"); // all erroneous assets\nvar errors = global.get(\"errors\"); // all errors\nvar errorCount = 0;\nvar array = []; // to return\n\nfor(var i = 0; i < assets.length; i++){ // for every erroneous asset\n\n    for(var j = 0; j < errors.length; j++){ // for every error\n        \n        // // if the error is for this asset\n        // if(assets[i].logger_code===errors[j].logger_code && assets[i].logger_channel===errors[j].logger_channel){\n        //     errorCount++; // increase error count for this asset\n            \n        //     array.push({ // Add important sesnor data to msg payload\n        //         errorType: errors[i].error_type,\n        //         loggerCode: errors[i].logger_code,\n        //         loggerChannel: errors[i].logger_channel,\n        //         time: errors[i].timeVal,\n        //     });\n        // }\n        \n        // if the logger code is the one for this asset \n        if(errors[i].logger_code==global.get(\"loggerCode\")){\n            \n            // if the logger channel is the one for this asset\n            if(errors[i].logger_channel==global.get(\"loggerChannel\")){\n                \n                var lookup = global.get(\"errortypelookup\");\n                var errDesc = \"\";\n                for(var k = 0; k < lookup.length; k++){\n                    if (lookup[k].id == errors[i].error_type){\n                        errDesc = lookup[k].description;\n                    }\n                }\n                \n                array.push({ // Add important sesnor data to msg payload\n                    errorType: errDesc, // errors[i].error_type,\n                    loggerCode: errors[i].logger_code,\n                    loggerChannel: errors[i].logger_channel,\n                    time: errors[i].timeVal,\n                });\n            }\n        }\n    }\n}\n\nvar msg1 = {};\nmsg1.payload = errorCount;\n\nvar msg2 = {};\nmsg2.payload = array;\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":421.16668701171875,"y":397.8666763305664,"wires":[["2a39d757.8b80e8"],["a43e41e7.4912a"]]},{"id":"a43e41e7.4912a","type":"ui_template","z":"182274ed.11990b","group":"2560030c.3d738c","name":"Error List","order":8,"width":"15","height":"8","format":"<!DOCTYPE html>\n\n<style>\n    table {\n        border-collapse: collapse;\n    }\n    th, td {\n        border-bottom: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n    }\n    th {\n        background-color: lightblue;\n        color: white;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        background-color: #f5f5f5;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>\n            <th>Error Type</th>\n            <th>Time</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.errorType}}</td>\n            <td class=\"row\">{{row.time}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":622.9333572387695,"y":429.93346309661865,"wires":[[]]},{"id":"2a39d757.8b80e8","type":"ui_text","z":"182274ed.11990b","group":"2560030c.3d738c","order":7,"width":"0","height":"0","name":"Errors:","label":"Errors:","format":"{{msg.payload}}","layout":"row-spread","x":612.9332885742188,"y":391.9333190917969,"wires":[]},{"id":"76496903.0f6fc8","type":"comment","z":"182274ed.11990b","name":"Data from clicked asset","info":"","x":124.9333267211914,"y":619.9332885742188,"wires":[]},{"id":"d4ce55c5.e41b88","type":"link in","z":"182274ed.11990b","name":"SystemList In","links":["54db8307.48badc","85f03be5.ae5ee8"],"x":207.00016689300537,"y":658.9334230422974,"wires":[["9888226b.94d59"]]},{"id":"9888226b.94d59","type":"function","z":"182274ed.11990b","name":"EMS or BMS Filename / URL","func":"if (msg.payload.hardware==\"logger\"){\n    return null;\n}\n\nvar BMS_CLASS_GROUP = \"Energy sensor\";\nvar EMS_CLASS_GROUP = \"Energy meter\";\n\nvar sensors = global.get(\"meters\"); // list all sensors\nvar months = [ \"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\" ];\nvar fileName = null;\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\nvar now = new Date();\nvar month = months[now.getMonth()];\nvar year = now.getFullYear();\n            \nfor (var i = 0; i < sensors.length; i++){ // for every meter\n\n    // if the meter is the one being analysed    \n    if(sensors[i][\"Logger Asset Code\"]==msg.payload.loggerCode && sensors[i][\"Logger Channel\"]==msg.payload.loggerChannel){\n        \n        var classGroup = sensors[i][\"Classification Group\"]; // is it EMS or BMS data?\n        \n        if (classGroup == EMS_CLASS_GROUP){ // its ems data\n            \n            msg.file = \"ems-\"+month+\"-\"+year;\n            context.set(\"fileName\", \"ems-\"+month+\"-\"+year);\n            msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=ems\";\n            msg.topic = \"EMS metadata\";\n            return [msg, null];\n        }\n        else if (classGroup == BMS_CLASS_GROUP){ // its bms data\n            \n            msg.file = \"bms-\"+month+\"-\"+year;\n            context.set(\"fileName\", \"bms-\"+month+\"-\"+year);\n            msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=bms\";\n            msg.topic = \"BMS metadata\";\n            return [null, msg];\n        }\n    }\n}\nreturn null;","outputs":"2","noerr":0,"x":387.00020122528076,"y":658.8668661117554,"wires":[["abaacb34.226888"],["e8ab018a.bf1ad"]]},{"id":"e8ab018a.bf1ad","type":"http request","z":"182274ed.11990b","name":"BMS package data","method":"GET","ret":"obj","url":"","tls":"","x":687.0001440048218,"y":625.8001518249512,"wires":[["4dabfec0.b29ec"]]},{"id":"abaacb34.226888","type":"http request","z":"182274ed.11990b","name":"EMS package data","method":"GET","ret":"obj","url":"","tls":"","x":685.8007230758667,"y":587.0676584243774,"wires":[["9ae97d4b.84436"]]},{"id":"9ae97d4b.84436","type":"function","z":"182274ed.11990b","name":"File URL","func":"/* */\n\nvar lookingFor = context.get(\"fileName\");\nmsg.payload = \"\";\nmsg.url = \"\";\nmsg.topic = \"meter readings\";\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\nvar urlPt2 = \"\\\" WHERE device_id='\"+global.get(\"loggerCode\")+\"' \";\nvar urlPt3 = \"AND module_key='\"+global.get(\"loggerChannel\")+\"'\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){ // look at every resource\n\n    // if the resource is the one needed to display\n    if (msg.payload.result.resources[i].name == lookingFor){\n        \n        var urlPt1 = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\" \";\n        \n        var url = urlPt1 + urlPt2 + urlPt3;\n        msg.url = url;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":893.0001363754272,"y":586.9334230422974,"wires":[["dca6003a.dcf5c"]]},{"id":"4dabfec0.b29ec","type":"function","z":"182274ed.11990b","name":"File URL","func":"/* */\n\nvar lookingFor = context.get(\"fileName\");\nmsg.payload = \"\";\nmsg.url = \"\";\nmsg.topic = \"meter readings\";\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\nvar urlPt2 = \"\\\" WHERE device_id='\"+global.get(\"loggerCode\")+\"' \";\nvar urlPt3 = \"AND module_key='\"+global.get(\"loggerChannel\")+\"'\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){ // look at every resource\n\n    // if the resource is the one needed to display\n    if (msg.payload.result.resources[i].name == lookingFor){\n        \n        var urlPt1 = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\" \";\n        \n        var url = urlPt1 + urlPt2 + urlPt3;\n        msg.url = url;\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":894.0009431838989,"y":626.0676622390747,"wires":[["cdc949c1.e1b088"]]},{"id":"cdc949c1.e1b088","type":"http request","z":"182274ed.11990b","name":"Meter Readings","method":"GET","ret":"obj","url":"","tls":"","x":1077.000075340271,"y":625.9334230422974,"wires":[["805237a2.3f06f8"]]},{"id":"dca6003a.dcf5c","type":"http request","z":"182274ed.11990b","name":"Meter Readings","method":"GET","ret":"obj","url":"","tls":"","x":1075.000075340271,"y":586.8670244216919,"wires":[["b40a1fb.e437ae"]]},{"id":"b40a1fb.e437ae","type":"debug","z":"182274ed.11990b","name":"","active":false,"console":"false","complete":"true","x":1241.000189781189,"y":586.0672273635864,"wires":[]},{"id":"805237a2.3f06f8","type":"function","z":"182274ed.11990b","name":"Pre-load test data","func":"msg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints = [];   // Array of data points \n\n// Create a data point for every reading of the meter\nfor (var i = 0; i < msg.payload.result.records; i++) {\n    var point = {};\n    point.x = msg.payload.result.records[i].timestamp;\n    point.y = msg.payload.result.records[i].param_value;\n    // build the data array    \n    dataPoints.push(point);\n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\nmsg.payload = [{topic: \"Reading\", data: dataPoints}]; // The payload is an array of {topic, data} objects\nreturn msg;","outputs":1,"noerr":0,"x":1110.000060081482,"y":744.6669282913208,"wires":[["a61a518f.aa182"]]},{"id":"6b7799b8.a23b78","type":"comment","z":"182274ed.11990b","name":"Ref.","info":"This chart extends node-red-dashboard and the here:\nhttps://flows.nodered.org/flow/720044a3c587a310813a9326ed3cb08a\n\nWhich in turn expanded on the work by Colin Law here:\nhttp://flows.nodered.org/flow/c3dc75c47323a2754f5285225bce64b5\n","x":1330.134196281433,"y":704.0172576904297,"wires":[]},{"id":"270d60eb.1314d","type":"comment","z":"182274ed.11990b","name":"Get the ckan data for the specified meter either this month or the month that is selected","info":"","x":896.0001440048218,"y":666.8001585006714,"wires":[]},{"id":"e738e219.794d1","type":"comment","z":"182274ed.11990b","name":"EMS Metadata needs changing, this will need displaying like the BMS below","info":"","x":1263.00009059906,"y":545.9336977005005,"wires":[]},{"id":"5e0358ce.e6e5e8","type":"csv","z":"182274ed.11990b","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","x":227.93331146240234,"y":825.9332904815674,"wires":[[]]},{"id":"47b3fdaf.87b774","type":"ui_group","z":"","name":"Sensor Graph","tab":"9e67debd.72182","order":2,"disp":true,"width":"15"},{"id":"2560030c.3d738c","type":"ui_group","z":"","name":"Overview","tab":"9e67debd.72182","order":1,"disp":true,"width":"15"},{"id":"9e67debd.72182","type":"ui_tab","z":"","name":"Sensor Details","icon":"wifi_tethering","order":5}]
