Node-RED/txt/Flow 4 - All Sensors Tab.txt
[{"id":"d0c19df1.52a37","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":1,"width":"6","height":"6","label":"Current Data Quality","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7b3294","#008837","#008837","#2ca02c","#7b3294","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":483.10033416748047,"y":931.6006622314453,"wires":[[],[]],"inputLabels":["Erros & Success %"]},{"id":"b15bdd03.3b6c9","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":2,"width":"6","height":"6","label":"Quality Trend (30 Days)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008837","#f37288","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":530.0001831054688,"y":1069.000732421875,"wires":[[],[]]},{"id":"13dca5bd.e5c82a","type":"comment","z":"8989e6b8.a1b1c8","name":"Overview Panel","info":"","x":95.10000610351562,"y":891.2003264427185,"wires":[]},{"id":"12954b43.4cbdc5","type":"comment","z":"8989e6b8.a1b1c8","name":"Top Errors Panel","info":"","x":892.0001220703125,"y":890.000509262085,"wires":[]},{"id":"587057d7.a72948","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":632.0001106262207,"y":1141.000379562378,"wires":[]},{"id":"6126d250.dfb40c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Error List","order":1,"width":"15","height":"5","format":"<!DOCTYPE html>\n\n<style>\n    table {\n        border-collapse: collapse;\n    }\n    th, td {\n        border-bottom: 1px solid #ddd;\n        padding: 10px;\n        text-align: left;\n    }\n    th {\n        background-color: lightblue;\n        color: white;\n    }\n    .numeric {\n        text-align: right;\n        padding-right: 15px;\n    }\n    tbody tr:hover {\n        color: darkorange;\n        background-color: #f5f5f5;\n        cursor: pointer;\n    }\n</style>\n\n<table style=\"width: 100%;\">\n    <thead>\n        <tr>\n            <th>Harware</th>\n            <th>Logger Code / Channel</th>\n            <th>Utility Type</th>\n            <th>Errors</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr ng-repeat=\"row in msg.payload\" ng-click=\"sendRow(row)\">\n            <td class=\"row\">{{row.hardware}}</td>\n            <td class=\"row\">{{row.loggerCode}} - {{row.loggerChannel}}</td>\n            <td class=\"row\">{{row.util}}</td>\n            <td class=\"row\">{{row.nErrors}}</td>\n        </tr>\n    </tbody>\n</table>\n\n<script>\n(function($scope) {\n    $scope.sendRow = function(obj) {\n        //console.dir(obj);\n        $scope.send({ \"payload\": obj });\n    };\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1133.1006622314453,"y":932.6009130477905,"wires":[["3393a545.bcd39a","85f03be5.ae5ee8"]]},{"id":"3807c9a3.a94846","type":"comment","z":"8989e6b8.a1b1c8","name":"Quality Overview Tab","info":"","x":111.10000610351562,"y":27.000001907348633,"wires":[]},{"id":"cd22f057.a287","type":"function","z":"8989e6b8.a1b1c8","name":"Initialise Variables","func":"global.set(\"count\", 0);\nglobal.set(\"limit\", 500);\n\n// API Variables\nglobal.set(\"apikey\", \"672f2e70-46b4-4ce1-a7ab-ce029bcc0b82\"); // Personal API key from CKAN\nglobal.set(\"apiuser\", \"ckanapi\"); // Basic auth username\nglobal.set(\"apipass\", \"Quee8eec\"); // Basic auth password\n\n// Filtering fields\nglobal.set(\"from\", new Date());\nglobal.set(\"to\", new Date());\nglobal.set(\"building\", \"AP000\"); // Default: Alexandra Park\nglobal.set(\"errortype\", 0);\nglobal.set(\"system\", \"All\");\nglobal.set(\"hardware\", \"All\");\n\n// All sensors additional filters\nglobal.set(\"assetCode\", \"\");\nglobal.set(\"loggerCode\", \"\");\nglobal.set(\"loggerChannel\", \"\");\n\nglobal.set(\"filenames\", []);\nglobal.set(\"array\", []);\n\nreturn msg;","outputs":"1","noerr":0,"x":400.00031661987305,"y":373.0001287460327,"wires":[["7f25d20c.e4c02c"]]},{"id":"c600fd41.59d2e","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":995.9998970031738,"y":1565.6003150939941,"wires":[[]]},{"id":"6851ceea.84c4f","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":862.8998222351074,"y":1442.8001050949097,"wires":[]},{"id":"eb30ee85.49c5","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.99991989135742,"y":373.00010108947754,"wires":[["cd22f057.a287"]]},{"id":"9c09d0be.16b83","type":"comment","z":"8989e6b8.a1b1c8","name":"System Setup","info":"","x":80,"y":84.00003051757812,"wires":[]},{"id":"d347b1b6.12baf","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Today)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":528.1000442504883,"y":1559.0000505447388,"wires":[["21e6ba1e.6c27c6"]]},{"id":"1c0eea27.93d1b6","type":"function","z":"8989e6b8.a1b1c8","name":"Today's Date","func":"/* Representation of today's date as String */\n\nvar time = new Date().getTime();\nvar date = new Date(time);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":331.9999122619629,"y":1580.0000505447388,"wires":[["d347b1b6.12baf","7c40d407.ff647c"]]},{"id":"9ddbdb1.a220b28","type":"inject","z":"8989e6b8.a1b1c8","name":"Every 5 Minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":138.99987983703613,"y":1580.0000371932983,"wires":[["1c0eea27.93d1b6"]]},{"id":"797bebd1.da8dc4","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"/*Check for the number of assets an error was detected in compared to the number of meters in metadata*/\n\ncontext.meters = context.meters || {};\ncontext.assets = context.assets || [];\n\n// wait until meter metadata and mysql database has been accessed\nif (msg.topic == \"meters meta\") {\n  context.meters = msg.payload.result.records;\n} else if (msg.topic === 'SELECT * FROM erroneousassets') {\n  context.assets = msg.payload;\n}\n\n// if metadatat and mysql contain records\nif (context.meters.length > 0 && context.assets.length >= 0) {\n  \n    var msg1 = {}; // intialise return messages\n    var msg2 = {};\n\n    // calculate success %\n    var okN = context.meters.length - context.assets.length;\n    var succPerc = (okN / context.meters.length)*100;\n    msg1.payload = Math.round(succPerc);\n    msg1.topic = \"Success\";\n\n    // error % is 100 - success %\n    msg2.payload = 100 - msg1.payload;\n    msg2.topic = \"Error\";\n    \n    return [msg1, msg2]; // returns messages on different outputs\n}\nelse {\n  return null;\n}","outputs":"2","noerr":0,"x":186.1000747680664,"y":932.0003180503845,"wires":[["d0c19df1.52a37"],["d0c19df1.52a37"]]},{"id":"ca0a990d.376b38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Today","links":["256767d0.0f9d38","401ed0d7.b656a"],"x":31.09999656677246,"y":931.8003420829773,"wires":[["797bebd1.da8dc4"]]},{"id":"21e6ba1e.6c27c6","type":"link out","z":"8989e6b8.a1b1c8","name":"API Today","links":[],"x":680.0999984741211,"y":1558.8000383377075,"wires":[]},{"id":"7c40d407.ff647c","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Month)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":526.9998779296875,"y":1602.000033378601,"wires":[["2f7d2f00.990dc2"]]},{"id":"2f7d2f00.990dc2","type":"link out","z":"8989e6b8.a1b1c8","name":"API Month","links":[],"x":678.9998779296875,"y":1602.000033378601,"wires":[]},{"id":"ff5efad9.a15c38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Month","links":["a9c51a99.1baf38"],"x":30.000045776367188,"y":1068.0003204345703,"wires":[["78d07c07.993c84"]]},{"id":"78d07c07.993c84","type":"function","z":"8989e6b8.a1b1c8","name":"Get Data Quality Past 30 Days","func":"var sensors = global.get(\"meters\"); // list all sensors\nvar array = []; // to return\n\nfor(var i = 0; i < sensors.length; i++){ // for every sensor\n\n    if (sensors[i][\"Utility Type\"]==global.get(\"system\") || global.get(\"system\")==\"All\"){\n        \n        if(sensors[i][\"Building Code\"]==global.get(\"building\") || global.get(\"building\")==\"All\"){\n        \n            array.push({ // Add important sesnor data to msg payload\n                assetCode: sensors[i][\"Asset Code\"],\n                building: sensors[i][\"Building Name\"],\n                description: sensors[i].Description,\n                utility: sensors[i][\"Utility Type\"],\n                space: sensors[i].Space,\n                loggerCode: sensors[i][\"Logger Asset Code\"],\n                loggerChannel: sensors[i][\"Logger Channel\"],\n            });\n        }\n    }\n}\nmsg.payload = [\n  {\n    \"key\": \"Line-1\",\n    \"values\": [\n      {\n        \"x\": \"2017-05-08T00:00:00\",\n        \"y\": 0\n      },\n      {\n        \"x\": \"2017-05-09T00:00:00\",\n        \"y\": 1\n      },\n      {\n        \"x\": \"2017-05-10T00:00:00\",\n        \"y\": 2\n      },\n      {\n        \"x\": \"2017-05-11T00:00:00\",\n        \"y\": 3\n      },\n      {\n        \"x\": \"2017-05-12T00:00:00\",\n        \"y\": 2\n      },\n      {\n        \"x\": \"2017-05-13T00:00:00\",\n        \"y\": 0\n      },\n      {\n        \"x\": \"2017-05-14T00:00:00\",\n        \"y\": 1\n      }\n    ]\n  },\n  {\n    \"key\": \"Line-2\",\n    \"values\": [\n      {\n        \"x\": \"2017-05-08T00:00:00\",\n        \"y\": 2\n      },\n      {\n        \"x\": \"2017-05-09T00:00:00\",\n        \"y\": 2\n      },\n      {\n        \"x\": \"2017-05-10T00:00:00\",\n        \"y\": 3\n      },\n      {\n        \"x\": \"2017-05-11T00:00:00\",\n        \"y\": 3\n      },\n      {\n        \"x\": \"2017-05-12T00:00:00\",\n        \"y\": 2\n      },\n      {\n        \"x\": \"2017-05-13T00:00:00\",\n        \"y\": 0\n      },\n      {\n        \"x\": \"2017-05-14T00:00:00\",\n        \"y\": 1\n      }\n    ]\n  }\n]; // return complete list of condensed sensor data\nreturn msg;\n","outputs":"1","noerr":0,"x":218.00004959106445,"y":1068.0004606246948,"wires":[["b15bdd03.3b6c9","7b5671d8.3b347","b5e08f22.e9e05"]]},{"id":"eeeb703b.ccdd","type":"inject","z":"8989e6b8.a1b1c8","name":"","topic":"","payload":"Every Midnight","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":125.99989318847656,"y":1668.0000410079956,"wires":[["d81901f0.ddd22"]]},{"id":"d81901f0.ddd22","type":"function","z":"8989e6b8.a1b1c8","name":"Store Data Quality","func":"/*  */\n\nreturn msg;","outputs":1,"noerr":0,"x":356.9998893737793,"y":1668.0000410079956,"wires":[[]]},{"id":"4d38de07.4eaba","type":"comment","z":"8989e6b8.a1b1c8","name":"Store data quality every day for monthly reports?","info":"","x":201.99989318847656,"y":1710.0000448226929,"wires":[]},{"id":"3d3f4cfe.734a34","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Dates","func":"/*Finds dates available to filter data using ckan API*/\n\n// Access API; earliest EMS / BMS file\n// Get first record date = firstDate\n\n// Access API; latest EMS / BMS file\n// Get last recorded date = lastDate\n\n// Build array from firstDate - lastDate into msg.options\nmsg.options = [ \"Date 1\", \"Date 2\", {\"Date 3\": 3} ];\n\n//msg.maxDate = new Date(); // no way to limit dates?\n\nreturn msg;","outputs":"1","noerr":0,"x":431.00008392333984,"y":564.0000429153442,"wires":[["f191a467.972098","107ade59.bfac92"]]},{"id":"f132ad29.c374b","type":"function","z":"8989e6b8.a1b1c8","name":"Error Types","func":"/*Finds errors available to filter data */\n\nvar ret = [{\"All\":0}];\nvar lookupList = global.get(\"errortypelookup\");\n\n// create an array of all error types\nfor (var i = 0; i < lookupList.length; i++){\n    \n    var key = lookupList[i].description;\n    var value = lookupList[i].id;  // key, value pair to add as option\n    var toPush = {};\n    toPush[key] = value; // create object to push and add key, value pair\n    ret.push(toPush);\n} \n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n});\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":405.0000991821289,"y":643.0000467300415,"wires":[["df37ce1a.fa343","24248a52.5b35f6"]]},{"id":"d64f04d2.53e598","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Systems","func":"/*Finds systems (BMS / EMS) available to filter data using ckan API*/\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Utility Type\"]; // system; heating, water, oil etc.\n    \n    // only add system if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){ \n        ret.push(current);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":437.0000743865967,"y":682.0000581741333,"wires":[["82e98b68.3459f8","25d82a3f.897346"]]},{"id":"4bbb507b.421e9","type":"link out","z":"8989e6b8.a1b1c8","name":"From","links":["63ce0ebe.46f01"],"x":966.000165939331,"y":525.0001201629639,"wires":[]},{"id":"dd0987fd.8ce488","type":"link out","z":"8989e6b8.a1b1c8","name":"To","links":["63ce0ebe.46f01"],"x":966.0001735687256,"y":565.0001192092896,"wires":[]},{"id":"e74bc4a4.416138","type":"link out","z":"8989e6b8.a1b1c8","name":"Building","links":["63ce0ebe.46f01"],"x":966.000165939331,"y":605.0001201629639,"wires":[]},{"id":"74b618d5.d95d98","type":"link out","z":"8989e6b8.a1b1c8","name":"Error","links":["63ce0ebe.46f01"],"x":966.0001735687256,"y":644.0001220703125,"wires":[]},{"id":"69c069bb.dc4af8","type":"link out","z":"8989e6b8.a1b1c8","name":"System","links":["63ce0ebe.46f01"],"x":967.0001735687256,"y":683.0001220703125,"wires":[]},{"id":"504d6d69.b1e8b4","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":807.099850654602,"y":1488.200119972229,"wires":[["c600fd41.59d2e","aa6ec943.d19078"]]},{"id":"e6247290.cb0fa","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.999841928482,"y":1528.3999252319336,"wires":[["c600fd41.59d2e"]]},{"id":"8154a43c.fb2ff8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.9998483657837,"y":1569.3999271392822,"wires":[["c600fd41.59d2e"]]},{"id":"b5943fd2.ff761","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.8998422622681,"y":1609.600025177002,"wires":[["c600fd41.59d2e"]]},{"id":"bbee2907.2fa4e8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":804.999849319458,"y":1650.3999290466309,"wires":[["c600fd41.59d2e"]]},{"id":"7a264854.fbdf68","type":"comment","z":"8989e6b8.a1b1c8","name":"Repeatedly Update Data Today","info":"","x":142.9998779296875,"y":1452.0000429153442,"wires":[]},{"id":"aa6ec943.d19078","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":946.0998458862305,"y":1488.3998279571533,"wires":[]},{"id":"7419d645.6879d8","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":1539.100341796875,"y":393.00006103515625,"wires":[]},{"id":"983614fd.8d85e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Buildings","func":"/* Finds all available buildings to filter data */\n\nvar ret = [\"All\"]; // options always include an 'all'\nvar current;\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Building Name\"];\n\n    // only add building if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){\n        \n        var key = msg.payload.result.records[i][\"Building Name\"];\n        var value = msg.payload.result.records[i][\"Building Code\"]; // key, value pair to add as option\n        var toPush = {};\n        toPush[key] = value; // create object to push and add key, value pair\n        ret.push(toPush);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":444.0000991821289,"y":604.0000495910645,"wires":[["a0294884.edd348","84507f92.c04c1"]]},{"id":"107ade59.bfac92","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"From","group":"2ed7948e.77b2cc","order":1,"width":"6","height":"1","passthru":false,"topic":"","x":712.2000465393066,"y":525.0000619888306,"wires":[["818748a6.118558"]]},{"id":"f191a467.972098","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"To","group":"2ed7948e.77b2cc","order":2,"width":"6","height":"1","passthru":false,"topic":"","x":712.2000122070312,"y":565.0000610351562,"wires":[["a10709f6.598ca8"]]},{"id":"a0294884.edd348","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Building","label":"Building","place":"Alexandra Park","group":"2ed7948e.77b2cc","order":3,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":720.2000122070312,"y":605.0000610351562,"wires":[["95b88749.2efde8"]]},{"id":"df37ce1a.fa343","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Error","label":"Error Type","place":"All","group":"2ed7948e.77b2cc","order":4,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":710.2000122070312,"y":644.0000610351562,"wires":[["a61eedaa.a331b"]]},{"id":"82e98b68.3459f8","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"System","label":"Utility","place":"All","group":"2ed7948e.77b2cc","order":5,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":719.2000122070312,"y":683.0000610351562,"wires":[["f434025f.54218"]]},{"id":"7b5671d8.3b347","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"2ed7948e.77b2cc","order":6,"width":"30","height":"6","label":"Data Quality","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008837","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":464.6000518798828,"y":1145.8003120422363,"wires":[[],[]]},{"id":"7f25d20c.e4c02c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends HTTP request headers to following HTTP request */\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\n//msg.url = \"https://\"+apiuser+\":\"+apipass+\"@ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.topic = \"planon metadata\"\n\nreturn msg;","outputs":1,"noerr":0,"x":592.0000839233398,"y":373.0000514984131,"wires":[["a6eb2fdc.b39a8"]]},{"id":"3d6515b8.3a96ca","type":"function","z":"8989e6b8.a1b1c8","name":"meters / sensors URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Meters Sensors\";\nmsg.url = \"\";\nmsg.topic = \"meters meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n        \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":989.000072479248,"y":373.0000534057617,"wires":[["1ee9ffd6.721e3"]]},{"id":"7d2955fa.f1c73c","type":"http request","z":"8989e6b8.a1b1c8","name":"all meter meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.0001411437988,"y":373.00003242492676,"wires":[["7419d645.6879d8","8587f908.208bd8"]]},{"id":"98db57bb.8d5e48","type":"function","z":"8989e6b8.a1b1c8","name":"loggers / controllers URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Loggers Controllers\";\nmsg.url = \"\";\nmsg.topic = \"loggers meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n    \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\n\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1000.0000419616699,"y":415.0000524520874,"wires":[["6b2b7823.6129a8"]]},{"id":"6b7c85d8.1d9a9c","type":"http request","z":"8989e6b8.a1b1c8","name":"all logger meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.6000061035156,"y":415.0000276565552,"wires":[["7419d645.6879d8","a3297796.11a758"]]},{"id":"a6eb2fdc.b39a8","type":"http request","z":"8989e6b8.a1b1c8","name":"All Metadata","method":"GET","ret":"obj","url":"","tls":"","x":764.8000717163086,"y":373.0000400543213,"wires":[["bd447cb7.ff48c","98db57bb.8d5e48","3d6515b8.3a96ca"]]},{"id":"376596dc.7c653a","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":1252.300277709961,"y":1339.999930381775,"wires":[]},{"id":"1ee9ffd6.721e3","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1201.3999290466309,"y":373.0000219345093,"wires":[["7d2955fa.f1c73c"]]},{"id":"6b2b7823.6129a8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1202.3999271392822,"y":415.0000219345093,"wires":[["6b7c85d8.1d9a9c"]]},{"id":"bd447cb7.ff48c","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":939.0000495910645,"y":330.000018119812,"wires":[]},{"id":"256767d0.0f9d38","type":"link out","z":"8989e6b8.a1b1c8","name":"meter meta","links":["c3dc36f3.538c08","44f66b0a.577e24","ca0a990d.376b38"],"x":1630.10009765625,"y":349.4000244140625,"wires":[]},{"id":"541083fb.ae157c","type":"link out","z":"8989e6b8.a1b1c8","name":"logger meta","links":["a44b4fd4.2ed73"],"x":1629,"y":435.0000305175781,"wires":[]},{"id":"3beea470.59512c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read EMS / BMS Metadata from CKAN","info":"","x":159,"y":334,"wires":[]},{"id":"a44b4fd4.2ed73","type":"link in","z":"8989e6b8.a1b1c8","name":"building select","links":["541083fb.ae157c"],"x":261.10015392303467,"y":603.8000822067261,"wires":[["983614fd.8d85e8"]]},{"id":"4fb5aa0b.fd84e4","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Filter Menu","info":"","x":104,"y":486.00013160705566,"wires":[]},{"id":"358cefac.80798","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie,\n    //\"X-CKAN-API-Key\" : apikey\n};\n\nvar url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+global.get(\"system\");\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":294.99996185302734,"y":1341.0000038146973,"wires":[["459100a5.cd283"]]},{"id":"459100a5.cd283","type":"http request","z":"8989e6b8.a1b1c8","name":"Selected Package","method":"GET","ret":"obj","url":"","tls":"","x":512.7999496459961,"y":1341.0000038146973,"wires":[["c6a98a6e.359258"]]},{"id":"c6a98a6e.359258","type":"function","z":"8989e6b8.a1b1c8","name":"Find URL for Selected","func":"/* */\n\nvar lookingFor = global.get(\"filename\");\nvar count = global.get(\"count\");\nvar limit = global.get(\"limit\");\nmsg.url = \"\";\nmsg.topic = \"selected url\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id+\"&offset=\"+count+\"&limit=\"+limit;\n    \n        //global.set(\"count\", count+limit)\n    \n        //var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        //msg.url = url;\n    }\n}\n\nmsg.payload = \"\" // remove payload\nreturn msg;","outputs":1,"noerr":0,"x":737.8000259399414,"y":1340.9999551773071,"wires":[["9d2e0a69.896be8"]]},{"id":"2da90e1e.1babe2","type":"http request","z":"8989e6b8.a1b1c8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1108.3999729156494,"y":1339.9999322891235,"wires":[["376596dc.7c653a"]]},{"id":"9d2e0a69.896be8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":934.1999778747559,"y":1340.9999532699585,"wires":[["2da90e1e.1babe2"]]},{"id":"63ce0ebe.46f01","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":["4bbb507b.421e9","69c069bb.dc4af8","74b618d5.d95d98","dd0987fd.8ce488","e74bc4a4.416138"],"x":32.09993553161621,"y":1341.8000049591064,"wires":[[]]},{"id":"22cef1c5.1d873e","type":"comment","z":"8989e6b8.a1b1c8","name":"Process Menu Inputs","info":"","x":112.99992370605469,"y":1249.0000476837158,"wires":[]},{"id":"f434025f.54218","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":871.0000762939453,"y":683.0001220703125,"wires":[["69c069bb.dc4af8"]]},{"id":"a61eedaa.a331b","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":871.000072479248,"y":644.0001220703125,"wires":[["74b618d5.d95d98"]]},{"id":"95b88749.2efde8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":869.0000381469727,"y":605.0001106262207,"wires":[["e74bc4a4.416138"]]},{"id":"a10709f6.598ca8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"to\", new Date(date))\n}\nelse {\n    global.set(\"to\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":870.000072479248,"y":565.0001182556152,"wires":[["dd0987fd.8ce488"]]},{"id":"818748a6.118558","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"from\", new Date(date))\n}\nelse {\n    global.set(\"from\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":868.000072479248,"y":525.0001182556152,"wires":[["4bbb507b.421e9"]]},{"id":"431c0c5b.85d114","type":"function","z":"8989e6b8.a1b1c8","name":"Required Filename(s)","func":"/* Returns a list of filenames needed to represent the specified data */\n\nvar ret = [];\n\n// Get system identifier\nvar sys = global.get(\"system\");\nvar system = sys.toLowerCase(); // contingency\n\n// Get month identifiers e.g 'jan', 'mar' etc.\nvar from = global.get(\"from\");\nvar to = global.get(\"to\");\nvar months = [ \"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\" ];\n\n// Get years\nvar yearFrom = from.getFullYear();\nvar yearTo = to.getFullYear();\n\nvar nMonth = from.getMonth();\nwhile (nMonth <= to.getMonth()){\n    \n    var month = months[nMonth];\n    ret.push(system + \"-\" + month + \"-\" + yearFrom);\n    nMonth++;\n}\n\n// improvement not working\n// var count = 0;\n// var toDisplay = from;\n// while (count <= monthDiff(from, to)){\n    \n//     var month = months[toDisplay.getMonth()];\n//     ret.push(system + \"-\" + month + \"-\" + yearFrom);\n//     var toDisplay = from.setMonth(from.getMonth()+1);\n//     count++;\n// }\n\n\nglobal.set(\"filenames\", ret);\nmsg.payload = ret;\nreturn msg;\n\n// https://stackoverflow.com/questions/2536379/difference-in-months-between-two-dates-in-javascript\nfunction monthDiff(d1, d2) {\n    var months;\n    months = (d2.getFullYear() - d1.getFullYear()) * 12;\n    months -= d1.getMonth() + 1;\n    months += d2.getMonth();\n    return months <= 0 ? 0 : months;\n}","outputs":1,"noerr":0,"x":219.69998931884766,"y":1290.9999055862427,"wires":[["1ef112d2.42b0ad"]]},{"id":"1ef112d2.42b0ad","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"payload","x":415.70001220703125,"y":1290.9999046325684,"wires":[]},{"id":"4f3e9088.7d8c8","type":"comment","z":"8989e6b8.a1b1c8","name":"*Doesnt account for change in year","info":"","x":659.9999198913574,"y":1292.3999547958374,"wires":[]},{"id":"d77b532f.63064","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":844.1669311523438,"y":260.1333465576172,"wires":[["bcfa00c1.e532a"]]},{"id":"39d4912f.4c5dae","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM erroneousassets","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM erroneousassets\";\nreturn newMsg;","outputs":1,"noerr":0,"x":612.388879776001,"y":214.11111879348755,"wires":[["a39a2df0.f1362"]]},{"id":"e0b22c46.3ba12","type":"delay","z":"8989e6b8.a1b1c8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364.1668109893799,"y":195.3334002494812,"wires":[["39d4912f.4c5dae","b7fe28.776ae1d8","a4037a0c.6e72e8","4dd9dc1b.9e83e4"]]},{"id":"4edb82c2.68317c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read eisquality Database","info":"A 1 second delay is needed to delay msg to the \nmysql database node, otherwise the msg arrives too\nsoon and the databse has not connected. Perhaps this\nprecaution will not be needed in future releases of\nnode-red-node-mysql","x":120,"y":157.0000238418579,"wires":[]},{"id":"db6eac29.ddcb","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.9333896636963,"y":195.9333577156067,"wires":[["e0b22c46.3ba12"]]},{"id":"b7fe28.776ae1d8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errortypelookup","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errortypelookup\";\nreturn newMsg;","outputs":1,"noerr":0,"x":613.9332885742188,"y":168.9333267211914,"wires":[["4a627813.fa8af8"]]},{"id":"4a627813.fa8af8","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":845.9333038330078,"y":168.93332481384277,"wires":[["f8366d4b.41896"]]},{"id":"ff3d0625.f09af8","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errortypelookup","links":["941b2590.6fd828"],"x":1090.1667919158936,"y":168.93335247039795,"wires":[]},{"id":"941b2590.6fd828","type":"link in","z":"8989e6b8.a1b1c8","name":"error select","links":["ff3d0625.f09af8","a9c51a99.1baf38"],"x":262.16678524017334,"y":642.666805267334,"wires":[["f132ad29.c374b"]]},{"id":"c3dc36f3.538c08","type":"link in","z":"8989e6b8.a1b1c8","name":"system select","links":["256767d0.0f9d38"],"x":262.9333333969116,"y":681.9333429336548,"wires":[["d64f04d2.53e598"]]},{"id":"a4037a0c.6e72e8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errors","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errors\";\nreturn newMsg;","outputs":1,"noerr":0,"x":581,"y":260,"wires":[["d77b532f.63064"]]},{"id":"a39a2df0.f1362","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846,"y":214,"wires":[["3d56936f.4931bc"]]},{"id":"401ed0d7.b656a","type":"link out","z":"8989e6b8.a1b1c8","name":"DB erroneousassets","links":["bfd66f5.a3c499","ca0a990d.376b38","e1ef3091.de152"],"x":1087.0000610351562,"y":214.0000410079956,"wires":[]},{"id":"a62d0dd2.6cf79","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errors","links":["ae49abc6.c34108","e12b0d8f.6235e"],"x":1086.000244140625,"y":260.0000295639038,"wires":[]},{"id":"680ef8b2.f14d08","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":157.81250762939453,"y":563.8189249038696,"wires":[["3d3f4cfe.734a34"]]},{"id":"84507f92.c04c1","type":"link out","z":"8989e6b8.a1b1c8","name":"Building List","links":["6e3ed2c7.204a0c","e2e6e501.09b078"],"x":673,"y":724,"wires":[]},{"id":"25d82a3f.897346","type":"link out","z":"8989e6b8.a1b1c8","name":"System List","links":["f688e36f.54454","84929bfc.d7b8f8"],"x":672.0000991821289,"y":800.0000247955322,"wires":[]},{"id":"8587f908.208bd8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"meters\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":349,"wires":[["256767d0.0f9d38"]]},{"id":"a3297796.11a758","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"loggers\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1539,"y":435,"wires":[["541083fb.ae157c"]]},{"id":"e0fddea1.189bb","type":"comment","z":"8989e6b8.a1b1c8","name":"Same data used to populate dropdowns on other tabs","info":"","x":899,"y":743,"wires":[]},{"id":"e97e3e27.cee2a","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Charts","info":"","x":95,"y":830.0188074111938,"wires":[]},{"id":"4dd9dc1b.9e83e4","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM qualitylog","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM qualitylog\";\nreturn newMsg;","outputs":1,"noerr":0,"x":594.9332885742188,"y":123.9333267211914,"wires":[["bd4b753c.8bd818"]]},{"id":"bd4b753c.8bd818","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846.9333038330078,"y":123.93333053588867,"wires":[["1fea7f6c.d36d91"]]},{"id":"a9c51a99.1baf38","type":"link out","z":"8989e6b8.a1b1c8","name":"DB qualitylog","links":["941b2590.6fd828","ff5efad9.a15c38"],"x":1091.9332094192505,"y":123.9333381652832,"wires":[]},{"id":"9d5d040.f8e03f8","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Month","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":"1","noerr":0,"x":208.93333435058594,"y":1111.5333442687988,"wires":[[]]},{"id":"b5e08f22.e9e05","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":482.9334526062012,"y":1106.5334815979004,"wires":[]},{"id":"7e317217.b896dc","type":"function","z":"8989e6b8.a1b1c8","name":"Pre-load test data","func":"\n/* This function creates a two data sets, with different topics,\n   the same x values and different y values*/\n\n// Change the scale factor each time.\nvar scale = context.get('scale') || 0;\nif (msg.topic == \"Reset\") {\n    scale = 0;\n}\nscale++;\ncontext.set('scale', scale);\n\nmsg.payload = [];       // This will be an array of {topic, data} objects\nvar dataPoints1 = [];   // These will be the first array of data points \nvar dataPoints2 = [];   // These will be the second array of data points \nvar numPoints = 20;     // We will create one more than this.\n\n// For the first data set create a sine wave\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    point.y = Math.sin(2 * 3.14 * (i/numPoints)) * scale/10;\n    // build the data array    \n    dataPoints1.push(point);\n}\n\n// For the second data set create a triangle\nfor (var i=0; i<=numPoints; i++) {\n    var point = {};\n    point.x = i;\n    if (i<(numPoints/2)) {\n        // ramp up\n        point.y = i * scale/10;\n    }\n    else {\n        // ramp down\n        point.y = (numPoints - i) * scale/10;\n    }\n    dataPoints2.push(point);    // add to the array\n}\n\nmsg.action = \"load\";    // This instructs the chart node to paint the data\n\n// The payload is an array of two {topic, data} objects\nmsg.payload = [{topic: \"Sin\", data: dataPoints1},\n                {topic: \"Triangle\", data: dataPoints2}];\n\nreturn msg;","outputs":1,"noerr":0,"x":203.93333435058594,"y":1165.5333442687988,"wires":[[]]},{"id":"70496421.27012c","type":"function","z":"8989e6b8.a1b1c8","name":"Populate List","func":"var LIST_SIZE = 5; // detemines size of returned list\n\nvar assets = global.get(\"erroneousassets\"); // all erroneous assets\nvar errors = global.get(\"errors\"); // all errors\nvar array = []; // to return\n\n/*Complete list of erroneous assets and their number of errors*/\nfor(var i = 0; i < assets.length; i++){ // for every erroneous asset\n\n    if (assets[i].logger_channel!==\"\" && assets[i].logger_code!==\"\"){\n        \n        var errorCount = 0; // number of error for the asset\n    \n        if(assets[i].hardware==\"meter\"){ // if the asset is a meter\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && assets[i].logger_channel===errors[j].logger_channel){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n        else if (assets[i].hardware==\"logger\"){ // if the asset is a logger\n        \n            for(var j = 0; j < errors.length; j++){ // for every error\n        \n                // if the error is for this asset\n                if(assets[i].logger_code===errors[j].logger_code && errors[j].logger_channel===\"\"){\n                    errorCount++; // increase error count for this asset\n                }\n            }\n        }\n    \n        array.push({ // Add data to msg payload\n            hardware: assets[i].hardware,\n            loggerCode: assets[i].logger_code,\n            loggerChannel: assets[i].logger_channel,\n            util: assets[i].utility_type,\n            nErrors: errorCount,\n            time: assets[i].most_recent_error,\n        });\n    }\n}\n\n/*Reduce the list to the assets with the most errors*/\narray.sort(function(a, b){\n    if(a.nErrors < b.nErrors) return 1;\n    if(a.nErrors > b.nErrors) return -1;\n    return 0;\n});\narray = array.slice(0, LIST_SIZE);\n\nmsg.payload = array; // return complete list of condensed sensor data\nmsg.topic = \"populate erroneous assets\";\nreturn msg;\n","outputs":1,"noerr":0,"x":947.9333114624023,"y":932.6667556762695,"wires":[["f08f479b.487158","6126d250.dfb40c"]]},{"id":"f08f479b.487158","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"payload","x":1141.9335174560547,"y":890.6668853759766,"wires":[]},{"id":"bfd66f5.a3c499","type":"link in","z":"8989e6b8.a1b1c8","name":"Error Panel","links":["401ed0d7.b656a"],"x":830.1667776107788,"y":932.7335262298584,"wires":[["70496421.27012c"]]},{"id":"bcfa00c1.e532a","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errors\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":985.0000381469727,"y":259.9333481788635,"wires":[["a62d0dd2.6cf79"]]},{"id":"e4e1a69b.d53a18","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":204.16674041748047,"y":234.33353996276855,"wires":[["e0b22c46.3ba12"]]},{"id":"2e44590f.7ea3e6","type":"comment","z":"8989e6b8.a1b1c8","name":"Unfinished*","info":"","x":722.9333038330078,"y":1083.6666450500488,"wires":[]},{"id":"5caa153a.ccd3fc","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"Error Details","x":1429.0002517700195,"y":933.0000648498535,"wires":[[]]},{"id":"3393a545.bcd39a","type":"function","z":"8989e6b8.a1b1c8","name":"","func":"msg.payload= \"Error Details\";\nreturn msg;","outputs":1,"noerr":0,"x":1282.7667694091797,"y":932.466694355011,"wires":[["5caa153a.ccd3fc"]]},{"id":"85f03be5.ae5ee8","type":"link out","z":"8989e6b8.a1b1c8","name":"Erroneous Assets Click (Overview)","links":["99c677c9.1a6e18","ef6994b7.5279c8","69c378b6.fce488","fa76bfb6.fda52"],"x":1250.0005822181702,"y":973.9333572387695,"wires":[]},{"id":"3d56936f.4931bc","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"erroneousassets\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":985.9333267211914,"y":213.93332481384277,"wires":[["401ed0d7.b656a"]]},{"id":"f8366d4b.41896","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"global.set(\"errortypelookup\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":990.9332885742188,"y":168.93331909179688,"wires":[["ff3d0625.f09af8"]]},{"id":"1fea7f6c.d36d91","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"qualitylog\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":988.9332885742188,"y":123.9333267211914,"wires":[["a9c51a99.1baf38"]]},{"id":"24248a52.5b35f6","type":"link out","z":"8989e6b8.a1b1c8","name":"Error List","links":["e8bf248f.0ed3b8","553afc29.456c14"],"x":672.6333618164062,"y":761.2000198364258,"wires":[]},{"id":"e55a801c.fea3","type":"ui_button","z":"8989e6b8.a1b1c8","name":"View All","group":"c58cdd95.eecf9","order":2,"width":"15","height":"1","passthru":false,"label":"View All","color":"","bgcolor":"","icon":"","payload":"All Errors","payloadType":"str","topic":"","x":1293.2670249938965,"y":1015.5334062576294,"wires":[["76ae1fc.374cce"]]},{"id":"76ae1fc.374cce","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"All Errors","x":1438.2669792175293,"y":1015.5333681106567,"wires":[[]]},{"id":"a894b3c7.e397a","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":204.93331909179688,"y":411.9333190917969,"wires":[["cd22f057.a287"]]},{"id":"b0e27221.ed086","type":"inject","z":"8989e6b8.a1b1c8","name":"9am Daily","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 09 * * *","once":false,"x":205.93331909179688,"y":524.9333190917969,"wires":[["3d3f4cfe.734a34"]]},{"id":"3709d3aa.907cbc","type":"ui_group","z":"","name":"Overview","tab":"74572b8e.f09ac4","order":2,"disp":true,"width":"15"},{"id":"c58cdd95.eecf9","type":"ui_group","z":"","name":"Top Errors","tab":"74572b8e.f09ac4","order":3,"disp":true,"width":"15"},{"id":"2ed7948e.77b2cc","type":"ui_group","z":"","name":"Trends","tab":"74572b8e.f09ac4","order":4,"disp":true,"width":"30"},{"id":"3e6a2382.3b8b5c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"eisquality","tz":""},{"id":"74572b8e.f09ac4","type":"ui_tab","z":"","name":"Quality Overview","icon":"dashboard","order":1}]
