Node-RED/txt/Flow 1 - Overview Tab.txt
[{"id":"d0c19df1.52a37","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Quality Today","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Pending Data...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7b3294","#008837","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":504.1001605987549,"y":1097.6001586914062,"wires":[[],[]],"inputLabels":["Erros & Success %"]},{"id":"b15bdd03.3b6c9","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Quality Month","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008837","#f37288","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":506.00006675720215,"y":1146.0000677108765,"wires":[[],[]]},{"id":"13dca5bd.e5c82a","type":"comment","z":"8989e6b8.a1b1c8","name":"Overview Panel","info":"","x":122.10001564025879,"y":1061.2000741958618,"wires":[]},{"id":"12954b43.4cbdc5","type":"comment","z":"8989e6b8.a1b1c8","name":"Error Panel","info":"","x":112.00003433227539,"y":1229.0000247955322,"wires":[]},{"id":"587057d7.a72948","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":659.0000667572021,"y":1219.0001153945923,"wires":[]},{"id":"6126d250.dfb40c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Error List","order":0,"width":"12","height":"4","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 1</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 2</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 3</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 4</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 5</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 6</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 7</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":104.10018920898438,"y":1269.6000804901123,"wires":[[]]},{"id":"f30ab301.7f8c5","type":"ui_button","z":"8989e6b8.a1b1c8","name":"","group":"c58cdd95.eecf9","order":0,"width":"3","height":"1","passthru":false,"label":"Show More","color":"","bgcolor":"","icon":"all_out","payload":"","payloadType":"str","topic":"","x":114.10003280639648,"y":1312.2000331878662,"wires":[["6366aae1.a26fa4"]]},{"id":"b9ca1d81.43eee","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"Move to Errors tab","x":472.100040435791,"y":1311.6000289916992,"wires":[[]]},{"id":"6366aae1.a26fa4","type":"function","z":"8989e6b8.a1b1c8","name":"\"Errors\"","func":"msg.payload = \"Errors\";\nreturn msg;","outputs":1,"noerr":0,"x":281.0000343322754,"y":1311.4000282287598,"wires":[["b9ca1d81.43eee"]]},{"id":"3807c9a3.a94846","type":"comment","z":"8989e6b8.a1b1c8","name":"Quality Overview Tab","info":"","x":109.10000610351562,"y":22.000000953674316,"wires":[]},{"id":"cd22f057.a287","type":"function","z":"8989e6b8.a1b1c8","name":"Initialise Variables","func":"global.set(\"count\", 0);\nglobal.set(\"limit\", 500);\n\n// API Cookie: needs changing on each session\nglobal.set(\"cookie\", \"VdV48bc+gJh8i4NRtvZx95OTVkyGCtoaF-TSaIOm7lz-9v3kxvvlqodDKiUKwvaNpMiuLWkgerUGySpMETKd6SqtyU9bKpcZ6pS5bydnVKAcgdUsHWlDA1dWNJ2l/1503307766\");\nglobal.set(\"cookiename\", \"cosign-https-ckan.lancaster.ac.uk\");\n\n// Defaultss to Alex Park and BMS data\nglobal.set(\"from\", new Date());\nglobal.set(\"to\", new Date());\nglobal.set(\"building\", \"Alexander Park\");\nglobal.set(\"errortype\", \"all\");\nglobal.set(\"system\", \"bms\");\n\nglobal.set(\"filenames\", []);\nglobal.set(\"array\", []);","outputs":"1","noerr":0,"x":315.0002746582031,"y":221.00003051757812,"wires":[[]]},{"id":"c600fd41.59d2e","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":247.00006103515625,"y":1571.6003456115723,"wires":[[]]},{"id":"6851ceea.84c4f","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":113.89998626708984,"y":1448.8001356124878,"wires":[]},{"id":"eb30ee85.49c5","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":174.0001220703125,"y":326.00003242492676,"wires":[["cd22f057.a287","3d3f4cfe.734a34","f132ad29.c374b","7f25d20c.e4c02c","d64f04d2.53e598"]]},{"id":"9c09d0be.16b83","type":"comment","z":"8989e6b8.a1b1c8","name":"System Setup","info":"","x":103.00006866455078,"y":236.00003242492676,"wires":[]},{"id":"d347b1b6.12baf","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Today)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":547.1001739501953,"y":851.0000343322754,"wires":[["21e6ba1e.6c27c6"]]},{"id":"1c0eea27.93d1b6","type":"function","z":"8989e6b8.a1b1c8","name":"Today's Date","func":"/* Representation of today's date as String */\n\nvar time = new Date().getTime();\nvar date = new Date(time);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":351.0000419616699,"y":872.0000343322754,"wires":[["d347b1b6.12baf","7c40d407.ff647c"]]},{"id":"9ddbdb1.a220b28","type":"inject","z":"8989e6b8.a1b1c8","name":"Every 5 Minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":158.00000953674316,"y":872.000020980835,"wires":[["1c0eea27.93d1b6"]]},{"id":"797bebd1.da8dc4","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Today","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":233.10008430480957,"y":1101.0000658035278,"wires":[["d0c19df1.52a37"],["d0c19df1.52a37"]]},{"id":"ca0a990d.376b38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Today","links":["21e6ba1e.6c27c6"],"x":58.100006103515625,"y":1100.8000898361206,"wires":[["797bebd1.da8dc4"]]},{"id":"21e6ba1e.6c27c6","type":"link out","z":"8989e6b8.a1b1c8","name":"API Today","links":["ca0a990d.376b38"],"x":699.1001281738281,"y":850.8000221252441,"wires":[]},{"id":"7c40d407.ff647c","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Month)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":546.0000076293945,"y":894.0000171661377,"wires":[["2f7d2f00.990dc2"]]},{"id":"2f7d2f00.990dc2","type":"link out","z":"8989e6b8.a1b1c8","name":"API Month","links":["ff5efad9.a15c38"],"x":698.0000076293945,"y":894.0000171661377,"wires":[]},{"id":"ff5efad9.a15c38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Month","links":["2f7d2f00.990dc2"],"x":57.00000190734863,"y":1146.0000562667847,"wires":[["78d07c07.993c84"]]},{"id":"78d07c07.993c84","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Month","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":"1","noerr":0,"x":233.00000190734863,"y":1146.0000562667847,"wires":[["b15bdd03.3b6c9","7b5671d8.3b347"]]},{"id":"eeeb703b.ccdd","type":"inject","z":"8989e6b8.a1b1c8","name":"","topic":"","payload":"Every Midnight","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":145.0000228881836,"y":960.0000247955322,"wires":[["d81901f0.ddd22"]]},{"id":"d81901f0.ddd22","type":"function","z":"8989e6b8.a1b1c8","name":"Store Data Quality","func":"/*  */\n\nreturn msg;","outputs":1,"noerr":0,"x":376.0000190734863,"y":960.0000247955322,"wires":[[]]},{"id":"4d38de07.4eaba","type":"comment","z":"8989e6b8.a1b1c8","name":"Store data quality every day for monthly reports?","info":"","x":221.0000228881836,"y":1002.0000286102295,"wires":[]},{"id":"3d3f4cfe.734a34","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Dates","func":"/*Finds dates available to filter data using ckan API*/\n\n// Access API; earliest EMS / BMS file\n// Get first record date = firstDate\n\n// Access API; latest EMS / BMS file\n// Get last recorded date = lastDate\n\n// Build array from firstDate - lastDate into msg.options\nmsg.options = [ \"Date 1\", \"Date 2\", {\"Date 3\": 3} ];\n\n//msg.maxDate = new Date(); // no way to limit dates?\n\nreturn msg;","outputs":"1","noerr":0,"x":671.000129699707,"y":270.00000762939453,"wires":[["f191a467.972098","107ade59.bfac92"]]},{"id":"f132ad29.c374b","type":"function","z":"8989e6b8.a1b1c8","name":"Error Types","func":"/*Finds errors available to filter data */\n\nvar ret = [\"All\", \"Err Type 1\", \"Err Type 2\", \"Err Type 3\"];\n\n// create an array of all errors\n// Need to define what errors can be found, maybe in seperate file?\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":649.0001449584961,"y":349.0000114440918,"wires":[["df37ce1a.fa343"]]},{"id":"d64f04d2.53e598","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Systems","func":"/*Finds systems (BMS / EMS) available to filter data using ckan API*/\n\nvar ret = [{\"All\": \"all\"}, {\"BMS\": \"bms\"}, {\"EMS\": \"ems\"}]; // automatically populate\n\n// create an array of all resources in CKAN\n// for (var i = 0; i < msg.payload.result.length; i++){\n//     ret.push(msg.payload.result[i]);\n// }\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1; // All always appears first\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":681.0001201629639,"y":388.0000228881836,"wires":[["82e98b68.3459f8"]]},{"id":"4bbb507b.421e9","type":"link out","z":"8989e6b8.a1b1c8","name":"From","links":["63ce0ebe.46f01"],"x":1273.0001277923584,"y":230.00000953674316,"wires":[]},{"id":"dd0987fd.8ce488","type":"link out","z":"8989e6b8.a1b1c8","name":"To","links":["63ce0ebe.46f01"],"x":1273.000135421753,"y":270.00000858306885,"wires":[]},{"id":"e74bc4a4.416138","type":"link out","z":"8989e6b8.a1b1c8","name":"Building","links":["63ce0ebe.46f01"],"x":1273.0001277923584,"y":310.00000953674316,"wires":[]},{"id":"74b618d5.d95d98","type":"link out","z":"8989e6b8.a1b1c8","name":"Error","links":["63ce0ebe.46f01"],"x":1273.000135421753,"y":349.0000114440918,"wires":[]},{"id":"69c069bb.dc4af8","type":"link out","z":"8989e6b8.a1b1c8","name":"System","links":["63ce0ebe.46f01"],"x":1274.000135421753,"y":387.0000114440918,"wires":[]},{"id":"504d6d69.b1e8b4","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":58.10001468658447,"y":1494.2001504898071,"wires":[["c600fd41.59d2e","aa6ec943.d19078"]]},{"id":"e6247290.cb0fa","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":58.00000596046448,"y":1534.3999557495117,"wires":[["c600fd41.59d2e"]]},{"id":"8154a43c.fb2ff8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":58.00001239776611,"y":1575.3999576568604,"wires":[["c600fd41.59d2e"]]},{"id":"b5943fd2.ff761","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":57.90000629425049,"y":1615.60005569458,"wires":[["c600fd41.59d2e"]]},{"id":"bbee2907.2fa4e8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":56.00001335144043,"y":1656.399959564209,"wires":[["c600fd41.59d2e"]]},{"id":"3ad8bcfb.0648d4","type":"comment","z":"8989e6b8.a1b1c8","name":"Cookie must be updated in Variables!","info":"","x":257.0000915527344,"y":179.00001692771912,"wires":[]},{"id":"7a264854.fbdf68","type":"comment","z":"8989e6b8.a1b1c8","name":"Repeatedly Update Data Today","info":"","x":172.00000762939453,"y":914.0000171661377,"wires":[]},{"id":"aa6ec943.d19078","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":197.1000099182129,"y":1494.3998584747314,"wires":[]},{"id":"7419d645.6879d8","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":1265.1005249023438,"y":136.0000171661377,"wires":[]},{"id":"983614fd.8d85e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Buildings","func":"/* Finds buildings available to filter data using ckan API */\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Building Name\"];\n    \n    if (!ret.includes(current)){ // only add building if it hasnt been seen previously\n        // need to add as value: msg.payload.result.records[i][\"Building Code\"];\n        ret.push(msg.payload.result.records[i][\"Building Name\"]);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":688.0001449584961,"y":310.00001430511475,"wires":[["a0294884.edd348"]]},{"id":"3d6e940c.88b25c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Date Picker","order":0,"width":0,"height":0,"format":"<md-datepicker id=\"myDate\" ng-model=\"ctrl.myDate\" md-placeholder=\"Enter date\" md-min-date=\"ctrl.minDate\" md-max-date=\"ctrl.maxDate\"></md-datepicker>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":1443.8999633789062,"y":1310.399908065796,"wires":[[]]},{"id":"107ade59.bfac92","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"From","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"topic":"","x":882.2000923156738,"y":230.00000667572021,"wires":[["ce4d8d0.8fc0f7"]]},{"id":"f191a467.972098","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"To","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"topic":"","x":882.2000579833984,"y":270.0000057220459,"wires":[["197d0135.10b1ef"]]},{"id":"a0294884.edd348","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Building","label":"Building","place":"Alexandra Park","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":890.2000579833984,"y":310.0000057220459,"wires":[["f3dd77cd.747f08"]]},{"id":"df37ce1a.fa343","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Error","label":"Error Type","place":"All","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":880.2000579833984,"y":349.0000057220459,"wires":[["46114586.ada5fc"]]},{"id":"82e98b68.3459f8","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"System","label":"System","place":"","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":889.2000579833984,"y":388.0000057220459,"wires":[["96ba1a61.e699a8"]]},{"id":"7b5671d8.3b347","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"2ed7948e.77b2cc","order":0,"width":"24","height":"5","label":"Data Quality","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008837","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":497.60000801086426,"y":1217.8000440597534,"wires":[[],[]]},{"id":"dc78d58a.a5ffd8","type":"http request","z":"8989e6b8.a1b1c8","name":"Package List","method":"GET","ret":"obj","url":"https://ckan.lancaster.ac.uk/api/3/action/package_list","tls":"","x":1519.100082397461,"y":1064.1998901367188,"wires":[[]]},{"id":"7f25d20c.e4c02c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n};\n\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nreturn msg;","outputs":1,"noerr":0,"x":282.00006103515625,"y":135.00002813339233,"wires":[["a6eb2fdc.b39a8"]]},{"id":"9c3651dc.3a54d","type":"function","z":"8989e6b8.a1b1c8","name":"Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = \"cosign-https-ckan.lancaster.ac.uk\"; // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = \"2T292pNAAy7pK5-93u3tdAv5ToP0zmCPxnMr5lSsf959DJn66oCbKlGCOMahP86xBhmNDou2daVI5YI-Ha9cuGW8zOg+ojcQ193IdSCzfbMp-byWdqQ6I2s5hkjj/1502958693\";\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":1251.8001022338867,"y":1283.9998559951782,"wires":[[]]},{"id":"e5033bc1.847fd8","type":"function","z":"8989e6b8.a1b1c8","name":"Was Request Successful?","func":"/* */\n\nif (msg.payload.success === true){\n    alert(\"Error in Script: \\n\"+msg.payload.error.message+\"\\nFor more Help: \"+msg.payload.help);\n}\nreturn msg;\n    ","outputs":1,"noerr":0,"x":1216.8000411987305,"y":1321.9998540878296,"wires":[[]]},{"id":"701c5db0.7f47e4","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":1407.4000625610352,"y":1233.9998536109924,"wires":[]},{"id":"970083e8.2cbd8","type":"function","z":"8989e6b8.a1b1c8","name":"Headers and URL","func":"/* */\n\nmsg.topic = \"headers and url\";\n\nvar cookiename = \"cosign-https-ckan.lancaster.ac.uk\"; // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = \"2T292pNAAy7pK5-93u3tdAv5ToP0zmCPxnMr5lSsf959DJn66oCbKlGCOMahP86xBhmNDou2daVI5YI-Ha9cuGW8zOg+ojcQ193IdSCzfbMp-byWdqQ6I2s5hkjj/1502958693\";\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\n\nvar id = msg.payload;\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+id\nreturn msg;","outputs":1,"noerr":0,"x":1408.000156402588,"y":1196.9998517036438,"wires":[["701c5db0.7f47e4"]]},{"id":"592e8fcd.4ec67","type":"rbe","z":"8989e6b8.a1b1c8","name":"","func":"rbei","gap":"","start":"","inout":"out","x":1445.1001625061035,"y":1158.9998540878296,"wires":[["970083e8.2cbd8"]]},{"id":"3d6515b8.3a96ca","type":"function","z":"8989e6b8.a1b1c8","name":"meters / sensors URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Meters Sensors\";\nmsg.url = \"\";\nmsg.topic = \"meters and sensors\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n        \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":677.000072479248,"y":116.00003051757812,"wires":[["1ee9ffd6.721e3"]]},{"id":"7d2955fa.f1c73c","type":"http request","z":"8989e6b8.a1b1c8","name":"all meter meta","method":"GET","ret":"obj","url":"","tls":"","x":1060.0001411437988,"y":116.00000953674316,"wires":[["7419d645.6879d8","256767d0.0f9d38"]]},{"id":"98db57bb.8d5e48","type":"function","z":"8989e6b8.a1b1c8","name":"loggers / controllers URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Loggers Controllers\";\nmsg.url = \"\";\nmsg.topic = \"loggers and controllers\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n    \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\n\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":688.0000419616699,"y":158.0000295639038,"wires":[["6b2b7823.6129a8"]]},{"id":"6b7c85d8.1d9a9c","type":"http request","z":"8989e6b8.a1b1c8","name":"all logger meta","method":"GET","ret":"obj","url":"","tls":"","x":1060.6000061035156,"y":158.00000476837158,"wires":[["7419d645.6879d8","541083fb.ae157c"]]},{"id":"a6eb2fdc.b39a8","type":"http request","z":"8989e6b8.a1b1c8","name":"All Metadata","method":"GET","ret":"obj","url":"","tls":"","x":447.8000717163086,"y":135.0000171661377,"wires":[["bd447cb7.ff48c","98db57bb.8d5e48","3d6515b8.3a96ca"]]},{"id":"376596dc.7c653a","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":1354.3003768920898,"y":560.999906539917,"wires":[]},{"id":"1ee9ffd6.721e3","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":889.3999290466309,"y":115.99999904632568,"wires":[["7d2955fa.f1c73c"]]},{"id":"6b2b7823.6129a8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":890.3999271392822,"y":157.99999904632568,"wires":[["6b7c85d8.1d9a9c"]]},{"id":"ace3e38f.907e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":1352,"y":1063.9998922348022,"wires":[["dc78d58a.a5ffd8"]]},{"id":"bd447cb7.ff48c","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":627.000057220459,"y":78.0000057220459,"wires":[]},{"id":"256767d0.0f9d38","type":"link out","z":"8989e6b8.a1b1c8","name":"meters / sensor meta","links":[],"x":1180.100133895874,"y":116.40001583099365,"wires":[]},{"id":"541083fb.ae157c","type":"link out","z":"8989e6b8.a1b1c8","name":"logger / controller meta","links":["a44b4fd4.2ed73"],"x":1181.0000352859497,"y":158.00000476837158,"wires":[]},{"id":"3beea470.59512c","type":"comment","z":"8989e6b8.a1b1c8","name":"Reading all EMS / BMS Metadata","info":"","x":342.00001525878906,"y":96.00000286102295,"wires":[]},{"id":"a44b4fd4.2ed73","type":"link in","z":"8989e6b8.a1b1c8","name":"building select","links":["541083fb.ae157c"],"x":539.1001996994019,"y":309.80004692077637,"wires":[["983614fd.8d85e8"]]},{"id":"4fb5aa0b.fd84e4","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Menus","info":"","x":657.0000972747803,"y":228.00002098083496,"wires":[]},{"id":"358cefac.80798","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n};\n\nvar url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+global.get(\"system\");\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":397.00006103515625,"y":561.9999799728394,"wires":[["459100a5.cd283"]]},{"id":"459100a5.cd283","type":"http request","z":"8989e6b8.a1b1c8","name":"Selected Package","method":"GET","ret":"obj","url":"","tls":"","x":614.800048828125,"y":561.9999799728394,"wires":[["c6a98a6e.359258"]]},{"id":"c6a98a6e.359258","type":"function","z":"8989e6b8.a1b1c8","name":"Find URL for Selected","func":"/* */\n\nvar lookingFor = global.get(\"filename\");\nvar count = global.get(\"count\");\nvar limit = global.get(\"limit\");\nmsg.url = \"\";\nmsg.topic = \"selected url\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id+\"&offset=\"+count+\"&limit=\"+limit;\n    \n        //global.set(\"count\", count+limit)\n    \n        //var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        //msg.url = url;\n    }\n}\n\nmsg.payload = \"\" // remove payload\nreturn msg;","outputs":1,"noerr":0,"x":839.8001251220703,"y":561.9999313354492,"wires":[["9d2e0a69.896be8"]]},{"id":"2da90e1e.1babe2","type":"http request","z":"8989e6b8.a1b1c8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1210.4000720977783,"y":560.9999084472656,"wires":[["376596dc.7c653a"]]},{"id":"9d2e0a69.896be8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":1036.2000770568848,"y":561.9999294281006,"wires":[["2da90e1e.1babe2"]]},{"id":"63ce0ebe.46f01","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":["4bbb507b.421e9","69c069bb.dc4af8","74b618d5.d95d98","dd0987fd.8ce488","e74bc4a4.416138"],"x":134.10003471374512,"y":562.7999811172485,"wires":[["358cefac.80798","431c0c5b.85d114"]]},{"id":"96ba1a61.e699a8","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":1043.9003524780273,"y":387.6001091003418,"wires":[["f434025f.54218"]]},{"id":"22cef1c5.1d873e","type":"comment","z":"8989e6b8.a1b1c8","name":"Process Menu Inputs","info":"","x":220,"y":468,"wires":[]},{"id":"cd79fdd7.5de62","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"builder","x":2165.0000801086426,"y":1040.7999725341797,"wires":[]},{"id":"60d212de.bbd28c","type":"function","z":"8989e6b8.a1b1c8","name":"Append to Array","func":"/* */\n\nvar ret = global.get(\"array\");\nret.push(msg.payload.result.records);\nglobal.set(\"array\", ret);\nmsg.builder = ret;\n\nif (msg.payload.result.records.length < 1000){ // dont read past end of file\n    msg.payload = \"bms\";\n    return [null, msg] // output on #2 once entire file read\n} else {\n    msg.payload = \"bms\";\n    return [msg, null];\n}\n\n\n","outputs":"2","noerr":0,"x":1929.6997909545898,"y":1048.1998767852783,"wires":[["cd79fdd7.5de62","59f3ea19.7246c4"],[]]},{"id":"bdd8e620.4d6578","type":"http request","z":"8989e6b8.a1b1c8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1759.0997848510742,"y":1047.7999744415283,"wires":[["60d212de.bbd28c"]]},{"id":"59f3ea19.7246c4","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n};\n\nvar url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+msg.payload;\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":1568.6997604370117,"y":978.8000068664551,"wires":[["8bf363b6.a8308"]]},{"id":"87d1d21e.39c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":2199.899688720703,"y":978.7999715805054,"wires":[["bdd8e620.4d6578"]]},{"id":"8bf363b6.a8308","type":"http request","z":"8989e6b8.a1b1c8","name":"Selected Package","method":"GET","ret":"obj","url":"","tls":"","x":1786.4997482299805,"y":978.8000068664551,"wires":[["150ad5bc.68155a"]]},{"id":"81f4b50e.89c988","type":"rbe","z":"8989e6b8.a1b1c8","name":"","func":"rbei","gap":"","start":"","inout":"out","x":1395.5997581481934,"y":979.4000053405762,"wires":[["59f3ea19.7246c4"]]},{"id":"150ad5bc.68155a","type":"function","z":"8989e6b8.a1b1c8","name":"Find URL for Selected","func":"/* */\n\nvar lookingFor = \"bms-jul-2017\";\nvar count = global.get(\"count\");\nvar limit = global.get(\"limit\");\nmsg.url = \"\";\nmsg.topic = \"selected url\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id+\"&offset=\"+count+\"&limit=\"+limit;\n    \n        global.set(\"count\", count+limit)\n    \n        //var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        //msg.url = url;\n    }\n}\n\nmsg.payload = \"\" // remove payload\nreturn msg;","outputs":1,"noerr":0,"x":2000.4998779296875,"y":978.799970626831,"wires":[["87d1d21e.39c"]]},{"id":"f2ddf13e.28a1d","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":1305.7997341156006,"y":979.6000080108643,"wires":[["81f4b50e.89c988"]]},{"id":"f434025f.54218","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1190.0000381469727,"y":387.0000114440918,"wires":[["69c069bb.dc4af8"]]},{"id":"a61eedaa.a331b","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1190.0000343322754,"y":349.0000114440918,"wires":[["74b618d5.d95d98"]]},{"id":"46114586.ada5fc","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":1043.9004211425781,"y":348.60010719299316,"wires":[["a61eedaa.a331b"]]},{"id":"f3dd77cd.747f08","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":1045,"y":310,"wires":[["95b88749.2efde8"]]},{"id":"197d0135.10b1ef","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":1044.0000305175781,"y":270.00000762939453,"wires":[["a10709f6.598ca8"]]},{"id":"ce4d8d0.8fc0f7","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":1044.0000305175781,"y":230.00000667572021,"wires":[["818748a6.118558"]]},{"id":"95b88749.2efde8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1188,"y":310,"wires":[["e74bc4a4.416138"]]},{"id":"a10709f6.598ca8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"to\", new Date(date))\n}\nelse {\n    global.set(\"to\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1188.0000343322754,"y":270.00000762939453,"wires":[["dd0987fd.8ce488"]]},{"id":"818748a6.118558","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"from\", new Date(date))\n}\nelse {\n    global.set(\"from\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1187.0000343322754,"y":230.00000762939453,"wires":[["4bbb507b.421e9"]]},{"id":"431c0c5b.85d114","type":"function","z":"8989e6b8.a1b1c8","name":"Required Filename(s)","func":"/* Returns a list of filenames needed to represent the specified data */\n\nvar ret = [];\n\n// Get system identifier\nvar sys = global.get(\"system\");\nvar system = sys.toLowerCase(); // contingency\n\n// Get month identifiers e.g 'jan', 'mar' etc.\nvar from = global.get(\"from\");\nvar to = global.get(\"to\");\nvar months = [ \"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\" ];\n\n// Get years\nvar yearFrom = from.getFullYear();\nvar yearTo = to.getFullYear();\n\nvar nMonth = from.getMonth();\nwhile (nMonth <= to.getMonth()){\n    \n    var month = months[nMonth];\n    ret.push(system + \"-\" + month + \"-\" + yearFrom);\n    nMonth++;\n}\n\n// improvement not working\n// var count = 0;\n// var toDisplay = from;\n// while (count <= monthDiff(from, to)){\n    \n//     var month = months[toDisplay.getMonth()];\n//     ret.push(system + \"-\" + month + \"-\" + yearFrom);\n//     var toDisplay = from.setMonth(from.getMonth()+1);\n//     count++;\n// }\n\n\nglobal.set(\"filenames\", ret);\nmsg.payload = ret;\nreturn msg;\n\n// https://stackoverflow.com/questions/2536379/difference-in-months-between-two-dates-in-javascript\nfunction monthDiff(d1, d2) {\n    var months;\n    months = (d2.getFullYear() - d1.getFullYear()) * 12;\n    months -= d1.getMonth() + 1;\n    months += d2.getMonth();\n    return months <= 0 ? 0 : months;\n}","outputs":1,"noerr":0,"x":321.70008850097656,"y":511.99988174438477,"wires":[["1ef112d2.42b0ad"]]},{"id":"1ef112d2.42b0ad","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"payload","x":517.7001113891602,"y":511.99988079071045,"wires":[]},{"id":"4f3e9088.7d8c8","type":"comment","z":"8989e6b8.a1b1c8","name":"*Doesnt account for change in year","info":"","x":762.0000190734863,"y":513.3999309539795,"wires":[]},{"id":"3709d3aa.907cbc","type":"ui_group","z":"","name":"Overview","tab":"74572b8e.f09ac4","order":2,"disp":true,"width":"12"},{"id":"c58cdd95.eecf9","type":"ui_group","z":"","name":"Errors","tab":"74572b8e.f09ac4","order":3,"disp":true,"width":"12"},{"id":"2ed7948e.77b2cc","type":"ui_group","z":"","name":"Trends","tab":"74572b8e.f09ac4","order":4,"disp":true,"width":"24"},{"id":"74572b8e.f09ac4","type":"ui_tab","z":"","name":"Quality Overview","icon":"dashboard","order":1}]