Node-RED/txt/Flow 1 - Overview Tab.txt
[{"id":"3807c9a3.a94846","type":"comment","z":"8989e6b8.a1b1c8","name":"Quality Overview Tab","info":"","x":107.10000610351562,"y":27.000001907348633,"wires":[]},{"id":"d0c19df1.52a37","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Quality Today","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Pending Data...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7b3294","#008837","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":481.10003089904785,"y":1324.6001319885254,"wires":[[],[]],"inputLabels":["Erros & Success %"]},{"id":"b15bdd03.3b6c9","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Quality Month","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008837","#f37288","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":482.9999370574951,"y":1373.0000410079956,"wires":[[],[]]},{"id":"13dca5bd.e5c82a","type":"comment","z":"8989e6b8.a1b1c8","name":"Overview Panel","info":"","x":99.09988594055176,"y":1288.200047492981,"wires":[]},{"id":"12954b43.4cbdc5","type":"comment","z":"8989e6b8.a1b1c8","name":"Error Panel","info":"","x":88.99990463256836,"y":1455.9999980926514,"wires":[]},{"id":"587057d7.a72948","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":635.9999370574951,"y":1446.0000886917114,"wires":[]},{"id":"6126d250.dfb40c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Error List","order":0,"width":"12","height":"5","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 1</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 2</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 3</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 4</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 5</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 6</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 7</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 8</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 9</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":81.10005950927734,"y":1496.6000537872314,"wires":[[]]},{"id":"f30ab301.7f8c5","type":"ui_button","z":"8989e6b8.a1b1c8","name":"","group":"c58cdd95.eecf9","order":0,"width":"3","height":"1","passthru":false,"label":"Show More","color":"","bgcolor":"","icon":"all_out","payload":"","payloadType":"str","topic":"","x":91.09990310668945,"y":1539.2000064849854,"wires":[["6366aae1.a26fa4"]]},{"id":"b9ca1d81.43eee","type":"ui_ui_control","z":"8989e6b8.a1b1c8","name":"Move to Errors tab","x":449.099910736084,"y":1538.6000022888184,"wires":[[]]},{"id":"6366aae1.a26fa4","type":"function","z":"8989e6b8.a1b1c8","name":"\"Errors\"","func":"msg.payload = \"Errors\";\nreturn msg;","outputs":1,"noerr":0,"x":257.99990463256836,"y":1538.400001525879,"wires":[["b9ca1d81.43eee"]]},{"id":"cd22f057.a287","type":"function","z":"8989e6b8.a1b1c8","name":"Initialise Variables","func":"global.set(\"count\", 0);\nglobal.set(\"limit\", 500);\n\n// API Variables\nglobal.set(\"apikey\", \"672f2e70-46b4-4ce1-a7ab-ce029bcc0b82\"); // Personal API key from CKAN\nglobal.set(\"apiuser\", \"ckanapi\"); // Basic auth username\nglobal.set(\"apipass\", \"Quee8eec\"); // Basic auth password\n\n// Filtering fields; Default to Alex Park and BMS data\nglobal.set(\"from\", new Date());\nglobal.set(\"to\", new Date());\nglobal.set(\"building\", \"Alexander Park\");\nglobal.set(\"errortype\", \"all\");\nglobal.set(\"system\", \"bms\");\n\nglobal.set(\"filenames\", []);\nglobal.set(\"array\", []);\n\nreturn msg;","outputs":"1","noerr":0,"x":390.00031661987305,"y":371.0001287460327,"wires":[["7f25d20c.e4c02c"]]},{"id":"c600fd41.59d2e","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":223.99993133544922,"y":1798.6003189086914,"wires":[[]]},{"id":"6851ceea.84c4f","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":90.89985656738281,"y":1675.800108909607,"wires":[]},{"id":"eb30ee85.49c5","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":148.99991989135742,"y":371.00010108947754,"wires":[["cd22f057.a287"]]},{"id":"9c09d0be.16b83","type":"comment","z":"8989e6b8.a1b1c8","name":"System Setup","info":"","x":76,"y":83.00003051757812,"wires":[]},{"id":"d347b1b6.12baf","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Today)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":524.1000442504883,"y":1078.0000076293945,"wires":[["21e6ba1e.6c27c6"]]},{"id":"1c0eea27.93d1b6","type":"function","z":"8989e6b8.a1b1c8","name":"Today's Date","func":"/* Representation of today's date as String */\n\nvar time = new Date().getTime();\nvar date = new Date(time);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":327.9999122619629,"y":1099.0000076293945,"wires":[["d347b1b6.12baf","7c40d407.ff647c"]]},{"id":"9ddbdb1.a220b28","type":"inject","z":"8989e6b8.a1b1c8","name":"Every 5 Minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":134.99987983703613,"y":1098.999994277954,"wires":[["1c0eea27.93d1b6"]]},{"id":"797bebd1.da8dc4","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Today","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn [msg1, msg2];","outputs":"2","noerr":0,"x":210.09995460510254,"y":1328.000039100647,"wires":[["d0c19df1.52a37"],["d0c19df1.52a37"]]},{"id":"ca0a990d.376b38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Today","links":["21e6ba1e.6c27c6"],"x":35.099876403808594,"y":1327.8000631332397,"wires":[["797bebd1.da8dc4"]]},{"id":"21e6ba1e.6c27c6","type":"link out","z":"8989e6b8.a1b1c8","name":"API Today","links":["ca0a990d.376b38"],"x":676.0999984741211,"y":1077.7999954223633,"wires":[]},{"id":"7c40d407.ff647c","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Month)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":522.9998779296875,"y":1120.9999904632568,"wires":[["2f7d2f00.990dc2"]]},{"id":"2f7d2f00.990dc2","type":"link out","z":"8989e6b8.a1b1c8","name":"API Month","links":["ff5efad9.a15c38"],"x":674.9998779296875,"y":1120.9999904632568,"wires":[]},{"id":"ff5efad9.a15c38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Month","links":["2f7d2f00.990dc2"],"x":33.9998722076416,"y":1373.0000295639038,"wires":[["78d07c07.993c84"]]},{"id":"78d07c07.993c84","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Month","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":"1","noerr":0,"x":209.9998722076416,"y":1373.0000295639038,"wires":[["b15bdd03.3b6c9","7b5671d8.3b347"]]},{"id":"eeeb703b.ccdd","type":"inject","z":"8989e6b8.a1b1c8","name":"","topic":"","payload":"Every Midnight","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":121.99989318847656,"y":1186.9999980926514,"wires":[["d81901f0.ddd22"]]},{"id":"d81901f0.ddd22","type":"function","z":"8989e6b8.a1b1c8","name":"Store Data Quality","func":"/*  */\n\nreturn msg;","outputs":1,"noerr":0,"x":352.9998893737793,"y":1186.9999980926514,"wires":[[]]},{"id":"4d38de07.4eaba","type":"comment","z":"8989e6b8.a1b1c8","name":"Store data quality every day for monthly reports?","info":"","x":197.99989318847656,"y":1229.0000019073486,"wires":[]},{"id":"3d3f4cfe.734a34","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Dates","func":"/*Finds dates available to filter data using ckan API*/\n\n// Access API; earliest EMS / BMS file\n// Get first record date = firstDate\n\n// Access API; latest EMS / BMS file\n// Get last recorded date = lastDate\n\n// Build array from firstDate - lastDate into msg.options\nmsg.options = [ \"Date 1\", \"Date 2\", {\"Date 3\": 3} ];\n\n//msg.maxDate = new Date(); // no way to limit dates?\n\nreturn msg;","outputs":"1","noerr":0,"x":515.0000839233398,"y":535.0000429153442,"wires":[["f191a467.972098","107ade59.bfac92"]]},{"id":"f132ad29.c374b","type":"function","z":"8989e6b8.a1b1c8","name":"Error Types","func":"/*Finds errors available to filter data */\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.length; i++){\n    \n    var label = msg.payload[i].description;\n    var value = msg.payload[i].id;\n    var toPush = {label:value}; \n    ret.push(label); // TODO Add value as a label:value pair\n} \n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":489.0000991821289,"y":614.0000467300415,"wires":[["df37ce1a.fa343"]]},{"id":"d64f04d2.53e598","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Systems","func":"/*Finds systems (BMS / EMS) available to filter data using ckan API*/\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Utility Type\"]; // system; heating, water, oil etc.\n    \n    // only add system if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){ \n        ret.push(current);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":521.0000743865967,"y":653.0000581741333,"wires":[["82e98b68.3459f8"]]},{"id":"4bbb507b.421e9","type":"link out","z":"8989e6b8.a1b1c8","name":"From","links":["63ce0ebe.46f01"],"x":1113.0000820159912,"y":495.00004482269287,"wires":[]},{"id":"dd0987fd.8ce488","type":"link out","z":"8989e6b8.a1b1c8","name":"To","links":["63ce0ebe.46f01"],"x":1113.0000896453857,"y":535.0000438690186,"wires":[]},{"id":"e74bc4a4.416138","type":"link out","z":"8989e6b8.a1b1c8","name":"Building","links":["63ce0ebe.46f01"],"x":1113.0000820159912,"y":575.0000448226929,"wires":[]},{"id":"74b618d5.d95d98","type":"link out","z":"8989e6b8.a1b1c8","name":"Error","links":["63ce0ebe.46f01"],"x":1113.0000896453857,"y":614.0000467300415,"wires":[]},{"id":"69c069bb.dc4af8","type":"link out","z":"8989e6b8.a1b1c8","name":"System","links":["63ce0ebe.46f01"],"x":1114.0000896453857,"y":652.0000467300415,"wires":[]},{"id":"504d6d69.b1e8b4","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":35.09988498687744,"y":1721.2001237869263,"wires":[["c600fd41.59d2e","aa6ec943.d19078"]]},{"id":"e6247290.cb0fa","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":34.999876260757446,"y":1761.3999290466309,"wires":[["c600fd41.59d2e"]]},{"id":"8154a43c.fb2ff8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":34.99988269805908,"y":1802.3999309539795,"wires":[["c600fd41.59d2e"]]},{"id":"b5943fd2.ff761","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":34.89987659454346,"y":1842.6000289916992,"wires":[["c600fd41.59d2e"]]},{"id":"bbee2907.2fa4e8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":32.9998836517334,"y":1883.3999328613281,"wires":[["c600fd41.59d2e"]]},{"id":"7a264854.fbdf68","type":"comment","z":"8989e6b8.a1b1c8","name":"Repeatedly Update Data Today","info":"","x":148.9998779296875,"y":1140.9999904632568,"wires":[]},{"id":"aa6ec943.d19078","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":174.09988021850586,"y":1721.3998317718506,"wires":[]},{"id":"7419d645.6879d8","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":1585.1003303527832,"y":393.00005531311035,"wires":[]},{"id":"983614fd.8d85e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Buildings","func":"/* Finds all available buildings to filter data */\n\nvar ret = [\"All\"]; // options always include an 'all'\nvar current;\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Building Name\"];\n\n    // only add building if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){\n        \n        var label = msg.payload.result.records[i][\"Building Name\"];\n        var value = msg.payload.result.records[i][\"Building Code\"];\n        var toPush = {label: value}; \n        ret.push(label); // TODO Add value as a label:value pair\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":528.0000991821289,"y":575.0000495910645,"wires":[["a0294884.edd348"]]},{"id":"107ade59.bfac92","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"From","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"topic":"","x":722.2000465393066,"y":495.0000419616699,"wires":[["ce4d8d0.8fc0f7"]]},{"id":"f191a467.972098","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"To","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"topic":"","x":722.2000122070312,"y":535.0000410079956,"wires":[["197d0135.10b1ef"]]},{"id":"a0294884.edd348","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Building","label":"Building","place":"Alexandra Park","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":730.2000122070312,"y":575.0000410079956,"wires":[["f3dd77cd.747f08"]]},{"id":"df37ce1a.fa343","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Error","label":"Error Type","place":"All","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":720.2000122070312,"y":614.0000410079956,"wires":[["46114586.ada5fc"]]},{"id":"82e98b68.3459f8","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"System","label":"System","place":"","group":"2ed7948e.77b2cc","order":0,"width":"4","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":729.2000122070312,"y":653.0000410079956,"wires":[["96ba1a61.e699a8"]]},{"id":"7b5671d8.3b347","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"2ed7948e.77b2cc","order":0,"width":"24","height":"5","label":"Data Quality","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008837","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":474.5998783111572,"y":1444.8000173568726,"wires":[[],[]]},{"id":"7f25d20c.e4c02c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends HTTP request headers to following HTTP request */\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\n//msg.url = \"https://\"+apiuser+\":\"+apipass+\"@ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.topic = \"planon metadata\"\n\nreturn msg;","outputs":1,"noerr":0,"x":592.0000839233398,"y":373.0000514984131,"wires":[["a6eb2fdc.b39a8"]]},{"id":"3d6515b8.3a96ca","type":"function","z":"8989e6b8.a1b1c8","name":"meters / sensors URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Meters Sensors\";\nmsg.url = \"\";\nmsg.topic = \"meters and sensors\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n        \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":989.000072479248,"y":373.0000534057617,"wires":[["1ee9ffd6.721e3"]]},{"id":"7d2955fa.f1c73c","type":"http request","z":"8989e6b8.a1b1c8","name":"all meter meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.0001411437988,"y":373.00003242492676,"wires":[["7419d645.6879d8","256767d0.0f9d38"]]},{"id":"98db57bb.8d5e48","type":"function","z":"8989e6b8.a1b1c8","name":"loggers / controllers URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Loggers Controllers\";\nmsg.url = \"\";\nmsg.topic = \"loggers and controllers\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n    \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\n\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1000.0000419616699,"y":415.0000524520874,"wires":[["6b2b7823.6129a8"]]},{"id":"6b7c85d8.1d9a9c","type":"http request","z":"8989e6b8.a1b1c8","name":"all logger meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.6000061035156,"y":415.0000276565552,"wires":[["7419d645.6879d8","541083fb.ae157c"]]},{"id":"a6eb2fdc.b39a8","type":"http request","z":"8989e6b8.a1b1c8","name":"All Metadata","method":"GET","ret":"obj","url":"","tls":"","x":764.8000717163086,"y":373.0000400543213,"wires":[["bd447cb7.ff48c","98db57bb.8d5e48","3d6515b8.3a96ca"]]},{"id":"376596dc.7c653a","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":1248.300277709961,"y":858.9998874664307,"wires":[]},{"id":"1ee9ffd6.721e3","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1201.3999290466309,"y":373.0000219345093,"wires":[["7d2955fa.f1c73c"]]},{"id":"6b2b7823.6129a8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1202.3999271392822,"y":415.0000219345093,"wires":[["6b7c85d8.1d9a9c"]]},{"id":"bd447cb7.ff48c","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":939.0000495910645,"y":330.000018119812,"wires":[]},{"id":"256767d0.0f9d38","type":"link out","z":"8989e6b8.a1b1c8","name":"meter meta","links":["c3dc36f3.538c08"],"x":1492.100133895874,"y":373.40003871917725,"wires":[]},{"id":"541083fb.ae157c","type":"link out","z":"8989e6b8.a1b1c8","name":"logger meta","links":["a44b4fd4.2ed73"],"x":1493.0000352859497,"y":415.0000276565552,"wires":[]},{"id":"3beea470.59512c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read EMS / BMS Metadata","info":"","x":125,"y":331,"wires":[]},{"id":"a44b4fd4.2ed73","type":"link in","z":"8989e6b8.a1b1c8","name":"building select","links":["541083fb.ae157c"],"x":379.10015392303467,"y":574.8000822067261,"wires":[["983614fd.8d85e8"]]},{"id":"4fb5aa0b.fd84e4","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Menus","info":"","x":85,"y":497.0000648498535,"wires":[]},{"id":"358cefac.80798","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie,\n    //\"X-CKAN-API-Key\" : apikey\n};\n\nvar url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+global.get(\"system\");\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":290.99996185302734,"y":859.999960899353,"wires":[["459100a5.cd283"]]},{"id":"459100a5.cd283","type":"http request","z":"8989e6b8.a1b1c8","name":"Selected Package","method":"GET","ret":"obj","url":"","tls":"","x":508.7999496459961,"y":859.999960899353,"wires":[["c6a98a6e.359258"]]},{"id":"c6a98a6e.359258","type":"function","z":"8989e6b8.a1b1c8","name":"Find URL for Selected","func":"/* */\n\nvar lookingFor = global.get(\"filename\");\nvar count = global.get(\"count\");\nvar limit = global.get(\"limit\");\nmsg.url = \"\";\nmsg.topic = \"selected url\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id+\"&offset=\"+count+\"&limit=\"+limit;\n    \n        //global.set(\"count\", count+limit)\n    \n        //var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        //msg.url = url;\n    }\n}\n\nmsg.payload = \"\" // remove payload\nreturn msg;","outputs":1,"noerr":0,"x":733.8000259399414,"y":859.9999122619629,"wires":[["9d2e0a69.896be8"]]},{"id":"2da90e1e.1babe2","type":"http request","z":"8989e6b8.a1b1c8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1104.3999729156494,"y":858.9998893737793,"wires":[["376596dc.7c653a"]]},{"id":"9d2e0a69.896be8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":930.1999778747559,"y":859.9999103546143,"wires":[["2da90e1e.1babe2"]]},{"id":"63ce0ebe.46f01","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":["4bbb507b.421e9","69c069bb.dc4af8","74b618d5.d95d98","dd0987fd.8ce488","e74bc4a4.416138"],"x":28.09993553161621,"y":860.7999620437622,"wires":[["358cefac.80798","431c0c5b.85d114"]]},{"id":"96ba1a61.e699a8","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":883.9003067016602,"y":652.6001443862915,"wires":[["f434025f.54218"]]},{"id":"22cef1c5.1d873e","type":"comment","z":"8989e6b8.a1b1c8","name":"Process Menu Inputs","info":"","x":108.99992370605469,"y":768.0000047683716,"wires":[]},{"id":"f434025f.54218","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1029.9999923706055,"y":652.0000467300415,"wires":[["69c069bb.dc4af8"]]},{"id":"a61eedaa.a331b","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1029.9999885559082,"y":614.0000467300415,"wires":[["74b618d5.d95d98"]]},{"id":"46114586.ada5fc","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":883.9003753662109,"y":613.6001424789429,"wires":[["a61eedaa.a331b"]]},{"id":"f3dd77cd.747f08","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":884.9999542236328,"y":575.0000352859497,"wires":[["95b88749.2efde8"]]},{"id":"197d0135.10b1ef","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":883.9999847412109,"y":535.0000429153442,"wires":[["a10709f6.598ca8"]]},{"id":"ce4d8d0.8fc0f7","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":883.9999847412109,"y":495.0000419616699,"wires":[["818748a6.118558"]]},{"id":"95b88749.2efde8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1027.9999542236328,"y":575.0000352859497,"wires":[["e74bc4a4.416138"]]},{"id":"a10709f6.598ca8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"to\", new Date(date))\n}\nelse {\n    global.set(\"to\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1027.9999885559082,"y":535.0000429153442,"wires":[["dd0987fd.8ce488"]]},{"id":"818748a6.118558","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"from\", new Date(date))\n}\nelse {\n    global.set(\"from\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1026.9999885559082,"y":495.00004291534424,"wires":[["4bbb507b.421e9"]]},{"id":"431c0c5b.85d114","type":"function","z":"8989e6b8.a1b1c8","name":"Required Filename(s)","func":"/* Returns a list of filenames needed to represent the specified data */\n\nvar ret = [];\n\n// Get system identifier\nvar sys = global.get(\"system\");\nvar system = sys.toLowerCase(); // contingency\n\n// Get month identifiers e.g 'jan', 'mar' etc.\nvar from = global.get(\"from\");\nvar to = global.get(\"to\");\nvar months = [ \"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\" ];\n\n// Get years\nvar yearFrom = from.getFullYear();\nvar yearTo = to.getFullYear();\n\nvar nMonth = from.getMonth();\nwhile (nMonth <= to.getMonth()){\n    \n    var month = months[nMonth];\n    ret.push(system + \"-\" + month + \"-\" + yearFrom);\n    nMonth++;\n}\n\n// improvement not working\n// var count = 0;\n// var toDisplay = from;\n// while (count <= monthDiff(from, to)){\n    \n//     var month = months[toDisplay.getMonth()];\n//     ret.push(system + \"-\" + month + \"-\" + yearFrom);\n//     var toDisplay = from.setMonth(from.getMonth()+1);\n//     count++;\n// }\n\n\nglobal.set(\"filenames\", ret);\nmsg.payload = ret;\nreturn msg;\n\n// https://stackoverflow.com/questions/2536379/difference-in-months-between-two-dates-in-javascript\nfunction monthDiff(d1, d2) {\n    var months;\n    months = (d2.getFullYear() - d1.getFullYear()) * 12;\n    months -= d1.getMonth() + 1;\n    months += d2.getMonth();\n    return months <= 0 ? 0 : months;\n}","outputs":1,"noerr":0,"x":215.69998931884766,"y":809.9998626708984,"wires":[["1ef112d2.42b0ad"]]},{"id":"1ef112d2.42b0ad","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"payload","x":411.70001220703125,"y":809.9998617172241,"wires":[]},{"id":"4f3e9088.7d8c8","type":"comment","z":"8989e6b8.a1b1c8","name":"*Doesnt account for change in year","info":"","x":655.9999198913574,"y":811.3999118804932,"wires":[]},{"id":"d77b532f.63064","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":754.1669311523438,"y":241.1333465576172,"wires":[["a62d0dd2.6cf79"]]},{"id":"39d4912f.4c5dae","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM erroneousassets","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM erroneousassets\";\nreturn newMsg;","outputs":1,"noerr":0,"x":579.388879776001,"y":195.11111879348755,"wires":[["a39a2df0.f1362"]]},{"id":"e0b22c46.3ba12","type":"delay","z":"8989e6b8.a1b1c8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":359.1668109893799,"y":195.3334002494812,"wires":[["39d4912f.4c5dae","b7fe28.776ae1d8","a4037a0c.6e72e8"]]},{"id":"4edb82c2.68317c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read eisquality Database","info":"A 1 second delay is needde to delay msg to the \nmysql database node, otherwise the msg arrives too\nsoon and the databse has not connected. Perhaps this\nprecaution will not be needed in guture releases of\nnode-red-node-mysql","x":116,"y":157.0000238418579,"wires":[]},{"id":"db6eac29.ddcb","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.9333896636963,"y":195.9333577156067,"wires":[["e0b22c46.3ba12"]]},{"id":"b7fe28.776ae1d8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errortypelookup","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errortypelookup\";\nreturn newMsg;","outputs":1,"noerr":0,"x":580.9332885742188,"y":149.9333267211914,"wires":[["4a627813.fa8af8"]]},{"id":"4a627813.fa8af8","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":812.9333038330078,"y":149.93332481384277,"wires":[["ff3d0625.f09af8"]]},{"id":"ff3d0625.f09af8","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errortypelookup","links":["941b2590.6fd828"],"x":929.1667804718018,"y":149.933349609375,"wires":[]},{"id":"941b2590.6fd828","type":"link in","z":"8989e6b8.a1b1c8","name":"error select","links":["ff3d0625.f09af8"],"x":380.16678524017334,"y":613.666805267334,"wires":[["f132ad29.c374b"]]},{"id":"c3dc36f3.538c08","type":"link in","z":"8989e6b8.a1b1c8","name":"system select","links":["256767d0.0f9d38"],"x":380.9333333969116,"y":652.9333429336548,"wires":[["d64f04d2.53e598"]]},{"id":"a4037a0c.6e72e8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errors","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errors\";\nreturn newMsg;","outputs":1,"noerr":0,"x":548,"y":241,"wires":[["d77b532f.63064"]]},{"id":"a39a2df0.f1362","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":813,"y":195,"wires":[["401ed0d7.b656a"]]},{"id":"401ed0d7.b656a","type":"link out","z":"8989e6b8.a1b1c8","name":"DB erroneousassets","links":[],"x":930,"y":195,"wires":[]},{"id":"a62d0dd2.6cf79","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errors","links":[],"x":931,"y":241,"wires":[]},{"id":"680ef8b2.f14d08","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":150.81250762939453,"y":534.8189249038696,"wires":[["3d3f4cfe.734a34"]]},{"id":"3709d3aa.907cbc","type":"ui_group","z":"","name":"Overview","tab":"74572b8e.f09ac4","order":2,"disp":true,"width":"12"},{"id":"c58cdd95.eecf9","type":"ui_group","z":"","name":"Errors","tab":"74572b8e.f09ac4","order":3,"disp":true,"width":"12"},{"id":"2ed7948e.77b2cc","type":"ui_group","z":"","name":"Trends","tab":"74572b8e.f09ac4","order":4,"disp":true,"width":"24"},{"id":"3e6a2382.3b8b5c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"eisquality","tz":""},{"id":"74572b8e.f09ac4","type":"ui_tab","z":"","name":"Quality Overview","icon":"dashboard","order":1}]
