Node-RED/txt/Flow 1 - Overview Tab.txt
[{"id":"d0c19df1.52a37","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Current Data Quality","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Loading...","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"5","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#7b3294","#008837","#008837","#2ca02c","#7b3294","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":483.10033416748047,"y":930.6006622314453,"wires":[[],[]],"inputLabels":["Erros & Success %"]},{"id":"b15bdd03.3b6c9","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"3709d3aa.907cbc","order":0,"width":"6","height":"6","label":"Quality Trend","chartType":"line","legend":"false","xformat":"DD","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"30","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#008837","#f37288","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":493.00013732910156,"y":988.0005321502686,"wires":[[],[]]},{"id":"13dca5bd.e5c82a","type":"comment","z":"8989e6b8.a1b1c8","name":"Overview Panel","info":"","x":95.10000610351562,"y":892.2003264427185,"wires":[]},{"id":"12954b43.4cbdc5","type":"comment","z":"8989e6b8.a1b1c8","name":"Error Panel","info":"","x":922.0000877380371,"y":895.0003852844238,"wires":[]},{"id":"587057d7.a72948","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":632.0000953674316,"y":1061.0003604888916,"wires":[]},{"id":"6126d250.dfb40c","type":"ui_template","z":"8989e6b8.a1b1c8","group":"c58cdd95.eecf9","name":"Error List","order":0,"width":"12","height":"6","format":"<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 1</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 2</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 3</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 4</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 5</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 6</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 7</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 8</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n<div layout=\"row\" layout-align=\"space-between\">\n    <p>Row 9</p>\n    <p>Error Type</p>\n    <p>Priority</p>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":995.1002540588379,"y":940.6005973815918,"wires":[[]]},{"id":"3807c9a3.a94846","type":"comment","z":"8989e6b8.a1b1c8","name":"Quality Overview Tab","info":"","x":111.10000610351562,"y":27.000001907348633,"wires":[]},{"id":"cd22f057.a287","type":"function","z":"8989e6b8.a1b1c8","name":"Initialise Variables","func":"global.set(\"count\", 0);\nglobal.set(\"limit\", 500);\n\n// API Variables\nglobal.set(\"apikey\", \"672f2e70-46b4-4ce1-a7ab-ce029bcc0b82\"); // Personal API key from CKAN\nglobal.set(\"apiuser\", \"ckanapi\"); // Basic auth username\nglobal.set(\"apipass\", \"Quee8eec\"); // Basic auth password\n\n// Filtering fields; Default to Alex Park and BMS data\nglobal.set(\"from\", new Date());\nglobal.set(\"to\", new Date());\nglobal.set(\"building\", \"AP000\"); // Alexandra Park\nglobal.set(\"errortype\", \"All\");\nglobal.set(\"system\", \"All\");\n\nglobal.set(\"filenames\", []);\nglobal.set(\"array\", []);\n\nreturn msg;","outputs":"1","noerr":0,"x":400.00031661987305,"y":373.0001287460327,"wires":[["7f25d20c.e4c02c"]]},{"id":"c600fd41.59d2e","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":995.9998970031738,"y":1565.6003150939941,"wires":[[]]},{"id":"6851ceea.84c4f","type":"comment","z":"8989e6b8.a1b1c8","name":"Trends Panel","info":"","x":862.8998222351074,"y":1442.8001050949097,"wires":[]},{"id":"eb30ee85.49c5","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.99991989135742,"y":373.00010108947754,"wires":[["cd22f057.a287"]]},{"id":"9c09d0be.16b83","type":"comment","z":"8989e6b8.a1b1c8","name":"System Setup","info":"","x":80,"y":84.00003051757812,"wires":[]},{"id":"d347b1b6.12baf","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Today)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":528.1000442504883,"y":1559.0000505447388,"wires":[["21e6ba1e.6c27c6"]]},{"id":"1c0eea27.93d1b6","type":"function","z":"8989e6b8.a1b1c8","name":"Today's Date","func":"/* Representation of today's date as String */\n\nvar time = new Date().getTime();\nvar date = new Date(time);\nmsg.payload = date.toString();\nreturn msg;","outputs":1,"noerr":0,"x":331.9999122619629,"y":1580.0000505447388,"wires":[["d347b1b6.12baf","7c40d407.ff647c"]]},{"id":"9ddbdb1.a220b28","type":"inject","z":"8989e6b8.a1b1c8","name":"Every 5 Minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"x":138.99987983703613,"y":1580.0000371932983,"wires":[["1c0eea27.93d1b6"]]},{"id":"797bebd1.da8dc4","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality","func":"/*Check for the number of assets an error was detected in compared to the number of meters in metadata*/\n\ncontext.meters = context.meters || {};\ncontext.assets = context.assets || [];\n\n// wait until meter metadata and mysql database has been accessed\nif (msg.topic == \"meters meta\") {\n  context.meters = msg.payload.result.records;\n} else if (msg.topic === 'SELECT * FROM erroneousassets') {\n  context.assets = msg.payload;\n}\n\n// if metadatat and mysql contain records\nif (context.meters.length > 0 && context.assets.length >= 0) {\n  \n    var msg1 = {}; // intialise return messages\n    var msg2 = {};\n\n    // calculate success %\n    var okN = context.meters.length - context.assets.length;\n    var succPerc = (okN / context.meters.length)*100;\n    msg1.payload = Math.round(succPerc);\n    msg1.topic = \"Success\";\n\n    // error % is 100 - success %\n    msg2.payload = 100 - msg1.payload;\n    msg2.topic = \"Error\";\n    \n    return [msg1, msg2]; // returns messages on different outputs\n}\nelse {\n  return null;\n}","outputs":"2","noerr":0,"x":186.1000747680664,"y":932.0003180503845,"wires":[["d0c19df1.52a37"],["d0c19df1.52a37"]]},{"id":"ca0a990d.376b38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Today","links":["256767d0.0f9d38","401ed0d7.b656a"],"x":31.09999656677246,"y":931.8003420829773,"wires":[["797bebd1.da8dc4"]]},{"id":"21e6ba1e.6c27c6","type":"link out","z":"8989e6b8.a1b1c8","name":"API Today","links":[],"x":680.0999984741211,"y":1558.8000383377075,"wires":[]},{"id":"7c40d407.ff647c","type":"function","z":"8989e6b8.a1b1c8","name":"API Data (Month)","func":"/**/\nreturn msg;","outputs":1,"noerr":0,"x":526.9998779296875,"y":1602.000033378601,"wires":[["2f7d2f00.990dc2"]]},{"id":"2f7d2f00.990dc2","type":"link out","z":"8989e6b8.a1b1c8","name":"API Month","links":[],"x":678.9998779296875,"y":1602.000033378601,"wires":[]},{"id":"ff5efad9.a15c38","type":"link in","z":"8989e6b8.a1b1c8","name":"Overview Month","links":["a9c51a99.1baf38"],"x":30.000030517578125,"y":988.000301361084,"wires":[["78d07c07.993c84"]]},{"id":"78d07c07.993c84","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Month","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\";\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":"1","noerr":0,"x":206.00003051757812,"y":988.000301361084,"wires":[["b15bdd03.3b6c9","7b5671d8.3b347"]]},{"id":"eeeb703b.ccdd","type":"inject","z":"8989e6b8.a1b1c8","name":"","topic":"","payload":"Every Midnight","payloadType":"str","repeat":"","crontab":"00 00 * * *","once":false,"x":125.99989318847656,"y":1668.0000410079956,"wires":[["d81901f0.ddd22"]]},{"id":"d81901f0.ddd22","type":"function","z":"8989e6b8.a1b1c8","name":"Store Data Quality","func":"/*  */\n\nreturn msg;","outputs":1,"noerr":0,"x":356.9998893737793,"y":1668.0000410079956,"wires":[[]]},{"id":"4d38de07.4eaba","type":"comment","z":"8989e6b8.a1b1c8","name":"Store data quality every day for monthly reports?","info":"","x":201.99989318847656,"y":1710.0000448226929,"wires":[]},{"id":"3d3f4cfe.734a34","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Dates","func":"/*Finds dates available to filter data using ckan API*/\n\n// Access API; earliest EMS / BMS file\n// Get first record date = firstDate\n\n// Access API; latest EMS / BMS file\n// Get last recorded date = lastDate\n\n// Build array from firstDate - lastDate into msg.options\nmsg.options = [ \"Date 1\", \"Date 2\", {\"Date 3\": 3} ];\n\n//msg.maxDate = new Date(); // no way to limit dates?\n\nreturn msg;","outputs":"1","noerr":0,"x":515.0000839233398,"y":535.0000429153442,"wires":[["f191a467.972098","107ade59.bfac92"]]},{"id":"f132ad29.c374b","type":"function","z":"8989e6b8.a1b1c8","name":"Error Types","func":"/*Finds errors available to filter data */\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.length; i++){\n    \n    var key = msg.payload[i].description;\n    var value = msg.payload[i].id;  // key, value pair to add as option\n    var toPush = {};\n    toPush[key] = value; // create object to push and add key, value pair\n    ret.push(toPush); // TODO Add value as a label:value pair\n} \n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":489.0000991821289,"y":614.0000467300415,"wires":[["df37ce1a.fa343"]]},{"id":"d64f04d2.53e598","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Systems","func":"/*Finds systems (BMS / EMS) available to filter data using ckan API*/\n\nvar ret = [\"All\"];\nvar current = \"null\";\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Utility Type\"]; // system; heating, water, oil etc.\n    \n    // only add system if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){ \n        ret.push(current);\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":521.0000743865967,"y":653.0000581741333,"wires":[["82e98b68.3459f8","25d82a3f.897346"]]},{"id":"4bbb507b.421e9","type":"link out","z":"8989e6b8.a1b1c8","name":"From","links":["63ce0ebe.46f01"],"x":1225.0000820159912,"y":496.0000648498535,"wires":[]},{"id":"dd0987fd.8ce488","type":"link out","z":"8989e6b8.a1b1c8","name":"To","links":["63ce0ebe.46f01"],"x":1225.0000896453857,"y":536.0000638961792,"wires":[]},{"id":"e74bc4a4.416138","type":"link out","z":"8989e6b8.a1b1c8","name":"Building","links":["63ce0ebe.46f01"],"x":1225.0000820159912,"y":576.0000648498535,"wires":[]},{"id":"74b618d5.d95d98","type":"link out","z":"8989e6b8.a1b1c8","name":"Error","links":["63ce0ebe.46f01"],"x":1225.0000896453857,"y":615.0000667572021,"wires":[]},{"id":"69c069bb.dc4af8","type":"link out","z":"8989e6b8.a1b1c8","name":"System","links":["63ce0ebe.46f01"],"x":1226.0000896453857,"y":653.0000667572021,"wires":[]},{"id":"504d6d69.b1e8b4","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":807.099850654602,"y":1488.200119972229,"wires":[["c600fd41.59d2e","aa6ec943.d19078"]]},{"id":"e6247290.cb0fa","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.999841928482,"y":1528.3999252319336,"wires":[["c600fd41.59d2e"]]},{"id":"8154a43c.fb2ff8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.9998483657837,"y":1569.3999271392822,"wires":[["c600fd41.59d2e"]]},{"id":"b5943fd2.ff761","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":806.8998422622681,"y":1609.600025177002,"wires":[["c600fd41.59d2e"]]},{"id":"bbee2907.2fa4e8","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":[],"x":804.999849319458,"y":1650.3999290466309,"wires":[["c600fd41.59d2e"]]},{"id":"7a264854.fbdf68","type":"comment","z":"8989e6b8.a1b1c8","name":"Repeatedly Update Data Today","info":"","x":142.9998779296875,"y":1452.0000429153442,"wires":[]},{"id":"aa6ec943.d19078","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":946.0998458862305,"y":1488.3998279571533,"wires":[]},{"id":"7419d645.6879d8","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"true","x":1539.100341796875,"y":393.00006103515625,"wires":[]},{"id":"983614fd.8d85e8","type":"function","z":"8989e6b8.a1b1c8","name":"API Available Buildings","func":"/* Finds all available buildings to filter data */\n\nvar ret = [\"All\"]; // options always include an 'all'\nvar current;\n\n// create an array of all building names\nfor (var i = 0; i < msg.payload.result.records.length; i++){\n    \n    current = msg.payload.result.records[i][\"Building Name\"];\n\n    // only add building if it hasnt been seen previously and isnt blank\n    if (!ret.includes(current) && current!==\"\"){\n        \n        var key = msg.payload.result.records[i][\"Building Name\"];\n        var value = msg.payload.result.records[i][\"Building Code\"]; // key, value pair to add as option\n        var toPush = {};\n        toPush[key] = value; // create object to push and add key, value pair\n        ret.push(toPush); // TODO Add value as a label:value pair\n    }\n}\n\n// Sort array alphabetically\nret.sort(function(a, b){\n    if (a == \"All\") return -1;\n    if(a < b) return -1;\n    if(a > b) return 1;\n    return 0;\n})\n\nmsg.options = ret;\nreturn msg;","outputs":"1","noerr":0,"x":528.0000991821289,"y":575.0000495910645,"wires":[["a0294884.edd348","84507f92.c04c1"]]},{"id":"107ade59.bfac92","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"From","group":"2ed7948e.77b2cc","order":0,"width":"3","height":"1","passthru":true,"topic":"","x":834.2000465393066,"y":496.00006198883057,"wires":[["ce4d8d0.8fc0f7"]]},{"id":"f191a467.972098","type":"ui_date_picker","z":"8989e6b8.a1b1c8","name":"","label":"To","group":"2ed7948e.77b2cc","order":0,"width":"3","height":"1","passthru":true,"topic":"","x":834.2000122070312,"y":536.0000610351562,"wires":[["197d0135.10b1ef"]]},{"id":"a0294884.edd348","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Building","label":"Building","place":"Alexandra Park","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":842.2000122070312,"y":576.0000610351562,"wires":[["f3dd77cd.747f08"]]},{"id":"df37ce1a.fa343","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"Error","label":"Error Type","place":"All","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":832.2000122070312,"y":615.0000610351562,"wires":[["46114586.ada5fc"]]},{"id":"82e98b68.3459f8","type":"ui_dropdown","z":"8989e6b8.a1b1c8","name":"System","label":"System","place":"","group":"2ed7948e.77b2cc","order":0,"width":"6","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":841.2000122070312,"y":654.0000610351562,"wires":[["96ba1a61.e699a8"]]},{"id":"7b5671d8.3b347","type":"ui_chart","z":"8989e6b8.a1b1c8","name":"","group":"2ed7948e.77b2cc","order":0,"width":"24","height":"5","label":"Data Quality","chartType":"line","legend":"false","xformat":"D/M","interpolate":"linear","nodata":"Loading...","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#008837","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":470.60003662109375,"y":1059.8002891540527,"wires":[[],[]]},{"id":"7f25d20c.e4c02c","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends HTTP request headers to following HTTP request */\n\nvar apikey = global.get(\"apikey\");\nvar apiuser = global.get(\"apiuser\");\nvar apipass = global.get(\"apipass\");\n\n// Add api key to message request header\nmsg.headers = {\n    \"X-CKAN-API-Key\" : apikey\n};\n\n//msg.url = \"https://\"+apiuser+\":\"+apipass+\"@ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=planonmetadata\";\nmsg.topic = \"planon metadata\"\n\nreturn msg;","outputs":1,"noerr":0,"x":592.0000839233398,"y":373.0000514984131,"wires":[["a6eb2fdc.b39a8"]]},{"id":"3d6515b8.3a96ca","type":"function","z":"8989e6b8.a1b1c8","name":"meters / sensors URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Meters Sensors\";\nmsg.url = \"\";\nmsg.topic = \"meters meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n        \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":989.000072479248,"y":373.0000534057617,"wires":[["1ee9ffd6.721e3"]]},{"id":"7d2955fa.f1c73c","type":"http request","z":"8989e6b8.a1b1c8","name":"all meter meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.0001411437988,"y":373.00003242492676,"wires":[["7419d645.6879d8","8587f908.208bd8"]]},{"id":"98db57bb.8d5e48","type":"function","z":"8989e6b8.a1b1c8","name":"loggers / controllers URL","func":"/* */\n\nvar lookingFor = \"Planon metadata - Loggers Controllers\";\nmsg.url = \"\";\nmsg.topic = \"loggers meta\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        //msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id;\n    \n        var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        msg.url = url;\n    }\n}\n\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":1000.0000419616699,"y":415.0000524520874,"wires":[["6b2b7823.6129a8"]]},{"id":"6b7c85d8.1d9a9c","type":"http request","z":"8989e6b8.a1b1c8","name":"all logger meta","method":"GET","ret":"obj","url":"","tls":"","x":1372.6000061035156,"y":415.0000276565552,"wires":[["7419d645.6879d8","a3297796.11a758"]]},{"id":"a6eb2fdc.b39a8","type":"http request","z":"8989e6b8.a1b1c8","name":"All Metadata","method":"GET","ret":"obj","url":"","tls":"","x":764.8000717163086,"y":373.0000400543213,"wires":[["bd447cb7.ff48c","98db57bb.8d5e48","3d6515b8.3a96ca"]]},{"id":"376596dc.7c653a","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":1252.300277709961,"y":1339.999930381775,"wires":[]},{"id":"1ee9ffd6.721e3","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1201.3999290466309,"y":373.0000219345093,"wires":[["7d2955fa.f1c73c"]]},{"id":"6b2b7823.6129a8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    //\"Cookie\" : cookiename+\"=\"+cookie,\n    \"X-CKAN-API-Key\" : apikey\n}\nreturn msg;","outputs":1,"noerr":0,"x":1202.3999271392822,"y":415.0000219345093,"wires":[["6b7c85d8.1d9a9c"]]},{"id":"bd447cb7.ff48c","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":false,"console":"false","complete":"true","x":939.0000495910645,"y":330.000018119812,"wires":[]},{"id":"256767d0.0f9d38","type":"link out","z":"8989e6b8.a1b1c8","name":"meter meta","links":["c3dc36f3.538c08","44f66b0a.577e24","ca0a990d.376b38"],"x":1630.10009765625,"y":349.4000244140625,"wires":[]},{"id":"541083fb.ae157c","type":"link out","z":"8989e6b8.a1b1c8","name":"logger meta","links":["a44b4fd4.2ed73"],"x":1629,"y":435.0000305175781,"wires":[]},{"id":"3beea470.59512c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read EMS / BMS Metadata","info":"","x":129,"y":334,"wires":[]},{"id":"a44b4fd4.2ed73","type":"link in","z":"8989e6b8.a1b1c8","name":"building select","links":["541083fb.ae157c"],"x":379.10015392303467,"y":574.8000822067261,"wires":[["983614fd.8d85e8"]]},{"id":"4fb5aa0b.fd84e4","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Menus","info":"","x":94,"y":497.0000648498535,"wires":[]},{"id":"358cefac.80798","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers and URL","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\");\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\nvar apikey = global.get(\"apikey\");\nvar apipass = global.get(\"apipass\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie,\n    //\"X-CKAN-API-Key\" : apikey\n};\n\nvar url = \"https://ckan.lancaster.ac.uk/api/3/action/package_show?id=\"+global.get(\"system\");\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":294.99996185302734,"y":1341.0000038146973,"wires":[["459100a5.cd283"]]},{"id":"459100a5.cd283","type":"http request","z":"8989e6b8.a1b1c8","name":"Selected Package","method":"GET","ret":"obj","url":"","tls":"","x":512.7999496459961,"y":1341.0000038146973,"wires":[["c6a98a6e.359258"]]},{"id":"c6a98a6e.359258","type":"function","z":"8989e6b8.a1b1c8","name":"Find URL for Selected","func":"/* */\n\nvar lookingFor = global.get(\"filename\");\nvar count = global.get(\"count\");\nvar limit = global.get(\"limit\");\nmsg.url = \"\";\nmsg.topic = \"selected url\";\n\nfor (var i = 0; i < msg.payload.result.resources.length; i++){\n\n    if (msg.payload.result.resources[i].name == lookingFor){\n        msg.url = \"https://ckan.lancaster.ac.uk/api/action/datastore_search?resource_id=\"+msg.payload.result.resources[i].id+\"&offset=\"+count+\"&limit=\"+limit;\n    \n        //global.set(\"count\", count+limit)\n    \n        //var url = \"https://ckan.lancaster.ac.uk/api/3/action/datastore_search_sql?sql=SELECT * FROM \\\"\"+msg.payload.result.resources[i].id+\"\\\"\";\n        //msg.url = url;\n    }\n}\n\nmsg.payload = \"\" // remove payload\nreturn msg;","outputs":1,"noerr":0,"x":737.8000259399414,"y":1340.9999551773071,"wires":[["9d2e0a69.896be8"]]},{"id":"2da90e1e.1babe2","type":"http request","z":"8989e6b8.a1b1c8","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1108.3999729156494,"y":1339.9999322891235,"wires":[["376596dc.7c653a"]]},{"id":"9d2e0a69.896be8","type":"function","z":"8989e6b8.a1b1c8","name":"API Headers","func":"/* Appends cookie HTTP request headers to following HTTP request;\n A work around for current 2 stage authentication in CKAN*/\n\nvar cookiename = global.get(\"cookiename\"); // constant\n// cookie must be retrieved on eahc new session (from dev toold Ctrl+Shift+C in chrome)\nvar cookie = global.get(\"cookie\");\n\n// Add cookie to message request header\nmsg.headers = {\n    \"Cookie\" : cookiename+\"=\"+cookie\n}\nreturn msg;","outputs":1,"noerr":0,"x":934.1999778747559,"y":1340.9999532699585,"wires":[["2da90e1e.1babe2"]]},{"id":"63ce0ebe.46f01","type":"link in","z":"8989e6b8.a1b1c8","name":"","links":["4bbb507b.421e9","69c069bb.dc4af8","74b618d5.d95d98","dd0987fd.8ce488","e74bc4a4.416138"],"x":32.09993553161621,"y":1341.8000049591064,"wires":[["358cefac.80798","431c0c5b.85d114"]]},{"id":"96ba1a61.e699a8","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":995.9003067016602,"y":653.6001644134521,"wires":[["f434025f.54218"]]},{"id":"22cef1c5.1d873e","type":"comment","z":"8989e6b8.a1b1c8","name":"Process Menu Inputs","info":"","x":112.99992370605469,"y":1249.0000476837158,"wires":[]},{"id":"f434025f.54218","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"system\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1141.9999923706055,"y":653.0000667572021,"wires":[["69c069bb.dc4af8"]]},{"id":"a61eedaa.a331b","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"errortype\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1141.9999885559082,"y":615.0000667572021,"wires":[["74b618d5.d95d98"]]},{"id":"46114586.ada5fc","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":995.9003753662109,"y":614.6001625061035,"wires":[["a61eedaa.a331b"]]},{"id":"f3dd77cd.747f08","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":996.9999542236328,"y":576.0000553131104,"wires":[["95b88749.2efde8"]]},{"id":"197d0135.10b1ef","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":995.9999847412109,"y":536.0000629425049,"wires":[["a10709f6.598ca8"]]},{"id":"ce4d8d0.8fc0f7","type":"rbe","z":"8989e6b8.a1b1c8","name":"on change","func":"rbei","gap":"","start":"","inout":"out","x":995.9999847412109,"y":496.00006198883057,"wires":[["818748a6.118558"]]},{"id":"95b88749.2efde8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"building\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1139.9999542236328,"y":576.0000553131104,"wires":[["e74bc4a4.416138"]]},{"id":"a10709f6.598ca8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"to\", new Date(date))\n}\nelse {\n    global.set(\"to\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1139.9999885559082,"y":536.0000629425049,"wires":[["dd0987fd.8ce488"]]},{"id":"818748a6.118558","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nvar date = msg.payload;\n\nif (!(date instanceof Date)){\n    global.set(\"from\", new Date(date))\n}\nelse {\n    global.set(\"from\", msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1138.9999885559082,"y":496.0000629425049,"wires":[["4bbb507b.421e9"]]},{"id":"431c0c5b.85d114","type":"function","z":"8989e6b8.a1b1c8","name":"Required Filename(s)","func":"/* Returns a list of filenames needed to represent the specified data */\n\nvar ret = [];\n\n// Get system identifier\nvar sys = global.get(\"system\");\nvar system = sys.toLowerCase(); // contingency\n\n// Get month identifiers e.g 'jan', 'mar' etc.\nvar from = global.get(\"from\");\nvar to = global.get(\"to\");\nvar months = [ \"jan\", \"feb\", \"mar\", \"apr\", \"may\", \"jun\", \"jul\", \"aug\", \"sep\", \"oct\", \"nov\", \"dec\" ];\n\n// Get years\nvar yearFrom = from.getFullYear();\nvar yearTo = to.getFullYear();\n\nvar nMonth = from.getMonth();\nwhile (nMonth <= to.getMonth()){\n    \n    var month = months[nMonth];\n    ret.push(system + \"-\" + month + \"-\" + yearFrom);\n    nMonth++;\n}\n\n// improvement not working\n// var count = 0;\n// var toDisplay = from;\n// while (count <= monthDiff(from, to)){\n    \n//     var month = months[toDisplay.getMonth()];\n//     ret.push(system + \"-\" + month + \"-\" + yearFrom);\n//     var toDisplay = from.setMonth(from.getMonth()+1);\n//     count++;\n// }\n\n\nglobal.set(\"filenames\", ret);\nmsg.payload = ret;\nreturn msg;\n\n// https://stackoverflow.com/questions/2536379/difference-in-months-between-two-dates-in-javascript\nfunction monthDiff(d1, d2) {\n    var months;\n    months = (d2.getFullYear() - d1.getFullYear()) * 12;\n    months -= d1.getMonth() + 1;\n    months += d2.getMonth();\n    return months <= 0 ? 0 : months;\n}","outputs":1,"noerr":0,"x":219.69998931884766,"y":1290.9999055862427,"wires":[["1ef112d2.42b0ad"]]},{"id":"1ef112d2.42b0ad","type":"debug","z":"8989e6b8.a1b1c8","name":"","active":true,"console":"false","complete":"payload","x":415.70001220703125,"y":1290.9999046325684,"wires":[]},{"id":"4f3e9088.7d8c8","type":"comment","z":"8989e6b8.a1b1c8","name":"*Doesnt account for change in year","info":"","x":659.9999198913574,"y":1292.3999547958374,"wires":[]},{"id":"d77b532f.63064","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":844.1669311523438,"y":260.1333465576172,"wires":[["a62d0dd2.6cf79"]]},{"id":"39d4912f.4c5dae","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM erroneousassets","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM erroneousassets\";\nreturn newMsg;","outputs":1,"noerr":0,"x":612.388879776001,"y":214.11111879348755,"wires":[["a39a2df0.f1362"]]},{"id":"e0b22c46.3ba12","type":"delay","z":"8989e6b8.a1b1c8","name":"1s","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":359.1668109893799,"y":195.3334002494812,"wires":[["39d4912f.4c5dae","b7fe28.776ae1d8","a4037a0c.6e72e8","4dd9dc1b.9e83e4"]]},{"id":"4edb82c2.68317c","type":"comment","z":"8989e6b8.a1b1c8","name":"Read eisquality Database","info":"A 1 second delay is needed to delay msg to the \nmysql database node, otherwise the msg arrives too\nsoon and the databse has not connected. Perhaps this\nprecaution will not be needed in future releases of\nnode-red-node-mysql","x":120,"y":157.0000238418579,"wires":[]},{"id":"db6eac29.ddcb","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":154.9333896636963,"y":195.9333577156067,"wires":[["e0b22c46.3ba12"]]},{"id":"b7fe28.776ae1d8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errortypelookup","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errortypelookup\";\nreturn newMsg;","outputs":1,"noerr":0,"x":613.9332885742188,"y":168.9333267211914,"wires":[["4a627813.fa8af8"]]},{"id":"4a627813.fa8af8","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":845.9333038330078,"y":168.93332481384277,"wires":[["ff3d0625.f09af8"]]},{"id":"ff3d0625.f09af8","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errortypelookup","links":["941b2590.6fd828"],"x":963.1667804718018,"y":168.933349609375,"wires":[]},{"id":"941b2590.6fd828","type":"link in","z":"8989e6b8.a1b1c8","name":"error select","links":["ff3d0625.f09af8","a9c51a99.1baf38"],"x":380.16678524017334,"y":613.666805267334,"wires":[["f132ad29.c374b"]]},{"id":"c3dc36f3.538c08","type":"link in","z":"8989e6b8.a1b1c8","name":"system select","links":["256767d0.0f9d38"],"x":380.9333333969116,"y":652.9333429336548,"wires":[["d64f04d2.53e598"]]},{"id":"a4037a0c.6e72e8","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM errors","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM errors\";\nreturn newMsg;","outputs":1,"noerr":0,"x":581,"y":260,"wires":[["d77b532f.63064"]]},{"id":"a39a2df0.f1362","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846,"y":214,"wires":[["401ed0d7.b656a"]]},{"id":"401ed0d7.b656a","type":"link out","z":"8989e6b8.a1b1c8","name":"DB erroneousassets","links":["ca0a990d.376b38"],"x":962.0000648498535,"y":214.00003051757812,"wires":[]},{"id":"a62d0dd2.6cf79","type":"link out","z":"8989e6b8.a1b1c8","name":"DB errors","links":[],"x":962,"y":260,"wires":[]},{"id":"680ef8b2.f14d08","type":"inject","z":"8989e6b8.a1b1c8","name":"Once at Dashboard Launch","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":156.81250762939453,"y":534.8189249038696,"wires":[["3d3f4cfe.734a34"]]},{"id":"84507f92.c04c1","type":"link out","z":"8989e6b8.a1b1c8","name":"Building List","links":["6e3ed2c7.204a0c"],"x":795,"y":695,"wires":[]},{"id":"25d82a3f.897346","type":"link out","z":"8989e6b8.a1b1c8","name":"System List","links":["f688e36f.54454"],"x":795,"y":734,"wires":[]},{"id":"8587f908.208bd8","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"meters\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":349,"wires":[["256767d0.0f9d38"]]},{"id":"a3297796.11a758","type":"function","z":"8989e6b8.a1b1c8","name":"Store","func":"/* */\n\nglobal.set(\"loggers\", msg.payload.result.records);\nreturn msg;","outputs":1,"noerr":0,"x":1539,"y":435,"wires":[["541083fb.ae157c"]]},{"id":"e0fddea1.189bb","type":"comment","z":"8989e6b8.a1b1c8","name":"Same data used to populate dropdowns on other tabs","info":"","x":1021,"y":714,"wires":[]},{"id":"e97e3e27.cee2a","type":"comment","z":"8989e6b8.a1b1c8","name":"Populate Charts","info":"","x":95,"y":830.0188074111938,"wires":[]},{"id":"4dd9dc1b.9e83e4","type":"function","z":"8989e6b8.a1b1c8","name":"SELECT * FROM qualitylog","func":"var newMsg = { payload: msg.payload };\nnewMsg.topic=\"SELECT * FROM qualitylog\";\nreturn newMsg;","outputs":1,"noerr":0,"x":594.9332885742188,"y":123.9333267211914,"wires":[["bd4b753c.8bd818"]]},{"id":"bd4b753c.8bd818","type":"mysql","z":"8989e6b8.a1b1c8","mydb":"3e6a2382.3b8b5c","name":"","x":846.9333038330078,"y":123.93333053588867,"wires":[["a9c51a99.1baf38"]]},{"id":"a9c51a99.1baf38","type":"link out","z":"8989e6b8.a1b1c8","name":"DB qualitylog","links":["941b2590.6fd828","ff5efad9.a15c38"],"x":962.9332885742188,"y":123.9333267211914,"wires":[]},{"id":"9d5d040.f8e03f8","type":"function","z":"8989e6b8.a1b1c8","name":"Calculate Data Quality Month","func":"var msg1 = {};\nvar msg2 = {};\n\n//msg1.payload = Math.round(Math.random()*100);\nmsg1.payload = global.get(\"count\");\nmsg1.topic = \"Error\"\n\nmsg2.payload = 100 - msg1.payload;\nmsg2.topic = \"Success\"\n\nif (global.get(\"count\") > 0){\n    global.set(\"count\", global.get(\"count\")-Math.round(Math.random()));\n}\nelse {\n    global.set(\"count\", global.get(\"count\")+Math.round(Math.random()));\n}\n\nreturn msg2;","outputs":"1","noerr":0,"x":208.93331909179688,"y":1031.5333251953125,"wires":[[]]},{"id":"3709d3aa.907cbc","type":"ui_group","z":"","name":"Overview","tab":"74572b8e.f09ac4","order":2,"disp":true,"width":"12"},{"id":"c58cdd95.eecf9","type":"ui_group","z":"","name":"Errors","tab":"74572b8e.f09ac4","order":3,"disp":true,"width":"12"},{"id":"2ed7948e.77b2cc","type":"ui_group","z":"","name":"Trends","tab":"74572b8e.f09ac4","order":4,"disp":true,"width":"24"},{"id":"3e6a2382.3b8b5c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"eisquality","tz":""},{"id":"74572b8e.f09ac4","type":"ui_tab","z":"","name":"Quality Overview","icon":"dashboard","order":1}]
